[2018-04-26 08:52] johlju commented on #185
This seems to be in progress in the working branch xIisModuleFixes in this repo.

[2018-04-26 08:53] johlju commented on #186
This seems to be in progress in the working branch xIisModuleFixes in this repo.

[2018-04-26 09:01] johlju commented on #199
Relabelled this as enhancement instead of a bug. As for @PlagueHO's comment about changing the location of the CCS, if that can nt be a property in this resource, then that should be submitted as a anther issue if that requires an entire new resource.

[2018-04-26 09:08] johlju commented on #213
This issue should be refocused to do the rename as the other resource module are renamed, the entire resource module should be renamed. This is in progress in the working branch in this repo, that branch should be pulled into a new working branch (in the fork of whomever take this on) that renames this entire resource module to WebAdministrationDsc.

I have changed the title and relabelled this is

[2018-04-26 09:17] johlju commented on #201
It looks like this issue was resolved in PR #307. I'm closing this as resolved. If that is not the case, then please reopen or comment and I will reopen this issue. Thanks!

[2018-04-26 09:17] #201 closed

[2018-04-26 10:55] johlju commented on #204
I agree that the README.md should be updated and remove the links to the web site demo. Such web site could be built by the integration tests, and the integration tests can build a more complex web site containing of different web sites and web applications (etc.) to show off but also test all the functionality.

[2018-04-26 11:02] johlju commented on #207
To me all properties are present in the README.md, this was fixed in PR #237. Closing this issue as resolved.

[2018-04-26 11:02] #207 closed

[2018-04-26 11:06] johlju commented on #212
I think we should use the integration tests for this instead. Integration tests should be used to configure all or most aspects of the resource so users can validate the resources in a an environment of their choice.

I label this as discussion instead so the community can decide what is the best option for this.

[2018-04-26 11:08] johlju commented on #216
Closing this as this was resolved in PR #168

[2018-04-26 11:08] #216 closed

[2018-04-26 11:12] johlju commented on #221
I agree with @SNikalaichyk that the first approach seems better, more information is better than less information. Show the user all properties that differ from desired state.

[2018-04-26 11:31] johlju commented on #230
I suggest that an integration test is created with the provided configuration above to try to reproduce this behavior. Also, I suggest the appveyor.yml is changed to run integration tests on both Windows Server 2012 R2 and Windows Server 2016 - at least so long that AppVeyor provides these images.

[code]

[2018-04-26 11:43] johlju commented on #231
It seems it first run through evaluation so that the binding information is correct; https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebsite/MSFT_xWebsite.psm1#L1830
Then it get the web site using `Get-WebSite` to get the current binding information and compare it to the one provided and tested above; https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResourc

[2018-04-26 12:03] johlju commented on #233
Closing this issue as this is external, and this can't be solved in this repository. Please reopen or comment if this is not the case.

[2018-04-26 12:03] #233 closed

[2018-04-26 12:12] johlju commented on #235
@ccsandrew You can use xCertReq to issue the certificate and install it into the certificate store. Then use xWebSites to find the certificate using subject name for example. If you need further help, please open a new issue.

[2018-04-26 12:13] johlju commented on #235
Closing this issue since such resource module should be added to the resource module https://github.com/PowerShell/CertificateDsc

[2018-04-26 12:13] #235 closed

[2018-04-26 12:28] johlju commented on #241
@cezarypiatek Sorry that nobody answered you for so long. I think you need a new property `AnonymousCredential` that provides the username and password to use when `Anonymous = $true`. Also, if that new property `AnonymousCredential` is not provided, then maybe it can blank out username and password which means Application Pool is used (as per @PlagueHO comment above). Let me know if you want to w

[2018-04-26 12:36] johlju commented on #244
@jdhitsolutions I closing this due to age. If this is still a problem then please reopen or if someone else has this problem, then please comment. Thanks!

[2018-04-26 12:36] #244 closed

[2018-04-26 12:37] johlju commented on #250
Closing this as per previous comment.

[2018-04-26 12:37] #250 closed

[2018-04-26 12:39] johlju commented on #317
Lets track this problem in issue https://github.com/PowerShell/xWebAdministration/issues/80. Closing this issue.

[2018-04-26 12:39] #317 closed

[2018-04-26 12:40] johlju commented on #252
@csharmath We are tracking MSA and gMSA here https://github.com/PowerShell/xWebAdministration/issues/80

[2018-04-26 12:40] johlju commented on #252
Closing this issue as per @SNikalaichyk comment.

[2018-04-26 12:40] #252 closed

[2018-04-26 12:44] johlju commented on #255
@haidouks Can you provide on what OS and PowerShell version you are running this?

[2018-04-26 12:48] johlju commented on #269
@subbunori did you get an answer to this issue?

[2018-04-26 12:52] johlju commented on #278
Reopened PR https://github.com/PowerShell/xWebAdministration/pull/281 and labeled it as abandoned so someone else can continue the work on this.

[2018-04-26 12:53] cezarypiatek commented on #241
I can take it.

[2018-04-26 13:34] johlju commented on #292
Neither xWebApplication or xWebSite supports Form-based authentication as this time.

[2018-04-26 13:37] johlju commented on #296
I have labeled this as a bug and help wanted to that someone in the community can run with it.

[2018-04-26 13:38] johlju commented on #297
Closing this as resolved as per comments. Please reopen if that is not the case.

[2018-04-26 13:38] #297 closed

[2018-04-26 13:41] johlju commented on #298
This sounds like a bug. I think an integration test need to be created for this issue to test this scenario.

[2018-04-26 13:53] johlju commented on #301
What I can gather from the conversation is that there are a problem running this using partial configurations? Does someone have a partial configurations that fails that they can share (obfuscate any sensitive information), and the same configurations concatenated into one configuration that works?

[2018-04-26 14:16] johlju commented on #302
@ykuijs Thanks! Labeled this as in progress.

[2018-04-26 14:36] johlju commented on #269
@subbunori Thanks for answering after such a long time! Do you still have this problem or did you find a solution by yourself?

[2018-04-26 15:36] johlju commented on #241
Awesome! I have labeled this as 'In progress'. Thanks!

[2018-04-27 13:09] johlju commented on #306
Sorry that nobody answered your question for so long. You did everything correct adding this issue.

I think this was a problem in how Import-DscResource was loading resource when using `-Name`. 🤔 I have seen it reported before in other resource modules. I think it resolved now in newer builds? I know this has nothing to with this resource module. But do you still have a problem with this, let me

[2018-04-27 13:09] #306 closed

[2018-04-27 13:11] johlju commented on #310
Sorry that nobody answered your issue for so long. Are you still seeing this issue? If so, what OS editon and version, WMF and if you have a configuration to reproduce this it would be great!

[2018-04-27 13:12] johlju commented on #316
Sorry that nobody answered your issue for so long. I label this as resource proposal and help wanted. If you still want to run with this, let me know and a label it as 'in progress'.

[2018-04-27 13:26] johlju commented on #322
I label this as help wanted so that someone in the community can run with this.

[2018-04-27 13:40] johlju commented on #323
Thanks for reporting this! A test should be added to test this scenario. I label this as help wanted so that someone in the community can run with it. There are an open PR #350 that has been abandoned that someone is more than welcome to take over an run with.

[2018-04-27 13:48] johlju commented on #326
@DaveFranks Interesting, many thanks for reporting this! I think we just merged a fix for this issue, see PR #335. Can you please see if the current Dev version resolves this issue?

[2018-04-27 13:49] johlju commented on #328
@bulentozkir Were you able to resolve this with a available resource?

[2018-04-27 14:01] johlju commented on #331
Thanks for reporting this! Labeled this issue as help wanted so that someone in the community can run with it.

[2018-04-27 14:03] johlju commented on #336
Thanks for reporting this. Glad you found a solution. This should be documented, maybe as an example, and it should be added as an integration test.

[2018-04-27 14:12] johlju commented on #337
Looks very promising!

Only thing I can see directly is
 * `HandlerObject` probably should be named `xWebApplicationHandlerInformation`, or just `xWebApplicationHandler`.
* `Ensure` could default to `$true` and then it doesn't need to be `Required`, but `Write`.
* Property `HandlerObject` should probably be renamed to `Handler` (singular, it can be one or more), and it should have the type qualifi

[2018-04-27 14:28] johlju commented on #344
I think you looking for the resource that are currently in PR #330? Would they solve your problem?

[2018-04-27 14:34] johlju commented on #292
I have labeled this as 'help wanted' so that someone in the community can run with it.

[2018-04-27 14:36] johlju commented on #345
Labeled this as help wanted so that someone in the community can run with it.

[2018-04-28 02:07] DaveFranks commented on #326
@johlju  I tried the dev  branch with the updated code and it is now returning the correct values as expected.  Thank you for your attention to this matter.

[2018-04-28 09:28] johlju commented on #326
@DaveFranks thanks for verifying this! Closing this issue as solved.

[2018-04-28 09:28] #326 closed

[2018-05-01 13:53] johlju opened #351 "xWebAdministration: Stubs for unit tests should throw if they are called"
When the stubs are called, they are executed and nothing happens. They should instead throw an error saying that Stub was called. This way it is shown that a cmdlet wasn't mocked correctly. If cmdlets are not mocked correctly then when user expecting to run unit tests on a lab it could actually change the system that only an integration test should do.

All stub functions here:
https://github.com/

[2018-05-01 18:46] els-bernalj opened #352 "xIisFeatureDelegation error: Failure to get the results from the script in a hash table format."
Configuration:

[code]

When i run Get-DSCConfiguration on the node i get the following error:
[code]

If i run Test and Set it seems to work, but it fails every time when i run get. I have another configuration running with a different section and i receive the same error.

[2018-05-02 07:11] johlju commented on #352
It seems it fails on a Script resource you have in your configuration 'Get-DscConfiguration : PowerShell DSC resource **MSFT_ScriptResource**'. Can you confirm that you have a Script resource in your configuration?

[2018-05-02 14:11] els-bernalj commented on #352
Hello @johlju,

I do have some script resources but those finish without any errors. I'll run this again and paste the verbose output so that it'll have more information.

[2018-05-02 16:28] els-bernalj commented on #352
My apologies. You're right, i read that wrong. Sorry about that.

[2018-05-02 16:28] #352 closed

[2018-05-04 12:57] #267 closed

[2018-05-21 09:46] fadimaster opened #355 "Having trouble to edit web.config file under system.web"
Hi there,

is it possible to add in web.config file the following line under system.web:

[code]

[2018-05-21 13:41] rhys-intelliflo commented on #344
Looks like it

[2018-05-21 13:41] rhys-intelliflo commented on #344
thanks @johlju

[2018-05-21 14:18] johlju commented on #344
This issue will auto-close once the PR is merged.

[2018-05-21 14:29] johlju commented on #355
I don't think that is possible with any of to today's resources. Please look if PR #330 will solve you rproblem once merged.

[2018-05-22 10:26] fadimaster commented on #355
i'me trying to use the xWebConfigProperty instead of xWebConfigKeyValue and getting the error: "undefined DSC resource" on powershell means that Xwebadministration Module doesn't recognize xWebConfigProperty  parameter

[2018-05-22 11:49] Devvox93 commented on #305
Thanks for taking this up @scottmckenzie. I've been crazy busy and it totally slipped my mind :/
Apologies to @johlju also

[2018-05-22 13:18] johlju commented on #305
Yes, @scottmckenzie is doing a great job!

No worries @Devvox93, no need to apologize. We all are very busy 🙂

[2018-05-22 13:48] johlju commented on #355
xWebConfigProperty is a proposed (new) resource in pull request #330. It has not been merged into the resource module yet. If you want to test it out before it is merged into the resource module (and eventually released), you can check out the working branch of the PR author.

[2018-05-23 18:03] regedit32 opened #358 "xIisFeatureDelegation should support any path instead of hard-coding /system.webServer"
Currently xIisFeatureDelegation has a hardcoded Set-WebConfiguration `-Filter "/system.webServer/$SectionName"` which limits the ability to unlock sections under any other path like '/system.web'.  I propose we make the filter more dynamic so an admin can specify any path.  This would be a breaking change if we do not create a new resource for this.

Another addition could be to update the resourc

[2018-05-24 11:41] johlju commented on #358
Sounds good to me, breaking changes are okay. Can you propose an updated schema.mof which implementing both these changes?

[2018-05-25 01:11] regedit32 commented on #358
Sure thing, here's my proposed schema.mof:
[code]

And an example configuration:
[code]

Would I need to increment the class version in the schema.mof?  I can start working on resolving this issue.

[2018-05-25 09:12] johlju commented on #358
I'm out of my depth here so I trust your knowledge on this one. It looks good to me, though the `PsPath` probably should be just `Path` if it can be either of those you mention in the property description.

Please see this pull request (example), they are not the same as this issue proposes?
https://github.com/PowerShell/xWebAdministration/pull/330/files#diff-3cd75e0e55920bc9ff7953cf2a9daa0c

[2018-05-25 09:13] johlju commented on #358
You don't need to increment the version in the schema. I think it the version of the "schema type", not the version of the "resource". Never seen this change.

[2018-05-25 09:33] regedit32 commented on #358
Yes, the Filter and WebsitePath properties on that resource are essentially the same as the ones I called PsPath and ConfigSection.  I can use those names as instead, I think Filter especially would be more appropriate.

The two resources are different as one is managing web properties and this one is managing web elements, specifically the lock metadata.

[2018-05-25 09:55] johlju commented on #358
Sounds good too me.

[2018-05-30 06:03] johlju commented on #337
@boscoedash the change you are proposing in https://github.com/PowerShell/xWebAdministration/pull/360 will add a new resource for this instead? Will your proposal deprecate the resource xIisHandler?

[2018-05-30 06:12] johlju commented on #337
@nehrua Can you see if the resource proposed in PR #360 works as you intended (with the exceptions that it's a new resource).

[2018-05-30 14:13] nehrua commented on #337
@johlju The resource proposed in PR #360 works and I intended.  I worked with boscoedash and contributed to its development.  The resource in #360 is intended to deprecate xIisHandler, as it should be able to handle handlers hardcoded in the xIisHandler as well as many others.  Sorry for the confusion.

[2018-05-31 15:14] maxgqc commented on #241
Is this a thing yet ? I really need this feature

[2018-06-01 08:11] johlju commented on #337
@nehrua No worries! Great collaboration! 😃 Then we should deprecate xIisHandler in PR #360 as well.

[2018-06-04 19:14] cezarypiatek commented on #241
I've started to implement it on my fork https://github.com/cezarypiatek/xWebAdministration but I haven't had time to manage the UT. Btw I think that ` xWebApplication` and `xWebSite` require refactoring because there is a massive code duplication which make this modules hard to extend.

[2018-06-05 06:32] #358 closed

[2018-06-05 08:03] johlju commented on #241
@cezarypiatek Agree with that those should be refactored to use helper functions, same goes for the *Defaults resource(s) too.

[2018-06-06 20:28] boscoedash opened #363 "xIisHandler: Remove deprecated resource"
New resource 'xWebApplicationHandler' will replace the 'xIisHandler' resource

[2018-06-07 09:02] johlju opened #364 "Recent merged PR added duplicate CIM class definition"
Integration tests did not catch when there are duplicate CIM class definitions, so the tests passed for PR #357.
The following error is shown in the AppVeyor console, but it does not fail the tests.

https://ci.appveyor.com/project/PowerShell/xwebadministration/build/1.17.1078.0?fullLog=true#L1149
[code]

[2018-06-07 09:03] johlju commented on #364
@ldillonel we missed this. What do you think would the best way to resolve this?

[2018-06-08 20:43] ldillonel commented on #364
I will change the name of the class to eliminate the duplication and fix the bug.

[2018-06-09 09:38] johlju commented on #364
@ldillonel Thank you so much for fixing this! 🙇

[2018-06-10 16:00] Davidsod opened #366 "xWebVirtualDirectory: Must specify '/' for WebApplication when virtual directory is under the website"
Hello,

When running the resource with 'Absent' flag, I'm getting the following error:
`##[error]PowerShell Desired State Configuration does not support execution of commands in an interactive mode. Please ensure
that the underlying command is not prompting for user input, such as missing mandatory parameter, confirmation prompt
etc.
    + CategoryInfo          : NotSpecified: (:) [], CimException

[2018-06-11 06:13] #364 closed

[2018-06-11 06:19] johlju commented on #364
@ldillonel Really appreciate you taking the time to resolve this blocking release issue! Thank you so much! 🙇

[2018-06-11 10:31] Davidsod commented on #366
Hello johlju,

Thank you for your quick response.

Note that the problematic is **Vd1**.

**Verbose output of the xWebVirtualDirectory section**
[code]

This is the configuration section:

[code]

[2018-06-11 12:45] johlju commented on #366
It must be this command that fails.What happens if yu run that command manually? What error message do you get? It might that it's missing a `-Force`?

https://github.com/PowerShell/xWebAdministration/blob/687808bff766cfbe87438c758801ac439d1b99ca/DSCResources/MSFT_xWebVirtualDirectory/MSFT_xWebVirtualDirectory.psm1#L143-L145

[2018-06-11 13:09] Davidsod commented on #366
Hi johlju,

I think I've found the problem, which is probably related to the fact that the virtual directory is under the website and not under specific application.

When I ran the command with -application "" (empty) it always prompt for an application.
Once i've replaced it to -application "/" it worked.

I'll test it soon with DSC and keep you posted.

David.

[2018-06-11 13:21] johlju commented on #366
I hope it works, if it does the documentation should be updated. 🙂

[2018-06-11 14:00] Davidsod commented on #366
Good news my friend 👍 it worked!
[code]

[2018-06-11 14:18] johlju commented on #366
@Davidsod Awesome! 😃  Would you mind posing the working configuration (only the one resource that failed)? Just for reference

[2018-06-14 00:54] mwhisler commented on #345
I think this a great idea.  I've got a unique requirement with Azure Files in which I need a DSC configuration to utilize it as a UNC path; however, it requires a different credential to access it.   Passing those credentials in along with the physical path would be awesome.

[2018-06-15 06:38] dave-sampson13 opened #369 "Remove deprecated xWebConfigKeyValue resource in future release"
#330 replaces the xWebConfigKeyValue resource with new resources that provide more comprehensive functionality. Suggest the xWebConfigKeyValue resource is removed in a future release.

[2018-06-17 12:11] Davidsod commented on #366
@johlju sorry for the delay, there you go:
[code]
The solution is the '/' instead of '':
`WebApplication = '/'`

[2018-06-18 05:44] johlju commented on #366
@Davidsod Thank you, that should be documented.

[2018-06-18 13:38] mkeller25 opened #371 "xWebAppPool doesn't support Periodic Restart"
I have a use case where I need to clear the periodic restart property for an application pool. This is separate from the restartschedule property (I've tested it.)

![image](https://user-images.githubusercontent.com/21065741/41477363-04ebf3ca-7092-11e8-860e-89dccde360f1.png)

See image above. I'm trying to set the property "Regular Time Interval" not the "Specific Times" array.

I would be happy t

[2018-06-18 15:43] johlju commented on #371
If you want to give it a try, adding this and creating tests that validates the change, then I would start by looking how a present property is set, for example `logEventOnRecycle`,

In the Get-TargetResource
https://github.com/PowerShell/xWebAdministration/blob/5497e7dc79b08f68852cfaee22b61a3ba17b793f/DSCResources/MSFT_xWebAppPool/MSFT_xWebAppPool.psm1#L85-L93

And it's a parameter in Set- and Te

[2018-06-18 19:12] regedit32 opened #372 "Get-DscConfiguration will throw when xWebsite returns $null LogCustomFields"
Get-DscConfiguration is very particular about the data type that is returned.  In the MOF String LogCustomFields is defined as an array, but if $website.logFile.customFields.Collection is $null, then $null is  being included in the Get return, which is not the same as an empty array.  $cimLogCustomFields should be casted as an array.

[2018-06-19 05:44] johlju commented on #372
@regedit32 Do you have the error message that Get-DscConfiguration is throwing when this happen?

Looking for if we should add an example for testing the types in the unit and/or integration [test template](https://github.com/PowerShell/DscResources/tree/master/Tests.Template).

[2018-06-19 07:43] haidouks commented on #255
@johlju It was Windows Server 2012 R2. Issue is still there but I am not using this code any more. You can close this issue.

[2018-06-19 08:04] johlju commented on #255
@haidouks Thanks for your response. I label this as a bug end help wanted so anyone in the community can run witg it.

[2018-06-19 08:13] haidouks commented on #255
Thank you @johlju

[2018-06-19 08:14] johlju opened #374 "xWebConfigProperty: Return the wrong type for some values"
This is from PR https://github.com/PowerShell/xWebAdministration/pull/330 review comment, it was commented on line 137 in MSFT_xWebConfigProperty.psm1

[code]

Some configuration property values are strings and some are integers, but we can only have one datatype for $value in the mof. We should add a helper function to convert it to integer if needed. Something like this, but perhaps there is a b

[2018-06-19 08:15] johlju opened #375 "xWebConfigPropertyCollection: Return the wrong type for some values"
This is from PR https://github.com/PowerShell/xWebAdministration/pull/330 review comment, it was commented on line 137 in MSFT_xWebConfigProperty.psm1, **but the same problem is most likely in the resource xWebConfigPropertyCollection too.**

[code]

Some configuration property values are strings and some are integers, but we can only have one datatype for $value in the mof. We should add a helper

[2018-06-19 08:20] #249 closed

[2018-06-19 08:20] #338 closed

[2018-06-19 08:20] #344 closed

[2018-06-19 10:58] regedit32 commented on #372
Here's the error message:
[code]

[2018-06-20 06:42] johlju commented on #372
@regedit32 submitted an issue https://github.com/PowerShell/DscResource.Tests/issues/239 to track adding tests to test framework or template for this.

[2018-06-20 06:43] johlju commented on #372
Closing this as this was resolved in PR #373.

[2018-06-20 06:43] #372 closed

[2018-06-28 08:22] johlju opened #377 "Integration tests inconsistently throw in the Finally block"
Integration tests inconsistently throw in the Finally block on `Restore-WebConfiguration -Name $tempName` with this error:
[code]

Would it help adding a Start-Sleep before Restore-WebConfiguration and wait a few seconds for it to release the lock? Or should we just re-try a few times with a few seconds interval until an error is thrown?

[2018-06-28 08:29] #374 closed

[2018-07-03 14:55] regedit32 commented on #315
@rosberglinhares do you mind if I take your branch and create a PR?  I have a local version that my team has been using.  I can't remember, but I think I did some cleanup as well.

@johlju In general, what is the protocol for issues/pull requests that are abandoned?  Can anyone pick it up and continue it?  I don't want to steal any credit, but I'd like some of these changes to be public.

[2018-07-03 15:53] johlju commented on #315
@regedit32 Yes, anyone is allowed to pick up abandoned PR's. PR's get automatically abandoned after 14 days if there a no activity on the PR.

https://github.com/PowerShell/DscResources/blob/master/GettingStartedWithGitHub.md#how-to-continue-working-on-a-pull-request-when-an-author-contributor-is-unable-to-complete-it

I see the phrasing "then there is a possibility..."  is wrong, should say "then

[2018-07-03 16:09] johlju commented on #315
@regedit32 Saw that the question was regarding issues too... I would say that the same applies here, if nothing happens for a while (2 weeks sounds reasonably), it's okay for anyone to pick up an issue an run with it, regardless of in progress.
I have recently been thinking that I should not set issues in 'In progress' until a PR is submitted. Setting it as 'in progress' was to help contributors n

[2018-07-03 16:10] johlju commented on #315
@regedit32 If you want to work on this issue and @rosberglinhares doesn't respond until tomorrow, then I say, run with this issue.

[2018-07-04 10:23] #337 closed

[2018-07-05 19:22] SergeDubovsky opened #379 "xWebConfigPropertyCollection: support single property collection"
I am trying to add a Server Variable to rewrite. In the C:\Windows\System32\inetsrv\config\applicationHost.config, the desired outcome looks like this:
[code]
I have a script that creates the variable:
`Add-WebConfigurationProperty -pspath $IISPath -filter "system.webServer/rewrite/allowedServerVariables" -name "." -value @{name="RESPONSE_Server"}
`
So far, I can't figure out the way to do the sam

[2018-07-05 20:47] regedit32 commented on #379
Hello @SergeDubovsky.  Anytime you need to set a web configuration property using a hash table, that indicates it is a collection, which would normally require **xWebConfigPropertyCollection** to manage it.  In this case, the collection only has one property, so xWebConfigPropertyCollection will not work.  However you can still manage a one property collection like this with **xWebConfigProperty**

[2018-07-06 11:41] harmoniemand commented on #329
Is there any workarround for this Bug?

[2018-07-06 13:18] SergeDubovsky commented on #379
There are some more issues. When I have several variables in the collection, the contents of
$targetResource.Value in this line MSFT_xWebConfigProperty\MSFT_xWebConfigProperty.psm1: 224
`if ( ($null -eq $targetResource.Value) -or ($targetResource.Value.ToString() -ne $Value) )`
if following:
[code]
It would be better to use something of this sort to check if there is an entry in the collection:
`(

[2018-07-06 13:39] SergeDubovsky commented on #379
The issue is "evolved" :) I am trying to use the suggested example for the task, I was trying to implement. I don't think, the xWebConfigProperty resource will work for it, as @regedit32  suggested.
If there are items in the collection already, Set-TargetResource would fail with this error:
[code]

If there are no items in the collection, it would fail with this:
`Target configuration object 'syst

[2018-07-06 14:31] johlju commented on #379
@regedit32 Could you possible assist here please? 🙂 Is it functionality missing so this should be an enhancement?

[2018-07-10 03:45] regedit32 commented on #379
@johlju Yes, after testing some more I can see it is not going to work as-is with xWebConfigProperty.  Since this is a collection with a single property that we're trying to solve here, it seems like the solution should go in the xWebConfigPropertyCollection resource to be able to handle this type of collection.  Otherwise we'd be adding logic to xWebConfigProperty to conditionally handle single p

[2018-07-11 09:17] johlju commented on #332
PR #347 is abandoned (no activity for over two weeks since it opened), so currently no one in the community is working on this. Anyone may pick up the abandoned PR and co to use the work.

[2018-07-12 13:43] nickgw opened #380 "xWebsite: LogTruncateSize is not a property of (Get-Website).LogFile"
Setting LogTruncateSize in xWebsite always fails Test-TargetResource because it compares $LogTruncateSize to (Get-Website).logFile.LogTruncatesize.

The property is TruncateSize, not LogTruncateSize so Test-TargetResource always fails.

https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebsite/MSFT_xWebsite.psm1#L1062

[2018-07-16 20:11] mhendric opened #382 "Possible to set custom logging (x-forwared-for) via xWebAdministration?"
I wanted to see if it's possible to configure custom logging via xWebAdministration, and if someone could provide an example on how to use it to configure the below XML snippet which adds the x-forwarded-for header to IIS logs? The assumption is that the logFile block, and everything underneath it, does not exist, and would need to be created and configured. I'm having trouble figuring out how to

[2018-07-17 18:22] johlju commented on #382
@regedit32 Can you provide some insight to this maybe?

[2018-07-18 02:00] regedit32 commented on #382
@mhendric Looks like we're missing some documentation on how to do this.  Here's an example on how to manage multiple log custom fields with xWebSite:

[code]

The same is possible with xIisLogging if needed at the server level as well.  This should be doable with xWebConfigPropertyCollection too, but we are missing documentation on how to manage collections with more than one property.  When I ge

[2018-07-18 02:01] regedit32 commented on #379
I haven't put much thought into a potential solution yet, but yes, that makes the most sense to me.

[2018-07-18 05:02] johlju commented on #379
Renamed this issue. Labeling this as an enhancement, and help wanted.

[2018-07-18 15:52] mhendric commented on #382
@regedit32 , excellent, thanks! I'll give this a shot.

[2018-07-23 07:10] #375 closed

[2018-07-25 13:49] johlju opened #385 "xWebConfigPropertyCollection: Timing issue in integration tests"
There seems to be a timing issue with one of the integration tests in xWebConfigPropertyCollection. The integration tests passed on the PR, but failed when dev-branch ran tests.

[code]
https://ci.appveyor.com/project/PowerShell/xwebadministration/build/1.17.1123.0?fullLog=true#L2292

It seems it fails on this row.
https://github.com/PowerShell/xWebAdministration/blob/50177b94684223cda326989a57fd0

[2018-07-25 13:52] johlju commented on #385
Note: If the tests fail when we release, then this will become a blocking release issue.

[2018-07-25 17:02] regedit32 commented on #385
I haven't been able to replicate the issue in my lab, but I've seen it happen occasionally on the TFS build my team uses.  A few weeks back I might have resolved it by rearranging the finally block like this below, but I can't recall if it has popped up again.

[code]

By running Restore-TestEnvironment first, it just gives the system an extra second to unlock the file handle. I'd imagine an arbit

[2018-07-25 17:37] regedit32 commented on #385
This is also the same as #377

[2018-07-25 18:11] johlju commented on #377
Closing this in favor of issue #385

[2018-07-25 18:11] #377 closed

[2018-07-25 18:12] johlju commented on #385
I think that will do, since this is the integration tests, and we are restoring the test environment, a `Start-Sleep` a few seconds is good with me.

Closed issue #377 as a duplicate, since we are discussing here.

[2018-07-27 12:48] #385 closed

[2018-07-27 17:18] matt6697 commented on #322
Will this configuration new be possible through xWebConfigProperty / xWebConfigPropertyCollection ?

[2018-07-28 21:02] regedit32 commented on #322
@matt6697 Yes, xWebConfigProperty would be the right resource for this.  Here's an example how to set the useAppPoolCredentials property:
[code]

Pretty much any web configuration property or collection can be managed with those two resources.  Single property collections have proven to be tricky and there is a issue open for that.

[2018-07-29 00:03] #212 closed

[2018-07-29 00:03] #231 closed

[2018-07-29 00:03] #236 closed

[2018-07-29 00:03] #291 closed

[2018-07-29 00:03] #310 closed

[2018-07-29 00:03] #328 closed

[2018-07-29 00:03] #301 closed

[2018-07-31 09:45] elduddz opened #390 "WebAdministrationDsc property is AuthenticationInfo not AuthenticationInformation on Website"
Property on Website element as part of WebAdministrationDsc is documented in the readme as AuthenticationInformation, I get an error on running saying that AuthenticationInfo is supported not AuthenticationInformation.

[2018-08-01 16:59] regedit32 commented on #390
@elduddz hi, I'm not clear on the specifics of the issue or what resource it is in reference to.  Can you provide an example configuration to reproduce this error?

[2018-08-01 17:34] elduddz commented on #390
On the webadministrationdsc branch there is a property defined for the website element as authenticationinformation this should be authenticationinfo

So the following errors

[code]

[2018-08-01 17:41] johlju commented on #390
The WebAdministrationDsc branch haven’t been worked on for 2 years. It was WIP (Work In Progress) back then I wasn’t finished. The dev branch is the branch that should be used, and WebAdministrationDsc should probably be deleted because the dev branch has progress so much further, and it’s probably a lot of work resolving conflicts in that branch after two years.

So please use the dev branch.

[2018-08-01 17:43] johlju commented on #390
Please also note that the master branch is he branch currently released to PowerShell Gallery.

[2018-08-01 18:05] elduddz commented on #390
Ok thanks, I'm getting everything from powershell gallery.

The master branch is xwebadmin I was using webadmindsc because I thought everything was going that way?

The link to the project from powershell gallery for webadmindsc brings you to the webadmindsc branch. So that is what I was following for the readme details.
________________________________
From: Johan Ljunggren <notifications@github.

[2018-08-01 18:10] johlju commented on #390
Aha, I didn’t know that branch was deployed to PowerShell Gallery, but as version 0.1.0.0, so looks like a test more than an actual release. Either way, that is less than good, since people are using two different modules.

There haven’t been a release of

[2018-08-01 18:42] elduddz commented on #390
👍 ok I'll revert back to xwebadmin I thought it was a bit odd to be using website but xwebapppool in the same DSC 😁

[2018-08-01 18:42] #390 closed

[2018-08-03 11:50] #315 closed

[2018-08-06 13:04] regedit32 commented on #318
This can be set with xWebConfigProperty, so this is now resolved by PR #330.  Please re-open if you feel this needs to be further addressed.

[2018-08-06 13:04] #318 closed

[2018-08-06 13:05] regedit32 commented on #355
This is now resolved by PR #330.  Please re-open if you feel this needs to be further addressed.

[2018-08-06 13:05] #355 closed

[2018-08-06 13:14] regedit32 commented on #170
This appears to now be resolved by PR #330.  Please re-open if you feel this needs to be further addressed.

[2018-08-06 13:14] #170 closed

[2018-08-29 13:21] boscoedash opened #392 "WebApplicationHandler: Does not allow 'Location' parameter usage for targeting virtual directories"
#### Details of the scenario you tried and the problem that is occurring

- discussed in issue description

#### Verbose logs showing the problem

#### Suggested solution to the issue

- add location parameter

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

- anything that targets a virtual directory

#### The operating system the target node is ru

[2018-08-31 13:35] regedit32 commented on #392
Fixed per #394

[2018-08-31 13:35] #392 closed

[2018-09-11 14:39] Francois-Rousseau opened #396 "xWebAdministration: xWebSite: Impossible to set Site ID"
#### Details of the scenario you tried and the problem that is occurring
There is no property to set the ID of a site while creating a WebSite with xWebSite ressource.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Add a "ID" property in the ressource so we can specify the site ID.

#### The DSC configuration that is used to reproduce the issue (as detailed as possibl

[2018-09-12 08:35] johlju commented on #396
This looks like it would be an easier addition to the resource, passing the a `SiteId` as parameter and adding that ti the `Id` parameter on the cmdlet [New-WebSite](https://docs.microsoft.com/en-us/powershell/module/webadminstration/new-website).

*Maybe we should avoid using `Id` as a parameter on the resource as it might conflict with a built-in property in the future?*

[2018-09-13 09:14] mikekltc opened #397 "xWebSite: Get-DscConfiguration fails if the site contains a web.config with a system.codedom section"
#### Details of the scenario you tried and the problem that is occurring

I have created some empty web sites using the xWebSite resource. The idea is to prepare a server to host ASP.NET and ASP.NET Core applications. The applications themselves will be published from Visual Studio using Web Deploy.

Executing the initial configuration works fine, empty sites are created as expected.

After the ap

[2018-09-13 09:29] johlju commented on #397
@mikekltc Thanks for the extremely detailed issue! Thanks to the details it should be a lot easier to write a regression tests (adding a config file with web.config with the `<system.codedom>`).  I'm not familiar enough around this to know if changing to what you suggestion would have other issues, but labeling this as a bug an help wanted.

/cc @regedit32

[2018-10-01 14:21] geoffguynn opened #401 "xWebConfigPropertyLocation - For the ability to modify locked config sections"
### Description
xWebConfigPropertyLocation specifies the location parameter to Get-WebConfiguration so that modifications to locked config sections can be made.

### Proposed properties
    [Key, Description("Path to website location (IIS or WebAdministration format).")] String WebsitePath;
    [Key, Description("Filter used to locate property to update.")] String Filter;
    [Key, Description("Na

[2018-10-01 18:45] regedit32 commented on #401
@geoffguynn Thanks for opening the issue. **xIisFeatureDelegation** is an option for unlocking config sections, but in cases where that is not a viable option, I can see the value in using the Location parameter.

However, I don't think we should have redundant resources to add one parameter because that would be a lot duplicate code.  We've introduced breaking changes in the past and it would jus

[2018-10-01 18:55] johlju commented on #401
It is not an issue to introduce breaking changes as long as it improves the resource. Agree that in this case it is needed to not introduce duplicated code.

Sometimes it’s not possible to see every aspect of a resource when it’s first created, so breaking changes is inevitable to improve the resource module.

[2018-10-01 19:01] johlju commented on #401
Curious, what is “location” in this case? I haven’t heard the term before so trying to learn :)

What is a locked configuration section? Are the locked configuration sections known so we could have a `ValidateSet` where one value could be ‘None’?
If the location could be any value, I understand the need for a blank value. The blank value would mean the default configuration location?

[2018-10-01 19:14] geoffguynn commented on #401
Certain properties in the web.config are by default locked to a location tag in the xml of applicationhost.config

My sample.ps1 for this resource shows one such property.

When this happens, you can add a tag in the applicationhost.config called AllowOverride=True (which is not desirable from my customer's preference) or by specifying a location paremeter that tells the cmdlet to put the setting

[2018-10-07 21:31] geoffguynn commented on #401
I got some more spare time and did testing on the "blank parameter" suggestion. Here's what I came up with.

When using location as a key param, the set, get, and test functions require it to be set mandatory, and by doing so, a blank string will not be accepted. The only way I was able to get it to work is to set a throwaway value of "None" and then filter for it when making the calls in the func

[2018-10-08 18:52] regedit32 commented on #401
To make it still a mandatory parameter, you would need to use the `[AllowEmptyString()]` attribute on the parameter.  [xPackage ](https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/MSFT_xPackageResource/MSFT_xPackageResource.psm1)is an example of a resource that allows an empty string Key property

[2018-10-16 22:52] sernone opened #402 "xWebConfigProperty Filter property showing Missing function body in function declaration."
#### Details of the scenario you tried and the problem that is occurring
 xWebConfigProperty "Web$($loc)Config" {
            Ensure = "Present"
            WebsitePath = "IIS:Default Web Site/$Using:loc"
            Filter = 'security/access'
            PropertyName = "sslflags"
            Value = "None"
        }

Missing function body in function declaration.

+             Filter = "//securi

[2018-10-18 14:35] regedit32 commented on #402
Hello @sernone , can you provide more context to the configuration script you are using and when the error occurs?  Do you get this error when compiling the MOF or after the MOF is applied to the node?

You shouldn't need the `$using:` scope inside the resouce block.  You're also missing the `\` in the IIS path.  Maybe it was a bad copy/paste, but can you try this instead:

[code]

[2018-10-26 13:24] SergeDubovsky opened #404 "Version on the PSGallery"
![image](https://user-images.githubusercontent.com/1774209/47568978-7458bc80-d900-11e8-849c-670ac5ccd69e.png)
A little trouble - our targets are not web-connected, so we host a local repository for resources, we need. Yesterday I had some troubles trying to use a direct copy of xWebAdministration, pushed to a local repo. On the PSGallery, the package version is 2.3.0 in the module it is 2.3.0.0, s

[2018-11-05 10:38] OffColour commented on #382
A small change to this for anyone who might blindly copy and paste like I did.
It should now be MSFT_xLogCustomField not  MSFT_xLogCustomFieldInformation

[2018-11-05 13:55] regedit32 commented on #382
Hi @OffColour, it depends on which resource you are using and if you're targeting a specific website or applying at the server level.

If configuring log custom fields at the site level, then [MSFT_xLogCustomFieldInformation](https://github.com/PowerShell/xWebAdministration/blob/b8f744180a92ac5eada0b8b5a8a263f30f73d284/DSCResources/MSFT_xWebsite/MSFT_xWebsite.schema.mof#L25) would be used with **x

[2018-11-08 18:15] bswerdlen opened #405 "xWebsite - Get-TargetResource returns LogFlags as a single element array instead of an array of strings"
#### Details of the scenario you tried and the problem that is occurring
When running the xWebsite function Get-TargetResource the LogFlags key of the hashtable of data returned contains a single string element of all log flags separated by a comma. Expected behavior is a multi-element array where each element contains 1 log flag.

#### Verbose logs showing the problem
### First, I copied all cont

[2018-11-12 12:37] OffColour commented on #382
@regedit32 Ah, that makes sense now.
I'm using it with **xIisLogging** and all working perfectly.
Thanks.

[2018-11-14 16:26] csharmath opened #406 "xWebAdministration: nupkg includes .git .github .vscode etc"
#### Details of the scenario you tried and the problem that is occurring
@kwirkykat
The xWebAdministration nupkg package ships with it's git repo.
Should be ignored for nuget packaging.

[code]
#### Verbose logs showing the problem
see above
#### Suggested solution to the issue
ignore git
#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

[2018-11-15 16:57] bswerdlen commented on #405
I have also stumbled on this being an issue with xIisLogging for the LogFlags parameter. The same fix is recommended

[2018-11-20 18:19] darkonejr commented on #404
Can confirm this is an issue with people who import this package into a local repo (like ProGet).   When I edit the .nuspec and change the version 2.3.0.0, everything works.  I'd submit a PR to fix, but the nuspec isn't in the git repo.

[2018-11-20 22:42] csharmath commented on #406
bump

[2018-11-26 21:07] rkyttle commented on #406
I ran into an issue with this as well.  Working with DSC and Azure, and I was trying to commit this module inside of my own Git repo which is setup to auto build zip files needed for Azure to work with DSC and I was unable to commit the module files until I removed all of the unneeded <.> folders/files

[2018-11-27 11:29] DennisGaida opened #407 "MSFT_xWebBindingInformation: variables don't seem to be working"
#### Details of the scenario you tried and the problem that is occurring
I'm trying to use configuration variables within `MSFT_xWebBindingInformation`. It doesn't seem to work with variables - as soon as I hardcode values everything is working fine. Local variables also work, anything that comes from the node config doesn't.

See below DSC configuration. When I use `$test` as `CertificateSubject

[2018-11-27 11:49] #407 closed

[2018-11-27 11:50] DennisGaida commented on #407
My mistake - $Node.CAWildcardSubject really was empty.

[2018-11-30 20:36] regedit32 commented on #405
I agree.  The LogExtFileFlags value returned from IIS is not an array, but since the resource was designed to accept an array for this setting, then we should be returning the value as an array. Your proposed solution would be a good enhancement.

[2018-11-30 21:47] regedit32 commented on #76
@sc-bperry thanks for resurfacing this.  Are you able to make that change in your environment and verify it resolves the issue?

[2018-11-30 22:56] sc-bperry commented on #76
Oh, I've never been much of a community contributor (out of fear, not a lack of responsibility) so I'm not even sure how to do a pull request or whatever is involved. This will be a good excuse to do it, so I'll give it a shot over the weekend if I have time. I have, however, added a Script resource with a dependency on the xWebsite resource that will update the certificate bindings and that has w

[2018-12-01 00:48] sc-bperry commented on #76
I cloned the resource and tested it with my VMs using Azure DSC and it assigned the correct certificates with the correct IP addresses when I specified multiple certificate/IP bindings for a site. Would it be appropriate for me to do a pull request for this? Sorry to be such a noob!

[2018-12-01 04:21] regedit32 commented on #76
That's great news and thanks for taking this on.  No worries about this being your first PR here, it will get easier each time.  For info on the contribution process, you can check out [Contributing Guidelines](https://github.com/PowerShell/DscResources/blob/master/CONTRIBUTING.md) and [Getting Started with GitHub](https://github.com/PowerShell/DscResources/blob/master/GettingStartedWithGitHub.md#

[2018-12-04 15:41] csharmath commented on #406
Hello @kwirkykat,

don't mean to bug you but you seem to be the maintainer of this module.
It seems like that this is a packaging / publishing issue impacting other DSC modules as well for example the Azure one mentioned by @rkyttle or xExchange just to mention a few more.

And it's not uncommon that folks are saving a module then trying to git commit to their own repos to track it as a 3rd party

[2018-12-20 20:48] darkonejr commented on #404
Bumping this, this is still an issue.

[2018-12-20 21:30] cezarypiatek commented on #241
I've got stuck with weird error related to CIM objects. The issue is described in related PR
https://github.com/PowerShell/xWebAdministration/pull/408

Can somebody help me with that?

[2018-12-29 20:41] cezarypiatek commented on #241
@johlju @kwirkykat  could you help me?

[2019-01-02 11:40] vlariono commented on #397
The issue happens because upper level web.config already contains this section (in my case C:\Windows\Microsoft.NET\Framework\v4.0.30319\Config\web.config). clear  tag stops this error.  Example:
[code]
I also suspect this issue can happen with other sections if so wide expression is used.
It seems using full path is better way of retrieving the list of default docs and maybe a little faster.

[2019-01-02 19:16] BK1127 opened #409 "Create AppPools with .NET in the name"
I can create all the appools I want, except if the name is ".NET V2.0 32Bit" for example.  I can create the apppool if it's "NET V2.0 32Bit", but that .NET is throwing an error.

PowerShell DSC resource MSFT_xWebAppPool  failed to execute Set-TargetResource functionality with error message: The running command stopped because the preference
variable "ErrorActionPreference" or common parameter is s

[2019-01-09 14:44] regedit32 commented on #241
Thanks for submitting the PR for this issue. Sorry for the delay.  I'll take a look at the error you're running into later tonight and reproduce in my environment.

[2019-01-16 12:04] regedit32 commented on #406
The .git files have now been removed as of the current release 2.4.0.0

[2019-01-16 12:04] #406 closed

[2019-01-20 05:58] darkonejr commented on #404
Another bump, this is still a problem for us.

[2019-01-21 15:55] bartjanson commented on #241
@regedit32 Any progress on the PR yet?

[2019-01-21 15:56] cezarypiatek commented on #241
Still waiting for a help, no response from @regedit32  so far.

[2019-01-22 15:46] regedit32 commented on #404
Is this still an issue after the latest 2.4.0.0 release?

[2019-01-22 19:46] darkonejr commented on #404
Yes.  The nuspec has `2.4.0`, the .psd1 has `2.4.0.0`

[2019-01-22 21:36] regedit32 commented on #404
@darkonejr thanks for confirming.

[2019-01-28 02:49] #397 closed

[2019-01-30 15:11] wh33ly opened #412 "xWebsite: Certificate subject compare fails with multiple entries"
#### Details of the scenario you tried and the problem that is occurring
Currently working on a scenario to create a certificate signed by our CA and bind it as a website binding to a website.

As long as I use a simple subject like the host name the binding goes correct. As soon as I enter a subject as it is required within our company it fails. I figured out where the problem occurs.

**Example:

[2019-02-01 19:31] twerthi commented on #241
@cezarypiatek I see you have some recent commits, are you close to having a working solution?

[2019-02-01 21:42] cezarypiatek commented on #241
@twerthi  I'm in the middle of adding tests for this feature in `xWebSite` module. After that I need to repeat everything for`xWebApplication` because there is a code duplication  between this two modules (or find a way to reuse current solution) I'm probably going to split this into two PR.

[2019-02-05 20:32] erjenkin opened #414 "MSFT_xIisLogging.psm1 does not contain a parameter for $TargetLogW3C"
#### Details of the scenario you tried and the problem that is occurring
MSFT_xIisLogging.psm1 does not contain a parameter for $TargetLogW3C with ValidSet('File', 'ETW', 'File,ETW'). This configuration item is required to maintain compliance with security guidelines for IIS server (STIG V-76683)
#### Verbose logs showing the problem
![image](https://user-images.githubusercontent.com/44269812/5230

[2019-02-12 16:55] csharmath commented on #396
@johlju - do you mind taking a quick look at this commit ?
https://github.com/csharmath/xWebAdministration/commit/539e6ced13dad1ec6ee3f08b9e9c9e5dad205481

[2019-02-13 14:33] regedit32 commented on #414
@erjenkin Thanks for opening the issue.  This will be a good enhancement to the resource.

[2019-02-13 14:39] regedit32 commented on #409
@BK1127 Thanks for opening the issue.  I can confirm that a Application Pool beginning with a `.` character cannot be created using `New-WebAppPool -Name '.anything'` without getting the error
[code]

There may be an alternative approach that could be investigated.

[2019-02-15 14:20] erjenkin opened #417 "MSFT_xWebsite.psm1 does not contain a parameter for $LogTargetW3C"
### Description
MSFT_xWebsite.psm1 does not contain a parameter for $TargetLogW3C with ValidSet('File', 'ETW', 'File,ETW'). This configuration item is required to maintain compliance with security guidelines for IIS Site (STIG V-76785)

### Proposed properties
![image](https://user-images.githubusercontent.com/44269812/52862268-e00aa380-3102-11e9-93a2-53fa3e14e29e.png)

### Special considerations

[2019-02-15 15:08] #414 closed

[2019-02-15 16:54] #396 closed

[2019-02-15 23:09] dreams3290 commented on #288
hi, how did you fix this?

[2019-02-20 18:57] #417 closed

[2019-02-21 01:33] darkonejr commented on #404
Just a reminder here, this is still broken in 2.5.0.0

[2019-02-28 15:34] danSpotter opened #420 "Help wanted. xWebConfigPropertyCollection"
I have a script I'm converting to DSC that has 50 some iterations of set-webconfigurationproperty. Can these be combined? Is this what xWebConfigPropertyCollection is used for?

Set-WebConfigurationProperty "/system.applicationHost/applicationPools/applicationPoolDefaults/processModel" -Name "idleTimeout" -Value 00:20:00

Set-WebConfigurationProperty "/system.applicationHost/applicationPools/appli

[2019-03-04 16:43] bartjanson commented on #241
Any progress to report on?

[2019-03-16 03:15] #412 closed

[2019-04-08 22:38] gpduck commented on #379
I just got this working using the following syntax:

[code]

[2019-04-09 07:48] mvandriessen commented on #81
The PR has been closed again, should it be opened again so someone else can work on this. This functionality would be really helpful.

[2019-04-09 10:10] johlju commented on #81
I think someone else can continue the work and send in a new PR. Can anyone pick up PR #202?

See this how to continue working on an abandoned PR.
https://github.com/PowerShell/DscResources/blob/master/GettingStartedWithGitHub.md#how-to-continue-working-on-a-pull-request-pr-when-an-author-contributor-is-unable-to-complete-it

[2019-04-09 19:25] cezarypiatek commented on #241
Thanks for the reminder. I will try to get back to this on Saturday.

[2019-04-12 20:19] EklipZgit commented on #366
feels like the property shouldn't be required, and should use '/' by default if none is specified. Was very confusing to try to figure out how to add a vDir when I didn't have a WebApplication in the site, ended up finding this issue to realize I need to specify '/'. My 0.02

[2019-04-14 21:56] cezarypiatek commented on #241
I think I've finished with UT for` xWebsite` module. I need to only complete non-development task, such as doc update etc.

[2019-04-15 19:24] cezarypiatek commented on #241
Two things:

1. I think I've got stuck again with integration tests. Some of them are failing and there is no useful error message. Details in #408. Help needed.

2.  Instead of adding custom CIM type for credentials maybe I should use `MSFT_Credential` ? What is the proper way of handling passwords in DSC?

[2019-04-16 15:36] johlju commented on #241
@cezarypiatek I think for item 2 you should have MSFT_Credential for the property Password in MSFT_xWebAnonymousAuthenticationCredentials, otherwise the password will not be encrypted.

Looking at item 1 now.

[2019-04-16 15:44] johlju commented on #241
For item 1. Could it be that it does not return the correct object on this line `AnonymousCredentials     = $anonymousCredentials`. That this line is $null but should always be the CIM instance MSFT_xWebAnonymousAuthenticationCredentials. For example if the website returns false for this `$anonymousAuthentication.enabled` then Get-AnonymousCredentials will not return the correct CIM instance.

Cou

[2019-04-16 17:08] cezarypiatek commented on #241
@johlju so CIM fields cannot be null?

[2019-04-16 17:21] johlju commented on #241
Honestly not sure, but Get-DscConfiguration that is failing in the integration test usually fails if the return value has the wrong type. So I’m guessing it tries to access the object, but there are no objects.
If that is the case, maybe you can return a CIM instance but the properties are null.

To test it, I would hard code an object in the code and manually run Get-DscConfiguration to see what

[2019-04-16 17:23] cezarypiatek commented on #241
thanks, I will try this.

[2019-05-11 20:49] cezarypiatek commented on #241
Ok, I'm trying now to implement it using `MSFT_Credential`. I model myself on `xWebAppPool` and application pool credentials. The `Get-TargetResource` method is returning Credential field with username and password values. Doesn't it violate security? It looks like a way to retrieve credentials from the system.
cc: @johlju

[2019-05-12 06:12] johlju commented on #241
What I meant it should return an CIM Instance of the instance `MSFT_xWebAnonymousAuthenticationCredentials`, not `MSFT_Credential`. The instance of `MSFT_xWebAnonymousAuthenticationCredentials` that is returned could just contain the user name, and not the password. Or both values in that instance could probably be `$null`.

We are talking about this line in the schema, right?

https://github.com/

[2019-05-12 10:20] cezarypiatek commented on #241
I think that  introducing `MSFT_xWebAnonymousAuthenticationCredentials` is a bad idea and I wan to implement this feature in the same way as `MSFT_xWebAppPool` is handling application pool identity credentials (It uses `MSFT_Credential`) but I'm not sure if that existing implementation of  `MSFT_xWebAppPool` is secure. Please review `Get-TargetResource` from  `MSFT_xWebAppPool` and tell me if it's

[2019-05-12 10:39] johlju commented on #241
Using MSFT_Credential means the credentials (password) get encrypted when the configuration is compile. This is the default, that compiling a configuration containing a MSFT_Credential requires a certificate to protect the password.

Using the other instance would not be secure. Although, you could probably use a MSFT_Credential instance for the property Password in the MSFT_xWebAnonymousAuthentic

[2019-05-14 20:26] regedit32 opened #423 "Rule 'PSDSCUseIdenticalMandatoryParametersForDSC' causing tests to fail"
As described in https://github.com/PowerShell/PSScriptAnalyzer/issues/1192, a change in PSScriptAnalyzer 1.18 is causing the related PSSA test to fail on resources with sub classes.  A workaround (rule suppression) is needed to unblock the next release or wait until the fix to PSScriptAnalyzer is published in the next update.

[2019-05-14 21:20] #423 closed

[2019-05-23 13:08] BarnumD opened #426 "Add configurationpath to xIisMimeTypeMapping example since it is now a required field."
In the examples directory, the example for xIisMimeTypeMapping does not include `configurationpath`.  However, the module was recently changed to make that an required field.  Please update the example to include this.

[2019-07-01 09:12] gaelcolas commented on #182
It's worth having a look at #219 which was WIP then abandonned.
The Tests/Unit/MSFT_xIisModule.tests.ps1 has some unit test worth attempting to port over, but the module may have changed since it was written in 2016.

[2019-07-03 04:46] trolleyboy opened #430 "xWebConfigPropertyCollection: braces not accepted in ItemKeyValue"
#### Details of the scenario you tried and the problem that is occurring

I'm trying to add a URL Rewrite condition that has the ItemKeyValue "{HTTPS}".  When applying this via DSC, I get this error logged to the DSC Operational log:

`MIResult: 1
Error Message: The PowerShell DSC resource '[xWebConfigPropertyCollection]HSTS_Condition' with SourceInfo '::688::9::xWebConfigPropertyCollection' threw

[2019-07-05 15:07] psychonic commented on #430
Nice timing. I actually ran into this issue recently as well.

I could not find a way to properly escape the key name for the XPath query. However, I was able to partially fix the issue on my local copy of the module by tweaking this in Get-ItemValues

From
[code]
To
[code]

That handles Get and Test. Set is already fine when an item with that key doesn't already exist. I still haven't quite figur

[2019-07-08 17:54] #426 closed

[2019-07-26 09:49] lonevvolf opened #433 "xIisModule: Fails when set to Ensure='Absent'"
#### Details of the scenario you tried and the problem that is occurring
Here is the DSC setup:
		xIISModule DisableWebDAVModule
		{
			Ensure = 'Absent'
			Name = 'WebDAVModule'
			Path = "IIS:\"
			RequestPath = '%windir%\System32\inetsrv\webdav.dll'
			Verb = "*"
		}
When run, it fails:
VERBOSE: [WEB-QAT-VM1]: LCM:  [ Start  Resource ]  [[xIisModule]DisableWebDAVModule]
VERBOSE: [WEB-QAT-VM1]:

[2019-07-30 20:01] mcbobke opened #434 "xWebAppPool: 'logEventOnRecyle' causes configuration to return false if the order of your desired events does not match what is written to applicationHost.config"
#### Details of the scenario you tried and the problem that is occurring
When defining `xWebAppPool` and setting the `logEventOnRecycle` property, the order in which each desired event is placed in the string should not matter. However, if this string is written with each item in a different order than will be written to `applicationHost.config` then the resource will fail on `Test-DscConfiguratio

[2019-08-02 19:37] kamidon74 commented on #287
So how is this one doing?

[2019-08-21 11:22] rnsc commented on #379
Worked for me with xWebAdministration 2.7.0.0.

[2019-08-21 13:49] johlju commented on #379
I suggest that we add that to an example then.

[2019-08-26 13:35] rnsc commented on #379
That would be great, the current documentation for xWebAdministration is not always super straightforward. I was happy to find the above example by browsing the issues :)

[2019-08-26 14:17] johlju commented on #379
@rnsc agree, this resource module needs more love (help) from the community in many areas.

[2019-09-06 09:21] caractacus commented on #366
Hi,

I am experiencing 'interactive mode' faults when running

Remove-WebVirtualDirectory -Filter <string> -Application <string> -Name <string> -Confirm:$false

The error occurs when the virtual directory contains content.  When there is no content, the Remove-WebVirtualDirectory call succeeds in non-interactive mode.

An internal call to "Remove-Item" prompts to "remove all items". This prompt ca

[2019-09-06 14:44] johlju commented on #366
@caractacus that is outside the scope of this DSC resource module. Please submit an support case to Microsoft so they can help you resolve your issue.

A workaround would of course be to remove the content before removing the virtual directory.

[2019-09-06 14:50] #332 closed

[2019-09-06 15:00] #402 closed

[2019-09-06 15:03] johlju commented on #404
This is discussed here and will be resolved for all repos in the DSC Resource Kit when possible, so closing this issue.

[2019-09-06 15:03] #404 closed

[2019-09-06 15:03] johlju commented on #404
Sorry, the issue https://github.com/PowerShell/DscResources/issues/508 is where this is being discussed. 🙂

[2019-09-06 15:12] johlju commented on #420
I think `xWebConfigPropertyCollection` is meant to configure a value for an array (collection) of values. 🤔 Maybe you are looking for `xWebConfigProperty`? You must add each value as a separate instance I think.

See examples here; https://github.com/PowerShell/xWebAdministration/tree/dev/Examples

If you have solved you issue and have an examples that you can share then please send in an pull req

[2019-09-06 15:12] #420 closed

[2019-09-06 15:18] johlju commented on #433
This probably needs this to be added in the module to expand environment variables

https://github.com/PowerShell/SqlServerDsc/blob/2337c7cbaa9c47d5bf82802ec77167922ec892b6/DSCResources/MSFT_SqlSetup/MSFT_SqlSetup.psm1#L1078

[2019-09-06 18:00] #325 closed

[2019-09-06 20:34] mcbobke commented on #434
This issue is being addressed by #439.

[2019-09-09 18:33] #434 closed

[2019-09-16 16:42] NikCharlebois opened #443 "BREAKING CHANGE: xIisModule"
Made the resource more generic to handle all managed modules. Properties changed to:

[Key, Description("The logical name of the module to add to IIS.")] String Name;
[Key, Description("The IIS Site to register the module. Use '*' to specify the server's root.")] String SiteName;
[Required, Description("The code associated with the module to register")] String Code;

[2019-09-18 18:16] sc-bperry commented on #76
I finally decided to follow through with this and contribute to the project, but I see that this was very recently updated by commit [a7139f12e387df061023e2a1e05fee461cef96f8](https://github.com/PowerShell/xWebAdministration/commit/a7139f12e387df061023e2a1e05fee461cef96f8) in the 2.7.0.0 dev branch. Thanks to @mcbobke for this!

[2019-09-18 19:28] mbobke commented on #76
Happy to help!

[2019-09-18 19:29] mcbobke commented on #76
Happy to help!

[2019-09-19 18:00] nlupica1 commented on #379
I believe this issue also occurs when trying to add another default document.

`        # Add maintenance.html to the default documents
        xWebConfigPropertyCollection 'default-doc' {
            WebsitePath = 'MACHINE/WEBROOT/APPHOST'
            Filter = 'system.webServer/defaultDocument/files'
            CollectionName = 'Collection'
            ItemName = 'add'
            ItemKeyName =

[2019-09-23 15:00] bartjanson commented on #241
Is there any progress on this issue?

[2019-09-23 16:33] johlju commented on #241
This was been worked on in Pr https://github.com/PowerShell/xWebAdministration/pull/408. If anyone want to send in a new PR to continue this work then please do.

[2019-09-23 16:45] cezarypiatek commented on #241
After the discussion about security, I was forced to start everything from the begging.  Unfortunately, I haven't had time to finish it. My current work is available on my fork. If anyone has a resource to continue it, feel free to use my work,

[2019-09-23 16:47] johlju commented on #241
@cezarypiatek Thank you for the update! 🙂

[2019-09-29 08:04] johlju opened #446 "Move change log from README.md to CHANGELOG.md"
We should move the change log out from the README.md and into a separate file CHANGELOG.md.

See example https://github.com/PowerShell/ActiveDirectoryDsc/blob/dev/CHANGELOG.md

Also in the README.md we should add a change log section. See example https://github.com/PowerShell/ActiveDirectoryDsc#change-log

[2019-09-29 08:16] #405 closed

[2019-09-29 08:22] johlju opened #447 "Best practice is to add resources to module manifest"
During deployment of a module there are a warning outputted that there is a best practice to include the resources in the module manifest (in the `DscResourcesToExport` property). I suggest we do that.

This is an example of the error when deployed another module.
[code]

[2019-09-29 08:24] devevignesh commented on #446
I would like to claim this. Thanks

[2019-09-29 08:28] johlju commented on #447
That property is not supported in a module manifest that target PowerShell version 4 and above. We should do this when this module is PS 5 and above only.

[2019-09-29 08:28] #447 closed

[2019-09-29 08:33] johlju opened #448 "Optimize the exporting in the module manifest"
See https://docs.microsoft.com/en-us/windows-server/administration/performance-tuning/powershell/module-authoring-considerations

We should change

https://github.com/PowerShell/xWebAdministration/blob/4f19e762c648af0346b6fef382bf5e1c674a48dd/xWebAdministration.psd1#L61-L65

To

[code]

[2019-09-29 08:36] johlju opened #449 "Reorder resources alphabetically in README.md"
In the README.md the resources are not in alphabetical order, so it's harder to find a resource. We should move these in alphabetical order.

[2019-09-29 08:40] johlju opened #450 "Add a a ToC to the resource section in the README.md"
We should add a ToC to the top of the resource section in the README.md, before all the individual resource sections. The Table of Contents should look similar to this example https://github.com/PowerShell/SqlServerDsc#resources. The Table of Contents should be in alphabetical order and have a link to each individual resource section.

This should replace the list at the top a line 3 https://githu

[2019-09-29 09:05] johlju opened #451 "We should add a requirements section to each individual resource documentation"
We should add a requirements section to each individual resource section in the README.md.

At a minimum we should add this. But if there are more known requirements then please list them too.

[code]

See example in the resource documentation here:
https://github.com/PowerShell/SqlServerDsc/blob/dev/README.md#sqlag

[2019-09-29 09:10] johlju opened #452 "Add a short descriptive text what each resource does in the README.md"
For each individual resource documentation in the README.md we should add a descriptive text explaining what the resource does; 'This resource is used to...'.

See example https://github.com/PowerShell/SqlServerDsc/blob/dev/README.md#sqlagdatabase

[2019-09-29 09:12] johlju opened #453 "xIisHandler: Missing descriptions on properties in the schema.mof"
Missing descriptions for each property in MSFT_xIisHandler.schema.mof. The descriptions should align with the README.md.

[2019-09-29 09:15] johlju opened #454 "xWebApplication: Missing descriptions on class MSFT_xWebApplicationAuthenticationInformation"
Missing descriptions on the on the class MSFT_xWebApplicationAuthenticationInformation in the schema.mof.

[2019-09-29 09:17] johlju opened #455 "xWebConfigKeyValue: Missing description on property Ensure"
The description is missing from the property Ensure in the schema.mof.

[2019-09-29 09:19] johlju opened #456 "xWebSite: Missing descriptions on properties in the schema.mof"
The properties in the schema.mof are missing descriptions. Many descriptions can propbably be taken from the README.md. 🤔

[2019-09-29 09:22] johlju opened #457 "xWebSiteDefaults: Should be made to follow the best practice for single instance resource"
The resource should be changed to follow the best practices to make single instance resource. This would change the property name of the key property. This is a breaking change.

https://docs.microsoft.com/en-us/powershell/dsc/resources/singleinstance

[2019-09-29 09:34] johlju commented on #451
This has been incorporated into issue #452

[2019-09-29 09:34] #451 closed

[2019-09-29 09:35] johlju opened #458 "xWebAdministration: Opt-in to publish wiki content"
We should opt-in to publish wiki content https://github.com/PowerShell/DscResource.Tests#publish-wiki-content

To be able to opt-in we need to

* Resolve issue https://github.com/PowerShell/xWebAdministration/issues/452
* Remove all of the resource documentation from the README.md (it will be generated automatically)

[2019-09-29 10:52] johlju commented on #446
@devevignesh it's yours, looking forward to the PR! 😄

[2019-09-29 11:02] johlju opened #459 "xIisFeatureDelegation: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:04] johlju opened #460 "WebApplicationHandler: Localization folder has wrong casing"
The localization folder has the casing `en-us` but it should be `en-US`.

https://github.com/PowerShell/xWebAdministration/tree/dev/DSCResources/MSFT_WebApplicationHandler

[2019-09-29 11:08] johlju opened #461 "xSslSettings: The name of the resource has the wrong casing"
The resource has the wrong casing in the resource name. The casing should be `xSslSettings` in both file names, folder names, and in the schema.mof. The documentation should be updated as well.

[2019-09-29 11:11] johlju opened #462 "xWebAppPoolDefaults: Should be made to follow the best practice for single instance resource"
The resource should be changed to follow the best practices to make single instance resource. This would change the property name of the key property. This is a breaking change.

https://docs.microsoft.com/en-us/powershell/dsc/resources/singleinstance

[2019-09-29 11:13] johlju opened #463 "xIisHandler: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:13] johlju opened #464 "xIisLogging: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:14] johlju opened #465 "xIisMimeTypeMapping: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:14] johlju opened #466 "xIisModule: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:14] johlju opened #467 "xSslSettings: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:15] johlju opened #468 "xWebApplication: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:16] johlju opened #469 "xWebAppPool: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:17] johlju opened #470 "xWebAppPoolDefaults: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/ #

[2019-09-29 11:17] johlju opened #472 "xWebConfigKeyValue: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:18] johlju opened #473 "xWebConfigProperty: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:18] johlju opened #474 "xWebConfigPropertyCollection: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:20] johlju opened #475 "xWebSite: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:20] johlju opened #476 "xWebSiteDefaults: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:20] johlju opened #477 "xWebVirtualDirectory: Move localization strings to strings.psd1 file"
We should move the localization strings to a strings.psd1 file. See the localization https://dsccommunity.org/guidelines/localization/

[2019-09-29 11:43] johlju commented on #446
We must also update the first entry in the file https://github.com/PowerShell/xWebAdministration/blob/dev/.github/PULL_REQUEST_TEMPLATE.md. It should say that we should update the Unreleased section in CHANGELOG.md.

[2019-09-29 13:17] #460 closed

[2019-09-29 14:45] devevignesh commented on #446
@johlju Opened PR for your review. Thanks.

[2019-09-30 14:36] johlju opened #481 "Update change log task list entry in PULL_REQUEST_TEMPLATE.md"
I suggest to change the chnage log task list entry to the following. Helping contributors to understand what the change log entry should consist of.

[code]

[2019-09-30 14:47] johlju opened #482 "xWebAdministration: Remove examples README.md"
We can remove this examples README.md as it is obsolete. https://github.com/PowerShell/xWebAdministration/blob/dev/Examples/README.md

*The integration tests should be made to create a scenario to set up a web site.
If we should use a dummy website as an example we should instead use something that is using MIT License. But that is another issue and PR. Just remove the README.md for now.*

[2019-09-30 14:51] johlju opened #483 "xWebAdministration: Examples should be in individual resource folders"
We should move the existing examples to individual resource folders
https://github.com/PowerShell/xWebAdministration/tree/dev/Examples

See example of individual resource folders for examples here https://github.com/PowerShell/ActiveDirectoryDsc/tree/dev/Examples/Resources

[2019-09-30 14:54] johlju opened #484 "xIisModule: Missing example(s) for resource"
We should add at least one example for this resource.

[2019-09-30 14:55] Sweta271097 commented on #481
@johlju Can I take up this issue?

[2019-09-30 14:58] Sweta271097 commented on #481
@johlju For this task are we supposed to create changes in the Readme.md or create a new CHANGELOG.md?

[2019-09-30 15:01] johlju opened #485 "xWebAdministration: Move example from README.md to examples folder"
This example https://github.com/PowerShell/xWebAdministration#registering-php should be moved to the Examples folder. Preferably in the root of the Examples folder as an end-to-end example.

*Please note that examples are tested so they can be compiled.*

[2019-09-30 15:12] johlju opened #486 "xWebSite: Move example from README.md to examples folder"
This example https://github.com/PowerShell/xWebAdministration#stopping-the-default-website should be moved to the Examples folder. Preferably in the individual resource example folder if it exist.
In the description for the comment-based help it should use the text that describing the example in the README.md.

*Please note that examples are tested so they can be compiled.*

[2019-09-30 15:16] Tuxhedoh commented on #485
I think I'd like to take a crack at this. Is this literally just taking the example and putting it in it's own ps1 file in the examples folder? I'm assuming that you'd still want the PHP instructions on the page, with a link to the example.

[2019-09-30 15:17] johlju opened #487 "xWebSite: Move example from README.md to examples folder"
This example https://github.com/PowerShell/xWebAdministration#create-a-new-website should be added as new example, and in the description for the comment-based help it should use the text that describing the example in the README.md.

[2019-09-30 15:20] johlju commented on #485
@Tuxhedoh Yeah, just put in the root of the Examples folder. Make sure the name says something with end-to-end so we can differentiate it from the individual resource examples (that should go in separate folders mentioned in another issue).

For the text, please add a comment-based help block as seen here.
https://github.com/PowerShell/ActiveDirectoryDsc/blob/3e96da395d40c8667702b03a6b8665dc1ee354

[2019-09-30 15:22] johlju commented on #485
All text goes in the comment-based help block, and remove it from the README.md entirely.

[2019-09-30 15:25] johlju opened #488 "xWebAdministration: Remove example from README.md"
We should remove this example https://github.com/PowerShell/xWebAdministration#creating-the-default-website-using-configuration-data as it provides no extra help.

*There are better examples around the web how to use the parameter `-ConfigurationData`.*

[2019-09-30 15:27] johlju opened #489 "xWebAppPool: Remove example from README.md"
We should remove this example from README.md https://github.com/PowerShell/xWebAdministration#create-and-configure-an-application-pool since there already is an example in the Examples folder that covers this.

[2019-09-30 15:30] Abijith10 commented on #489
Should I remove the last example alone?

[2019-09-30 15:33] johlju commented on #489
Remove the entire section `create-and-configure-an-application-pool`. The other examples should be moved.

[2019-09-30 15:34] Abijith10 commented on #489
Ok I am on it.

[2019-09-30 15:36] johlju opened #491 "xWebAdministration: Move example from README.md to examples folder"
This example https://github.com/PowerShell/xWebAdministration#all-resources-end-to-end-scenario should be moved to the Examples folder. Preferably in the root of the Examples folder as an end-to-end example. In the description for the comment-based help it should use the text that describing the example in the README.md.

The configuration `Sample_IISServerDefaults` should be incorporated into the

[2019-09-30 15:37] Tuxhedoh commented on #485
What's the proper etiquette when it comes to handling multiple issues in one repo? Make one PR and resolve them all? There seems to be quite a bit of low hanging fruit in this project. I recognize with Hacktoberfest there will probably be quite a few people clamoring for the issues to get their 4 pr's.

[2019-09-30 15:42] johlju commented on #485
Just mention in an issue that your are working on it, then you may send in one PR that resolves them all or several PR's that solves one each. Normally I personally send in a PR fixing a bunch of PR's.

I expect during October to get small PR's resolving one issue. That was my meaning with all these `hacktoberfest` issues. I also hope new contributors (to GitHub) feel they want to try send in thei

[2019-09-30 15:48] johlju commented on #481
Ah my bad. Forgot to mention that this PR https://github.com/PowerShell/xWebAdministration/pull/480 is moving the change log from the README.md. So I created this issue to get an updated text in the PULL_REQUEST_TEMPLATE.md.

You only need to update the entry in the PULL_REQUEST_TEMPLATE.md, but you will probably have to resolve conflicts after I have merged the above PR, or wait until the above P

[2019-09-30 15:49] johlju commented on #481
@Sweta271097 you may have this issue. 😃

[2019-09-30 15:56] Sweta271097 commented on #481
@johlju Thanks, I'm on it.

[2019-09-30 15:57] Abijith10 commented on #489
Done and did a pull request. :)

[2019-09-30 16:12] Abijith10 commented on #491
What do I name the file?

[2019-09-30 16:27] johlju commented on #491
I suggest `Sample_AllResources_EndToEnd.ps1`

Also, please see this example how to add a comment-based block for the descriptive text that is in the README.md.

https://github.com/PowerShell/ActiveDirectoryDsc/blob/dev/Examples/Resources/ADComputer/1-ADComputer_AddComputerAccount_Config.ps1#L20-L24

[2019-09-30 16:32] hacky1997 commented on #476
where is the strings.psd1? can u please tell me?

[2019-09-30 16:34] hacky1997 commented on #476
Is this open till now? please tell me

[2019-09-30 16:34] Abijith10 commented on #491
This is the description of Readme.md? I'm a bit slow on understanding it.

[2019-09-30 16:37] johlju commented on #476
I'm sorry, I don't understand what you mean. Could you try to rephrase your question? 🙂

[2019-09-30 16:39] hacky1997 commented on #476
I just asked that anybody has send you a pull request regarding this issue? If not then can you tell me which strings.psd1 I have to moved? Because there are lots of strings.psd1

[2019-09-30 16:44] hacky1997 commented on #476
Ok!! I understand everything. :) I have to replace that code into strings.psd1 right?

[2019-09-30 16:44] johlju commented on #476
Not yet what I know of. I will label this as in progress if you want to work on it.

Please see this other DSC resource how it should looks like.
https://github.com/PowerShell/xWebAdministration/tree/dev/DSCResources/MSFT_WebApplicationHandler

You need to create a new `en-US` folder with a correct name of the strings.psd; `MSFT_xWebSiteDefaults.strings.psd1`.

Then you need to add this to the res

[2019-09-30 17:06] hacky1997 commented on #476
Just add this two line?
# Import Localization Strings
 $script:localizedData = Get-LocalizedData -ResourceName 'MSFT_WebApplicationHandler'

[2019-09-30 17:32] #446 closed

[2019-09-30 17:33] hacky1997 commented on #476
Just send the pull request :)

[2019-09-30 17:38] hacky1997 commented on #475
I want to try this too

[2019-09-30 19:15] johlju commented on #491
Oh my bad, there was no descriptive text in the README.md. Just add the description `End to end sample for xWebAdministration` to the comment-based help.

[2019-09-30 19:17] johlju commented on #481
PR #480 is merged now! So go ahead and send in this whenever you have time.

[2019-10-01 01:02] midacts commented on #449
dibs

[2019-10-01 01:05] midacts commented on #450
Dibs

[2019-10-01 19:35] #483 closed

[2019-10-01 19:59] tomlarse commented on #487
There already is a `Sample_xWebsite_NewWebsite.ps1` in the `/Resources/xWebsite/` folder, and there are really two configuration examples in the readme. I think the difference between the existing one and the first one from readme is only that the example in readme is configuring an HTTPS site.  The second example in the readme is with a hostname for when the certificate being generated in the sam

[2019-10-01 20:03] #482 closed

[2019-10-01 20:33] #488 closed

[2019-10-02 07:21] mcbobke commented on #76
I believe this issue can be closed.

[2019-10-02 12:44] sc-bperry commented on #76
I agree that this issue can be closed.

[2019-10-02 12:55] #453 closed

[2019-10-02 14:18] regedit32 commented on #76
fixed by #437

[2019-10-02 14:18] #76 closed

[2019-10-02 17:29] #486 closed

[2019-10-02 18:13] #461 closed

[2019-10-02 18:31] #455 closed

[2019-10-02 22:46] RandomNoun7 commented on #462
@johlju I just got test suite to run successfully to make sure I can update the tests properly. I would like to start working on this and the other issue of this type within the next few days.

[2019-10-03 04:22] hacky1997 commented on #469
Okay!! I want to work on this too!! could you please change the label for me?

[2019-10-03 14:12] #456 closed

[2019-10-03 14:16] johlju commented on #469
It is yours. But please prioritize the PR currently being reviewed that needs changes.

[2019-10-03 14:19] johlju commented on #462
Labeled this in progress, as well as the issue https://github.com/PowerShell/xWebAdministration/issues/457. Let me know if you need anything. 🙂

[2019-10-03 16:12] johlju commented on #487
This is being worked on in PR https://github.com/PowerShell/xWebAdministration/pull/490

[2019-10-03 17:47] Outek commented on #464
#510

[2019-10-03 18:19] Outek commented on #463
#511

[2019-10-03 18:28] Outek commented on #477
#512

[2019-10-03 18:35] Outek commented on #465
#513

[2019-10-04 12:27] omiossec commented on #473
#517 Pull Request

[2019-10-04 18:26] johlju commented on #491
This is still up for grabs.

/cc @tomlarse

[2019-10-05 19:09] #449 closed

[2019-10-06 02:10] zufishanali commented on #448
Hi @johlju , I would like to work on this issue.

Thanks,
Zufishan

[2019-10-06 07:15] johlju opened #524 "xWebAdministration: Resolve style guideline violations for hashtables"
We are adding a PSSA rule that validates hashtables to be correct according to the style guideline (PR https://github.com/PowerShell/DscResource.Tests/pull/348).

Since we have opt-in to the common test that validates these rules we need to make sure to update all the hashtables that still does not comply to the style guideline. After that we will merge the rule into the test framework.

Below are

[2019-10-06 08:09] #464 closed

[2019-10-06 08:26] #463 closed

[2019-10-06 08:40] #477 closed

[2019-10-06 08:56] #465 closed

[2019-10-06 09:16] #448 closed

[2019-10-06 09:31] #466 closed

[2019-10-06 13:25] johlju commented on #468
Was resolved in https://github.com/PowerShell/xWebAdministration/pull/520

[2019-10-06 13:25] #468 closed

[2019-10-06 17:34] #473 closed

[2019-10-06 17:50] johlju commented on #450
First part of yhis issue is done, I forgot when I reviewed that we needed to remove the incomplete list on line 3 as well.

@midacts Would you mind sending in another PR that removes the list of resource on line 3?

This is open again for anyone in the community. 🙂

[2019-10-06 18:19] johlju commented on #481
I had to resolve this to help contributors add the correct entry to the change log. This was merged in a recent PR.

[2019-10-06 18:19] #481 closed

[2019-10-06 18:34] #462 closed

[2019-10-06 21:23] tomlarse commented on #524
Thought I would take a crack at this, but the first one it has problems with is this:

[code]

How is that supposed to be formatted to comply with the rule? Seems silly to have to load it into a variable first?

[2019-10-07 10:07] johlju commented on #524
Let me check on that tonight. It looks like it formatted correctly except the semi-colon that shouldn’t be necessary. This is a new rule so it could be edge cases that we haven’t thought of. It is possible it is a false negative.

In regards to adding it to a script scope variable, not sure why it is done this way. It might be able to be improved as well but could be another issue/PR. Let me check

[2019-10-07 10:14] tomlarse commented on #524
Sounds good. I wasn't really referring to the script scope variable, but the only solution I found that was accepted by Measure-Hashtable was doing something like

[code]

I apparently felt that was obvious to everyone when I wrote the comment late last night 😂

[2019-10-07 10:19] johlju commented on #524
I then I follow you :) Didn’t realize that you tested different was of solving it :) I don’t think we should need to do such workaround.

@ssvilen do you have a thought on this? Is this and edge case we need to handle in then rule? Is it hashtable inside an another hashtable that is the problem here? 🤔

[2019-10-07 10:28] johlju commented on #524
@tomlarse Thank you for finding this and actually manually test against the new rule! 😃

[2019-10-07 13:34] SSvilen commented on #524
In the rule I've assumed that the hashtable ends with \s*} (as regex).
In other words - the line contains only  closing parenthesis leaded only by whitespace charachters.
So
[code]
 would violate it,
but
[code]
won't

[2019-10-07 13:39] tomlarse commented on #524
yes, it still fails it if I do that:

![image](https://user-images.githubusercontent.com/4574656/66316841-a8ae6880-e918-11e9-9bbf-78552be09305.png)

[2019-10-07 13:46] tomlarse commented on #524
Seems like it was the indentation it didn't like.
![image](https://user-images.githubusercontent.com/4574656/66317310-89fca180-e919-11e9-8e4b-16b16b757b75.png)

I'll remove the semicolons and put the paranthesis on it's own line then? @johlju?

[2019-10-07 14:00] #450 closed

[2019-10-07 14:12] tomlarse commented on #524
I'm not sure what the parenthesis contributes with? It looks much nicer without them :)

[code]

[code]

[2019-10-07 14:25] johlju commented on #524
@tomlarse Yes we should not need the parenthesis in that call.  Also remove the semi-colon. Thanks! 😃

[2019-10-07 14:31] SSvilen commented on #524
@tomlarse  @johlju  The correct indentation is also being proofed ;)

[2019-10-07 14:45] johlju commented on #524
@SSvilen Thank you! 🙂  I missed the indentation when I looked at the code snippet, I wrongly assumed it was indented correctly 😄

[2019-10-07 14:59] #476 closed

[2019-10-07 15:17] #474 closed

[2019-10-07 15:37] #472 closed

[2019-10-07 15:51] johlju commented on #470
This was closed by PR https://github.com/PowerShell/xWebAdministration/pull/519

[2019-10-07 15:51] #470 closed

[2019-10-07 16:36] #457 closed

[2019-10-07 16:59] #454 closed

[2019-10-08 16:50] #491 closed

[2019-10-08 17:42] #524 closed

[2019-10-09 14:50] #459 closed

[2019-10-09 14:50] #467 closed

[2019-10-10 14:18] omiossec commented on #331
Hi all,

I made some tests
If you leave WebApplication blank, it works as expected

[code]
It creates the virtual directory if not present, update it if needed or do nothing if the VD exists.

If you add a WebApplication, if the VD is not present it creates it under Webapplication name (ie /myApp/MyVD), but if this VD exists it throws an error.

The problem seems to be in the way the resource test

[2019-10-12 09:24] #469 closed

[2019-10-15 15:51] johlju commented on #489
This is open for any contributor again since there are currently no PR open to resolve this.

[2019-10-15 16:35] pyrostew opened #534 "xWebConfigPropertyCollection: Multiple Properties"
#### Details of the scenario you tried and the problem that is occurring
I am trying to add some entries to the "system.ftpserver/security/authorization" collection, both in the root of an FTPSite and in 2 virtual directories within that site. Essentially I am trying to match the output of the script below.

[code]

The problem is that I can't find a way to use the xWebConfigPropertyCollection res

[2019-10-15 16:45] #475 closed

[2019-10-15 16:45] #487 closed

[2019-10-15 16:53] johlju opened #535 "xWebSite: Resolve casing in name"
There are files and folders that are named `Website` instead of `WebSite`(upper-case 'S'). Also code referencing `Website` should be changed to `WebSite`.

Throughout the repository.

[2019-10-15 16:56] johlju opened #536 "xSslSettings: Resolve casing in name"
There are files and folders that are named `xSSLSettings` instead of `xSslSettings`(lower-case 'sl'). Also code referencing `xSSLSettings` should be changed to `xSslSettings`.

[2019-10-15 18:33] johlju commented on #485
I have not seen a PR for this issue so I have labeled it help wanted so that anyone can pick it up.

[2019-10-16 04:11] RandomNoun7 commented on #536
@johlju It seems likely the person who did #504 may have thought they fixed the file and folder names previously. Unfortunately, fixing the case of folders and files like this on a Windows system is very difficult. The only practical way to do it is as I did, which is the clone the repository down to a Linux system that has a case sensitive file system, and use `git mv -f` to get the file moves do

[2019-10-16 04:23] johlju commented on #536
Is is possible to do it on Windows to by renaming (using `git mv`) the folder and files to something else and then back to the correct name.

I missed the problem in the files and folders when reviewing the previous PR. But I think that PR solved all the code changes. 😊

[2019-10-16 04:25] johlju commented on #536
Thank you for the PR :smile:

[2019-10-16 04:25] RandomNoun7 commented on #536
It should be possible in theory, but it doesn't quite work. Git always gets confused about which files are being moved around. Maybe if you did the moves in a really granular way committing each move as you did them you could get it done. But it's much easier to just spin up an ubunutu container and move them directly :)

[2019-10-16 05:05] johlju commented on #536
Agree it is faster in Linux. So rarely I done it, just a file here and there, so I did the granular approach of renaming. :)

[2019-10-19 19:41] regedit32 commented on #534
Hi @pyrostew , I was able to play around with this one a bit today.  I was able to get it to set permissions correctly, but Test-DscConfiguration does not return true.  The xWebConfigPropertyCollection works easily for most collections that have one key and one other property, but every now and then we run into collections with multiple keys and any number of properties.

This question comes up a

[2019-10-20 12:11] #536 closed

[2019-10-23 19:13] #535 closed

[2019-10-28 18:15] #489 closed

[2019-11-04 20:15] davidseibel opened #543 "WebApplicationHandler: Path doesn't belong to 'WebAdministration' provider"
#### Details of the scenario you tried and the problem that is occurring
When testing the DSC resource below, the following error is received:
[code]
This is due to the Get-WebConfigurationProperty call in Get-TargetResource (line 45 in [MSFT_WebApplicationHandler.psm1](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_WebApplicationHandler/MSFT_WebApplicationHandler.psm1

[2019-11-05 15:07] davidseibel opened #544 "WebApplicationHandler: Test-TargetResource evaluates optional properties that aren't specified"
#### Details of the scenario you tried and the problem that is occurring
When testing the resource below, it evaluates every property in the resource, including optional properties that aren't specified in the configuration.  In this state, a configuration will only pass testing if every property is specified, which defeats the point of optional properties.

#### Verbose logs showing the problem
[

[2019-11-05 15:29] davidseibel commented on #543
I figured this out.  I wasn't clear on the difference between the PhysicalHandlerPath and Path properties. Here's my new configuration that works, for documentation purposes:
[code]

[2019-11-05 15:29] #543 closed

[2019-11-05 17:01] ykuijs opened #546 "xWebsite: Resource does not check if the specified application pool exists"
#### Details of the scenario you tried and the problem that is occurring
When you specify an application pool that does not exist in a xWebsite resource, the resource does not check if the specified application pool exists. This results in a broken website with error "Unknown:The object identifier does not represent a valid object. (Exception from HRESULT: 0x800710D8)"

#### Verbose logs showing t

[2019-11-07 14:55] pyrostew commented on #534
Thanks for your response @regedit32, I have used xWebConfigPropertyCollection in a couple of other places and it does work nicely, just not in this one place in my config! Currently surviving using the script resource but it does make for a messy config.

I'm not very familiar with xWebAdministration but if you can suggest a redesign I would be happy to implement it.

Thanks!

[2019-11-15 19:31] #544 closed

[2019-11-26 11:20] jn-bedag commented on #534
Same problem here with defining ISAPI CGI Restrictions:
[code]
Would be great to enhance the module.

[2019-11-27 22:16] Chadliel commented on #371
Same issue here, re-creating app pools that have multiple apps tied to it (3 on avg). Unfortunately I've had to use another script post-DSC to make this happen. Being able to set the specific times of a recycle is huge for hosted applications. +1 from me!

[2019-12-11 18:13] remcoeissing commented on #371
The property you are looking for is `restartTimeLimit`.

When I use your script the configuration of `MYAPPPOOL` would be like:

[code]

In DSC I could configure it using restartTimeLimit:
[code]

This would result in:
[code]

Hope that helps.

[2019-12-12 18:24] Chadliel commented on #371
Hi Remcoeissing, that works for specific intervals if you want to avoid the MS default 29 hours, but the specific issue here is a specific time (like 4am). This is where it errors and doesn't allow you to set specific times to recycle the app pools.

[2019-12-13 08:43] remcoeissing commented on #371
@Chadliel Thanks for the context. In that case you are looking for `restartSchedule`. That seems different from the original issue, which seems the exact opposite to me:

But both are supported, the configuration you are looking for should look something like:

[code]

This would result in a configuration that disables the 29 hours, by setting time to 0. The schedule is set at 4 AM. With your 30 a

[2019-12-13 13:22] Chadliel commented on #371
I believe I tried it previously with the same error. I will test and share the error details if I'm able to replicate it. Appreciate the response!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Remco Eissing <notifications@github.com>
Sent: Friday, December 13, 2019 12:43:30 AM
To: dsccommunity/xWebAdministration <xWebAdministration@noreply.github.com>
Cc:

[2019-12-25 12:28] johlju opened #547 "xWebAdministration: Converting to new CI pipeline"
Work need to be done to convert this repository to use the new CI pipeline.

https://gist.github.com/johlju/2ad77aa574aa07d3e9953fe86007731c

[2019-12-26 08:43] schittli opened #548 "Is it for 'web servers' or for the IIS Webserver?"
**Thank you very much for developing and sharing this DSC Module!**

Unfortunately, one thing is not quite clear, in the GitHub project description you write:
_This module contains DSC resources for deployment and configuration of web servers and components around those_

#### Is this Module for IIS Webservers or for Webservers in general?
It would be great if the GitHub project description could

[2019-12-26 08:47] johlju commented on #548
It is meant to be the last "This module contains DSC resources for deployment and configuration of IIS, Apache and nginx web servers and components around those", but also for any other web servers and components (that can be configured, like PHP) out there on Linux, macOS and Windows. Although right now there are only DSC resource that handles IIS. The reason for the text was so that it would not

[2019-12-26 09:03] schittli commented on #548
Thank you, @johlju for your explanations!
these are great news :-)

In this case, a small roadmap in the introduction of README.md would be very helpful, so that potential users can see the road and interested developers are encouraged to join :-), for example:

[code]

Kind regards,
Thomas

[2019-12-26 13:56] johlju commented on #548
Sounds like great idea, although the check under an OS could imply that all possible configuration options are fully supported when it probably are not. The list you suggests should probably list what the community wants to configure and then check those that are covered by a resource today.

Component |Area | Windows | Linux | macOS
--- | --- | --- | --- | ---
IIS | Configure Website | ✔️ xWebsit

[2019-12-28 16:31] johlju commented on #547
@regedit32 I have sent in the PR #549 which is the first part of converting this repo to the new pipeline, after this PR is merged the dev branch will be merged into master which will automatically make a preview release (on each merge to master). Once dev have been merged into branch master I will remove branch dev and make branch master the default branch. All open PR's need to be re-targeted to

[2019-12-29 12:07] johlju opened #550 "Add new build workers to integration tests"
When the new CI pipeline was added (PR #549) only one build worker was added (Windows Server 2016) to run integration tests. We should add the other available builds workers as well; Windows Server Core and Windows Server 2019

[2019-12-29 21:38] #547 closed

[2020-01-02 10:38] johlju opened #558 "WebApplicationHandler: Integration test fails intermittent"
#### Details of the scenario you tried and the problem that is occurring
Sometimes the integration tests fail with the error. Most likely a timing issue when running the integration test `RemoveHandlerExcludedOptionalParameters`.

[code]

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
None

#### The DSC configuration that is used to reproduce the issue (as detail

[2020-01-09 14:55] vidarw commented on #333
Come on Microsoft! How is this still not solved after almost two years?
@SteveL-MSFT @johlju  If I commit a fix to this problem, at what pace can I expect a review and new package release?

Suggested solutions:

1) Correct the functionality of Find-Certificate to return a single certificate (as name suggests):
https://github.com/dsccommunity/xWebAdministration/blob/master/source/Modules/xWebAdmini

[2020-01-09 16:10] johlju commented on #333
You are more than welcome to send in a pull request. 🙂 I will review it as soon as I have time (depending on day job and family), As soon as a commit is merged to master a preview release will be released. We can release a new full version shortly after that.

For my reference, this was worked on here but was abandoned: https://github.com/dsccommunity/xWebAdministration/pull/334/files

Btw. The DS

[2020-01-09 16:13] johlju commented on #333
Oh, I suggest alternative 2 since it looks like Find-Certificate is meant to return more than one certificate. Looked at the function over at [CertificateDsc](https://github.com/dsccommunity/CertificateDsc/blob/c2006bb06f58ae4c4a3434a82acf2ea2ada81a0d/Modules/CertificateDsc.Common/CertificateDsc.Common.psm1#L801-L804) and it does the same, so let's change xWebSite.

[2020-01-10 11:04] vidarw commented on #333
@johlju Thanks for your response. I've created a pull request where I have fixed the issue and created a new unit test to demonstrate the issue. Hopefully this can be reviewed and released in the near future :)

[2020-01-10 11:48] #333 closed

[2020-01-10 13:05] johlju commented on #333
@vidarw Pushed a new release so should be available within the hour.

[2020-01-10 13:07] vidarw commented on #333
Thanks a lot for the quick responses and fast review process! :)

[2020-01-20 23:01] LeftCoastBC commented on #430
To escape the XPath Query you just have to double up the brackets, but doing this in one of the parameters would cause other lookup steps to fail. I managed to get it working by updating any of the filter values to replace any single '{' or '}' with '{{' or '}}'
`  $filter = "$($Filter)/$($CollectionName)/$($ItemName)[@$($ItemKeyName)='$($ItemKeyValue.Replace('{','{{').Replace('}','}}'))']"
`
No i

[2020-01-21 19:10] #550 closed

[2020-01-21 19:10] #558 closed

[2020-01-24 11:50] johlju opened #565 "Azure DevOps is removing older build images"
The Windows Server Core 1803 image and Windows Server2012 R2 image are being removed on March 23, 2020. This repository is using both, and they must be removed or transition to another image as appropriate.

https://github.com/dsccommunity/xWebAdministration/blob/59e8dcc945b16c59fba3c408936599b42d8f9dcf/azure-pipelines.yml#L78

https://github.com/dsccommunity/xWebAdministration/blob/59e8dcc945b16c

[2020-02-17 05:22] RandomNoun7 commented on #221
I'll go ahead and claim this one and put up the PR in the next few days.

[2020-02-17 06:39] RandomNoun7 commented on #221
I agree that the second method for setting the `$inDesiredState` variable and just writing a verbose message and moving on is better, but I think the first method's style of checking for bound parameters vs checking for a null or empty string is cleaner. So I think the final result should be a hybrid of the too like this.
[code]
Unless there are objections I will make all of the property tests con

[2020-02-17 13:25] johlju commented on #221
That’s sounds good to me at least. :)

[2020-02-21 23:21] RandomNoun7 opened #567 "Azure Devops CI/CD appears to be broken"
The Azure Devops CI/CD Pipelines appears to be broken, even on the master branch.

The problems are as follows:

- [ ] The following OS's are [not successfully installing all of the features and sub features](https://dev.azure.com/dsccommunity/xWebAdministration/_build/results?buildId=1060&view=logs&j=702da012-0b83-58f5-6af6-6cee5bc07071&t=d2ce8a4c-829d-5ff8-608d-8f7807786456&l=21) specified in th

[2020-02-26 21:14] #567 closed

[2020-02-26 21:32] RandomNoun7 commented on #565
Partially addressed by #567.
The associated PR #568 removed the second line, but in what appears to be some kind of mistake, left one of the steps running the `win1803` image. A new PR against the same issue will be up shortly to address that oversight.

[2020-02-27 19:07] #565 closed

[2020-02-28 14:44] #221 closed

[2020-03-10 14:48] Clay10J opened #571 "xIisLoggingCustomField - Able to remove or ensure absent?"
Are we able to ensure certain custom fields are absent or remove all of the custom fields? This could be useful for rolling back configurations.

[2020-03-13 20:10] johlju commented on #571
Maybe adding the `Ensure` property to that class, and logic around that would help solve that. 🤔

[2020-03-28 21:52] saikovvuri opened #573 "xIisModule not adding FastCGI handler"
#### Details of the scenario you tried and the problem that is occurring
Trying to register the php cgi module with IIS.  However the Handler/Module "FastCgiModule" is not registered.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Could not xIisModule could not work.
Had to run the below command outside of the configuration:

New-WebHandler -Name "PHP-FastCGI" -Path "

[2020-03-30 18:29] JakobGSvendsen commented on #298
FYI. found this bug as I am using this provider. This error seems to appear when a appool that doesnt exist is selected. In my case I had a typo in the app pool name in the app pool resource

[2020-03-31 18:03] #571 closed

[2020-03-31 18:07] johlju commented on #573
@saikovvuri did you get any error when running this configuration that could help?

[2020-04-02 14:06] neelammourya opened #575 "xWebAppPool is not getting creating, job getting failed after running Start-DscConfiguration .\Sample_xWebAppPool"
I have used sample code for creating application pool.

xWebAppPool is not getting creating, job getting failed after running Start-DscConfiguration .\Sample_xWebAppPool.

Please help me to resolve this. I don't know how i can see the root cause of this failure.
I am using https://github.com/dsccommunity/xWebAdministration#xwebsite
for sample code.

[2020-04-02 17:44] johlju commented on #575
If you are using this example [Sample_xWebAppPool](https://github.com/dsccommunity/xWebAdministration/blob/master/source/Examples/Resources/xWebAppPool/Sample_xWebAppPool.ps1) then that example can not be run directly. It just an example to show how to use that particular resource. You need to install IIS etc. first. But assuming you did that then please run the configuration using the `-Verbose`

[2020-04-16 11:38] Argelein commented on #534
Same for caching
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".json" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>

[2020-04-28 09:32] ChrisAccsys commented on #534
We had some similar issues with ipSecurity, was looking for
[code]

Managed to get it working with:
[code]

Took a while to understand that ipAddress is the key name, seems obvious now...

[2020-05-04 08:39] DCMattyG commented on #573
The issues is this:

            Add-webconfiguration /system.webServer/handlers iis:\ -Value @{
                Name = $Name
                Path = $RequestPath
                Verb = $Verb -join ','
                Module = $ModuleType
                ScriptProcessor = $Path
            }

'Module' should be 'Modules'

[2020-05-15 17:07] sk82jack opened #577 "xIisMimeTypeMapping: Make ConfigurationPath a non-mandatory parameter"
### Details of the scenario you tried and the problem that is occurring

I tried to use the `xIisMimeTypeMapping` resource without specifying the `ConfigurationPath` parameter as it wasn't listed as a property in the repository `readme.md` file. I then got an error saying that I was missing a mandatory parameter `ConfigurationPath`. After looking at the source code there is already a default value

[2020-05-15 18:21] johlju commented on #577
This property needs to be mandatory and a key in the schema, otherwise it wouldn't be possible to have this configuration.

[code]

I think instead the default values (the constants) should be removed. 🤔

[2020-05-15 21:16] sk82jack commented on #577
I'm not saying to remove the value or parameter as I know you need to pass something to the backend functions but making the parameter non-mandatory would allow you to pick up the default server-wide ConfigurationPath and still allow you to override using the config you posted. But yeah I guess you could go the other direction and keep it mandatory and then remove the unnecessary checks for a empt

[2020-05-15 21:24] sk82jack commented on #577
Ah I just realised I glossed over your point `and a key in the schema`

I'm pretty new to DSC so I'm not too sure about how DSC schemas are implemented and used and didn't even look in the schema file until you mentioned it lol

So I guess those keys are what define the uniqueness of the DSC resources for want of a better phrase? In that case I understand why it would be a required parameter.

[2020-05-16 15:09] johlju commented on #577
Yes exactly. You are correct that the properties that have the type Key define uniqueness. It cannot exist two resource instances with the same values for those parameters in the same configuration to be able to enforce the desired state. Mandatory parameter can for that reason not have default values.

There are four possible types of type qualifiers in the schema; Key, Required, Write, and Read.

[2020-05-22 17:07] ITGuyOU commented on #546
I second this. A more user-friendly message would have saved my team an hour or more a few months back. The cryptic error from the Windows API is something that literally has to be Googled, when the actual issue is so simple.

[2020-07-02 14:36] ThomasHughesIV opened #578 "xWebsite: finds certificates with no private key to bind to SSL. Doesn't choose a cert with most available time."
#### Details of the scenario you tried and the problem that is occurring
  Using xWebSite to deploy SSL certificates using a subject name.  When multiple certificates exist with the same subject name, xwebsite chooses one at random, not one with the most useable time.  When multiple certificates exist with the same subject name, and one doesn't have a private key, the code may pick that cert and a

[2020-07-08 15:20] FiservSean opened #580 "xWebAppPool doesn't fail on state mis-match or reset running state when resetting state"
#### Details of the scenario you tried and the problem that is occurring
I've setup xWebAppPool resources with "State" set to "Started" if the AppPool is stopped Test-DscConfiguration doesn't show the pool as non-compliant, if I Reset-DscConfiguration it doesn't restart the AppPool, but if I Start-DscConfiguration with the same resource it'll start the AppPool
#### Verbose logs showing the problem

[2020-07-08 22:12] FiservSean commented on #580
It seems like the problem only occurs if the IIS Management Console is up and running when the Restore-DscConfiguration is run.  Closing this issue out since this seems to be a known issue.

[2020-07-08 22:12] #580 closed

[2020-07-17 16:22] signalwarrant opened #581 "xWebapppool will not compile using identitytype gMSA"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version and build of PowerShell the target node is running

#### Version of the DSC module th

[2020-07-23 17:51] johlju commented on #581
For a resource to be able to support (g)MSA it needs to ignore the password part of the credential object (discussed and documented in the SqlServerDsc specific guidelines, [credentials-that-does-not-have-password](https://github.com/dsccommunity/SqlServerDsc/blob/master/CONTRIBUTING.md#credentials-that-does-not-have-password).

I see this resource do expect to set the password for the credential

[2020-07-30 19:36] signalwarrant commented on #581
This scenario is documented in another issue from a few years ago #80, the workaround discussed there of passing a random password as part of the credential object for the gMSA does work to get the config to compile and config the server. It's just a bit wonky.

[2020-09-02 15:04] rcarpenter79 opened #585 "xWebConfigProperty: Location is not supported"
#### Details of the scenario you tried and the problem that is occurring
I want to add configurations in a parent web.config file using the location parameter to target a child application.
The Location parameter isn't available on xWebConfigProperty.

#### Suggested solution to the issue
A parameter added to the resource to specify the Location value.
A change to add Location should also be appli

[2020-10-09 17:22] davetapley commented on #369
I saw that `xWebConfigKeyValue` is deprecated so I tried using `xWebConfigProperty` to set  some `AppSettings`, but I couldn't get it to work.

Before removing can you give an example (and maybe add to docs) of how e.g. ⬇️ would be converted to a `xWebConfigProperty`?

https://github.com/dsccommunity/xWebAdministration/blob/92b76d6558248b8c484ad772ab3123e6b7a49ffe/source/Examples/Resources/xWebCon

[2020-10-23 19:01] Igor-X commented on #379
So there's a workaround to set a single field collection, the resource was set up to be able to do two field collections, how about collections that have three or more fields, like **system.applicationHost/sites/siteDefaults/logFile/customFields** which has properties  logFieldName, sourceName, SourceType?

Shouldn't this implementation have a hashtable parameter rather than key/property?  Like so

[2020-11-06 15:47] Clebam commented on #534
I'm stucked trying to create RewriteRules with this. Mostly for conditions
Event the example  for chris up there does not work, because it recreates a new conditition each time.

I end up with conditions with input and no pattern and vice_versa pattern without inputs

We should be able to use a hash in value as already suggested

[2020-11-09 18:44] jrdbarnes commented on #573
This is the same issue as https://github.com/dsccommunity/xWebAdministration/issues/305 maybe it should be merged?

[2020-11-11 03:33] spriet2000 opened #587 "Physical path overwritten after desired state applied"
Hello,

I am setting up a webserver with some applications using dsc and the first run works. All apps and settings are correct setup. The physical path is pointing to a default directory.

The physical path is pointing to a default directory, because an automated deployment process runs after the initial dsc run and sets the correct physical path.

The automated deployment process will set the  p

[2020-11-12 18:13] johlju commented on #587
You should not have the PhysicalPath as part of the configuration if you do not want to enforce that property.

[2020-11-13 19:41] kinwolfqc opened #588 "xIisFeatureDelegation Failed to invoke DSC Set method: The request is not supported."
#### Details of the scenario you tried and the problem that is occurring
Trying to allow override of anonymous authentication setting but it fails saying the request is not supported.  The DSC resource is called from ansible
#### Verbose logs showing the problem

fatal: [stnoy090.intro.techno.local]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "Depen

[2020-11-15 10:08] johlju commented on #588
Is it possible for you to see what line in the code generate this error?

Can you run this manually on the node?

[code]

[2020-11-15 14:05] kinwolfqc commented on #588
`Set-WebConfiguration -Filter '/system.webserver/security/authentication/anonymousAuthentication' -PsPath 'IIS:\Sites\STNOY090' -Metadata 'overrideMode' -Value 'Allow'`
[code]
Same result with a machine path:
` Set-WebConfiguration -Filter '/system.webserver/security/authentication/anonymousAuthentication' -PsPath 'MACHINE/WEBROOT/APPHOST/STNOY090' -Metadata 'overrideMode' -Value 'Allow'`

[2020-11-15 14:11] kinwolfqc commented on #588
The Get works though
[code]
Result is: Deny (which is correct at the moment)

[2020-11-15 16:02] johlju commented on #588
Then the problem is that `Set-WebConfiguration` does not allow that combination. I’m not familiar with it so can’t help further, but if you get the Set working with some other combination then the resource will work. 🙂

[2020-11-15 19:05] kinwolfqc commented on #588
I'm no IIS expert either but what I'm trying to do is the same as is listed in the resource examples.  The only difference being that the name of the website is stnoy090 instead of the Default website. So I think if this doesn't work, then the resource isn't working anymore for some reason.

What I'm trying to do is allow override in web.config for that website.  I might look at xwebsite and see i

[2020-11-16 08:18] spriet2000 commented on #587
Thanks for your reply. I have tried that option and it seems that physical path is a required property.

[2020-11-18 13:59] kinwolfqc commented on #588
This syntax works:
`Set-WebConfiguration -Filter '/system.webserver/security/authentication/anonymousAuthentication' -PsPath 'IIS:\Sites' -Metadata 'overrideMode' -Value 'Allow' -Location "STNOY090"`

The only diff is the location parameter that takes the last part of what was under PSPAth.

[2020-11-18 15:18] kinwolfqc commented on #588
@johlju Basic question here: I am coming back to DSC after 18 months away so I am rusty as heck and facing a beginner's problem it seems.. So I am trying to modify the DSC ressource to make it work properly and to do so I need to add a new parameter(WebsiteName)
I add it in the parameter list, like this:
[code]
but when I try an invoke-dscresource to test it, it keeps telling me the new parameter

[2020-11-21 12:46] spriet2000 commented on #587
If its a good idea to make physical path optional, I could spend some time on it and try to create a pull request.
But why is it optional for a website and not for an application? Does it have a good reason? Tried before?

[2020-12-11 00:11] General-Fault opened #589 "xWebApplication fails obtain desired state if multiple SSL flags are specified."
#### Details of the scenario you tried and the problem that is occurring If multiple
If the 'SSLFlags' parameter of an xWebApplication instance contains multiple flags, the "Test" method always fails.

The site will be properly configured. However a test of the resource will fail. So if DSC is configured to run in "Monitor" mode, this resource will always be marked as "Not In Desired State".

####

[2020-12-15 01:42] General-Fault opened #590 "xWebConfigPropertyCollection: Adding system.webServer/security/authorization fails Test-TargetResource"
#### Details of the scenario you tried and the problem that is occurring
I am using xWebConfigPropertyCollection to configure the authorization for an IIS server. In this case, I am attempting to add an 'Allow' accessType for the 'Administrators' group (see example configuration below). The 'Set-TargetResource' completes successfully. However the Test-TargetResource always fails.

This really appe

[2020-12-15 19:47] General-Fault commented on #590
The conversion should probably handle flag enums as well.

[code]
/untested

[2020-12-30 17:47] johlju opened #591 "xWebAdministration: Rename master branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

Follow this guide https://dsccommunity.org/blog/convert-master-to-main/

[2021-01-07 19:11] #591 closed

[2021-01-07 19:57] DaveFranks commented on #590
I've used this previously without any issues.  You may need to flip your values between ItemKeyxxx and ItemPropertyxxx as shown below:
[code]

[2021-01-07 20:15] DaveFranks commented on #590
A caveat to my previous post; this is true for only a single value which is what we see when hardening a new server. Multiple rules also break this...

[2021-01-20 16:29] changbowen commented on #585
`Location` is required if you are modifying locked sections as described [here](https://docs.microsoft.com/en-us/iis/manage/powershell/powershell-snap-in-changing-simple-settings-in-configuration-sections#dealing-with-locked-sections).

[2021-02-24 13:09] blackspy21 commented on #331
bump... still hitting this bug. Any progess? Or easy work around? My VD needs to exist under the web app

[2021-05-14 16:39] cm5778 commented on #282
I am having the same issue while trying to setup xWebApplication pointing azure file share in azure storage
![image](https://user-images.githubusercontent.com/74688078/118301757-0ddd1f00-b4a9-11eb-953b-5b565f36b002.png)

[2021-05-17 18:28] cm5778 opened #595 "Parameter 'PhysicalPath' should point to existing path, on Azure File Share"
I am trying to create a webApplication on IIS pointing to Azure File share using PowerShell DSC xWebApplication as below
        xWebApplication AppName
        {
            DependsOn = "[xWebSite]xWebSiteName"
            Name = "appname"
            PhysicalPath = "\\azurefileshare\etc"
            WebAppPool = $AppPoolName
            Website = $WebSiteName
        }
I am getting "Parameter 'P

[2021-05-17 18:42] cm5778 commented on #345
I am glad I found right discussion
I am trying to create a webApplication on IIS pointing to Azure File share using PowerShell DSC xWebApplication as below
xWebApplication AppName
{
DependsOn = "[xWebSite]xWebSiteName"
Name = "appname"
PhysicalPath = "\azurefileshare\etc"
WebAppPool = $AppPoolName
Website = $WebSiteName
}
I am getting "Parameter 'PhysicalPath' should point to existing path." error

[2021-05-17 19:27] johlju commented on #345
Should not the path start with two `\\`?

It is possible to provide a credential with the built-in parameter `PSDscRunAsCredential`

[2021-05-17 19:38] cm5778 commented on #345
Thanks @johlju for your response
Sorry I missed \ above, the path I am using as \\ only.
Can you please specify where exactly to add PSDscRunAsCredential in the script

[2021-05-17 19:46] johlju commented on #345
The same as the other parameters, like this:

[code]

of course you change to pass the PSCredential variable that holds the credential you need.

[2021-05-17 19:49] johlju commented on #345
But the issue might be that you need one credential to run the resource and another credential to connect to the share? 🤔

[2021-05-17 19:54] cm5778 commented on #345
after specifying PSDscRunAsCredential  getting a prompt for credentials and following with below error after manually providing credentials
![image](https://user-images.githubusercontent.com/74688078/118548304-c14f4900-b71f-11eb-96a3-a321d06990a4.png)

[2021-05-17 19:58] johlju commented on #345
You should have certificates to protect the credentials in the compiled MOF. If this is a lab you can opt-in for plain text passwords.

[2021-05-17 19:59] johlju commented on #345
See more information here: https://docs.microsoft.com/en-us/powershell/scripting/dsc/configurations/configdatacredentials?view=powershell-7.1

[2021-05-17 21:00] cm5778 commented on #345
Thanks @johlju I will try those suggestions and will reach back.

[2021-05-20 13:06] anandfranklin opened #596 "Unable to configure IIS using PowerShell DSC Resource xWebAdministration v3.20"
ISSUE TITLE:
    'xWebAdministration: Unable to configure IIS using PowerShell DSC'

    ISSUE DESCRIPTION (this template):
    Using Import-DscResource -ModuleName 'PSDesiredStateCOnfiguration' we are able to install IIS and all its sub-features on a
    Windows Server 2019 VM perfectly.

    But, when we try to configure IIS using Import-DscResource -ModuleName 'xWebAdministration', we are unabl

[2021-05-20 17:31] johlju commented on #596
Can you please provide what error message you are seeing, also please provide the verbose message output from the node that is failing.

[2021-05-20 17:33] johlju commented on #595
Consider using built-in parameter `PSDscRunAsCredential` to change what user the resource is run as.

[2021-05-21 08:05] anandfranklin commented on #596
Hello Johan,

Please find the verbose output from both DSC scripts.

Best regards, Anand

From: Johan Ljunggren ***@***.***>
Sent: Thursday, May 20, 2021 11:02 PM
To: dsccommunity/xWebAdministration ***@***.***>
Cc: Franklin ***@***.***>; Author ***@***.***>
Subject: Re: [dsccommunity/xWebAdministration] Unable to configure IIS using PowerShell DSC Resource xWebAdministration v3.20 (#596)

Can you

[2021-05-21 12:04] anandfranklin commented on #596
The below is from one of the web servers after running the second DSC Script.

***@***.***D74E67.50D31DD0]

From: Franklin
Sent: Friday, May 21, 2021 1:35 PM
To: dsccommunity/xWebAdministration ***@***.***>; dsccommunity/xWebAdministration ***@***.***>
Cc: Author ***@***.***>
Subject: RE: [dsccommunity/xWebAdministration] Unable to configure IIS using PowerShell DSC Resource xWebAdministration v3.

[2021-05-25 16:33] obsolete3032 opened #597 "Can you set multiple file extensions to allowed for request filtering?"
I am trying to add multiple file extensions to the allowed list for request filtering using the xWebConfigPropertyCollection resource but am stuck on exactly how to do it. I can add an individual extension, but can't figure out how to indicate multiples. Below adds one extension with the whole string. If I remove the ", .aspz" then it successfully adds the .aspx extension.

WebsitePath  = 'MACHINE

[2021-06-10 13:17] cm5778 commented on #595
@johlju apologies for not getting back sooner, I am having issue including PSDscRunAsCredential which I am trying to figure out,
besides just to trim down the issue, I tried creating an application using Invoke-Command with credentials which giving Bad network error.

I will update on PSDscRunAsCredential

[2021-06-10 18:50] cm5778 commented on #595
btw I am using PowerShell version 5.1

[2021-06-25 03:55] ThomasHughesIV commented on #382
I know this is an old post, but does the proposed solution add the <clear/ > element?

[2021-06-27 12:08] #105 closed

[2021-09-23 14:22] CHDAFNI-MSFT opened #598 "Suported? - xWebSite - Windows Authentication - Advanced Settings/Providers"

[2021-09-25 10:56] johlju commented on #598
Ca you elaborate?

[2021-11-05 17:39] remcoeissing commented on #597
Using the above configuration would result in this configuration `<add fileExtension=".aspx, .aspz" />`. This will mean that a file should be named like `index.aspx, .aspz`, which is not what you want to achieve. Instead you could loop over the extensions that you would like to allow and add all of them. That could look something like

[code]

[2021-11-15 06:07] changbowen commented on #199
This is clearly a bug that renders the CCS unusable using xWebSite.. bottom line is it should not check for a thumbprint when SslFlags is 2 or 3. In IIS console when CCS is enabled the SSL certificate field would be disabled:

![image](https://user-images.githubusercontent.com/15975872/141730827-3a09770c-fdd9-485c-bcce-c7ace82cba8a.png)

[2021-11-15 07:05] changbowen commented on #199
Looks like wrapping the `if ([String]::IsNullOrEmpty($binding.CertificateThumbprint))` section is working.
I put in a PR but feel free to test and update it.
Thanks!

[2022-02-10 08:47] markatdxb commented on #287
Hello, any update by chance on this one ? thanks

[2022-02-10 16:25] johlju commented on #287
The community has not sent in a PR that add this functionality.

[2022-02-15 22:46] kirzas commented on #534
that fixed it for me actually

[2022-02-15 23:54] davetapley commented on #585
I think this is a dupe of #401 and fixed by currently un-merged #400

[2022-03-16 10:57] janis-veinbergs commented on #402
This was happening to me too. The issue was this line: `Import-DscResource -ModuleName 'xWebAdministration' -Name 'xWebConfigProperty*'`

Changing to `Import-DscResource -ModuleName 'xWebAdministration' -Name 'xWebConfigProperty'` worked. (Removed the wildcard char)

[2022-04-14 04:07] Chadliel commented on #371
Sorry for the overly late response, but this did resolve the issue.

[2022-05-12 08:56] emrgcl commented on #267
Hoping to recycle this issue for Invoke-DscResource since the Invoke-dscresource accepts hashtable and the cim object format causes syntax issue in hashtable. Any workaround is also more than welcome!

[code]

[2022-05-30 21:59] nickgw opened #606 "WebApplication: Integration test failing"
### Problem description

[code]

Throws an error:

[code]

### Verbose logs

[code]
[code]
[code]

### PowerShell version and build the target node is running

[code]

### xWebAdministration version

[code]

[2022-06-07 10:08] pwyrwas opened #610 "How to add credentials with empty password in xWebAppPool."
Hello,

base on #80  i saw that is possibility to put empty password when I have account wihtout a password.
But I have problem to do this.
I'am trying in that way:
`
Configuration IisConfiguration
{
    param
    (
        [String[]]$NodeName = 'localhost'
    )

    Import-DscResource -ModuleName xWebAdministration
    Import-DscResource -ModuleName PSDscResources -ModuleVersion "2.12.0.0"
    $

[2022-06-08 06:31] #213 closed

[2022-06-08 06:31] #363 closed

[2022-06-08 06:31] #369 closed

[2022-06-08 16:31] #380 closed

[2022-07-07 17:00] davetapley opened #614 "Confusing package names in PowerShell Gallery"
Since #601 it is confusing that the package name on PowerShell Gallery wasn't updated:
https://www.powershellgallery.com/packages/xWebAdministration/

And to make matters worse there is **already another package with the new name** 😞 :
https://www.powershellgallery.com/packages/WebAdministrationDsc/

... but at least only one version and last pushed in 2016.

---

Perhaps ⬇️ and ask if `WebAdminis

[2022-07-11 10:09] johlju commented on #614
Ah, I have waited for @gaelcolas to fix the API key because the deploy failed. I did not know the PowerShell Team published that module to the Gallery, and of course that is why the deploy fails. 😕
It was done work way back (several years) to move the module to *Dsc name that never happened, or so I thought...

Let's try to see if we can get that package transferred to DSC Community.

Thanks for m

[2022-07-11 10:28] johlju commented on #614
It seems the old WebAdministrationDsc module is from this (now obsolete) working branch https://github.com/dsccommunity/WebAdministrationDsc/tree/WebAdministrationDsc.

[2022-07-27 10:53] sebug commented on #614
Hello folks, I'm looking forward to using the WebAdministrationDsc module, is there anything I can do to help resolve this naming issue?

[2022-07-28 17:49] bbaak opened #615 "Name will not take ".Net6 Core ", Net6 Core works but want the ".""
### Problem description

Migrating from an 2012 R2 server with all the pipelines already built, and want to use the same app pool names.  We have a ".Net6 Core" app pool and XWebAppPool will not take the "." in the value.

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solution

I don't unfortunately.

### Operating system the target node is running

[code]

### PowerShell

[2022-07-31 17:08] johlju commented on #615
It says here it should work, but does not specify that it allow to start with a period.
https://docs.microsoft.com/en-us/IIS/wmi-provider/applicationpool-class

Guessing you have tried adding through GUI and it work?

Have you confirmed that it works using the command [`New-WebAppPool `](https://docs.microsoft.com/en-us/powershell/module/webadministration/new-webapppool)?

[2022-08-31 14:42] johlju commented on #614
We have gotten an okey for DSC Community take over the module in PSGallery. We are now waiting for the transfer to happen, after that will hastily release the new version that is waitin gin this repo.

[2022-09-17 17:56] johlju commented on #614
Now WebAdministrationDsc has been released: https://twitter.com/dsccommunity/status/1571195505014894592

[2022-09-17 17:56] #614 closed

[2022-09-22 20:21] quillypowers commented on #610
If you're saying the account has no password because it's a gmsa, you can assign below to the credential.
Credential                      = New-Object System.Management.Automation.PSCredential("Domain\Account", (ConvertTo-SecureString "Test" -AsPlainText -Force))

But if it's a gmsa it's a domain account, so you also need to decorate your node data with: PSDscAllowDomainUser = $true;

[2022-10-16 01:38] whereisaaron commented on #241
**Not a solution to this issue, but a workaround for some:** The CIS documentation suggests that the `passAnonymousToken = $true` setting on every application pool has the same effect. And that is a setting supported by the [WebAdministrationDSC WebAppPool](https://github.com/dsccommunity/WebAdministrationDsc/blob/b8ea7cb5c856f93dcaaf22c571ee4e12414e9766/README.md#webapppool). That doesn't change

[2022-10-16 07:21] whereisaaron commented on #241
This is a DSC workaround using a DSC Script resource just for setting the default Anonymous Authentication Credentials username to blank. Any improvements welcome. This is not a solution to this issue you since you can't set the username/password to any desired values, just blank.
[code]

[2022-11-09 23:59] tommysor commented on #331
Not properly tested

Recreated in integration tests:

[code]

[code]

[code]

[2022-11-12 14:58] #366 closed