[2015-04-21 17:55] ghost opened #6 "Powershell.org resources"
Have you guys looked at these? https://github.com/PowerShellOrg/cWebAdministration/tree/master/DSCResources

There are a bunch of enhancements and fixes, especially on the app pool side.  It may be beneficial to move some of those changes over here.

[2015-04-21 19:16] vors commented on #6
Yes, there is finally no need to have "x" and "c" resources separately. We can take contributions from community back to "x" resources, and we definitely want to merge them. It would be awesome if somebody from community will work on pull request for that, it would speed up the process significantly.

[2015-04-21 19:36] zuehlaa commented on #6
Would you prefer many smaller PRs that only deal with a new feature or bug fix, or would you just like to have the "c" and "x" merged together, tested, and 1 big PR?  I'm more than willing to help where I can.

[2015-04-21 19:43] vors commented on #6
It's a good question. One time 1 big PR with significant testing would be easier for your and fine for us. For all future development, we would prefer to deal with small PRs, scoping one particular aspect.

[2015-04-21 19:52] zuehlaa commented on #6
Sounds good.  I'll start looking at the website and app pool modules

[2015-04-25 17:31] gpduck opened #9 "PhysicalPath parameter not consistent in xWebsite"
The PhysicalPath property is marked as "Mandatory" on Set-TargetResource, but "write" in the MOF.  This is misleading when you look at the help generated in the ISE and results in the somewhat difficult to troubleshoot error message:

commands in an interactive mode. Please ensure that the underlying command is not prompting for user input, such as missing mandatory parameter, confirmation prompt

[2015-05-06 15:05] KyleLNicholls opened #12 "Update Examples for xWebsite to show support for multiple bindings"
Is there support for handling multiple bindings in the xWebsite module?

[2015-05-06 16:32] TravisEz13 commented on #12
My understanding that is that it does.  This is how you are supposed to specify it.  I'll try to test it some time.  We should add an example and a test case.
[code]

[2015-05-06 17:59] KyleLNicholls commented on #12
Thank you, that worked. I had a comma separating bindings.

[2015-05-06 18:02] TravisEz13 commented on #12
I'll re-purpose this issue to update the examples

[2015-05-14 19:18] arkasha opened #13 "MSFT_xWebBindingInformation certificate store values are incorrect"
MSFT_xWebsite.schema.mof contains "Person" and "WebHosting" certificate store names.

Personal is not actually the certificate store name and needs to be changed to "My". Here is my machine cert store list:
[code]

[2015-05-14 19:54] vors commented on #13
Is it the same problem as https://github.com/PowerShell/xWebAdministration/pull/11 ?

[2015-05-14 19:56] arkasha commented on #13
Yes it is.

[2015-05-20 16:01] TravisEz13 commented on #13
fixed by Pull Request #11

[2015-05-20 16:30] arkasha commented on #13
That pull request was closed though.

[2015-05-23 22:47] TravisEz13 opened #17 "When WebAdministration module is not installed xWebSite throws an error saying it performed an interactive operation"

[2015-05-26 21:28] TravisEz13 commented on #13
Pull Request #16 resolved and is merged to dev

[2015-05-26 21:28] #13 closed

[2015-05-26 21:30] TravisEz13 commented on #17
Pull Request #16 added a test, which is passing for this, but should fail.
[See line 19](https://github.com/PowerShell/xWebAdministration/blob/dev/Tests/MSFT_xWebBindingInformation.Tests.ps1#L19)

[2015-05-26 23:32] tysonjhayes commented on #17
Assign it to me I'll need to get a VM up with WMF 5.0 anyway for some testing I'm doing in xNetworking so I'll be able to repro it.

[2015-05-26 23:36] TravisEz13 commented on #17
Consider it assigned Tyson, but I cannot assign it... I'll follow up

[2015-05-27 14:06] hahndorf opened #18 "Remove all websites except the ones I really want"
So assume the desired state of my server is to have two web-sites, `Site-A` and `Site-B`, I only want these but no others. Another administrator has setup `Site-C` and `MyPrivateWebSite`

I don't know the names of these sites, but I want them gone.

I'm just starting with DSC, so I'm not sure how this can be handled if you have to specify a name for a resource.

I guess this problem applies to man

[2015-05-27 15:43] tysonjhayes commented on #18
IMO opinion most desired state configuration software (Chef, Puppet, DSC etc) don't really support this use case. The configuration is only aware of the state you've given it. So in your example it'd only be aware of Site-A and Site-B and would have no concept of the other sites. By the design you'd have to explicitly disallow those sites. Though I could be totally wrong. :grin:

[2015-05-28 23:35] tysonjhayes commented on #9
Fortunately this is an easy fix, unfortunately we don't have much in the way of unit testing on this module so it'll take more time to bootstrap up the test infastructure then it will to actually correct the problem. :grinning:

What we should decide on is if it should be required or not.

If we change the mof file to Required (which would remove the warning) we'd have to add it to the Get-TargetR

[2015-05-28 23:37] tysonjhayes opened #19 "Inconsistent spacing in xWebsite"
In xWebsite the spacing, bracing, and returns are super inconsistant. Would anyone mind terribly if I went and corrected it so my style OCD can calm down? :laughing:

[2015-05-28 23:46] TravisEz13 commented on #9
I agree with @tysonjhayes final analysis.  Physical-Path should be required.  Perhaps it's an issue in DSC that anything other than the key properties are required for Get-TargetResource.  Theoretically, only the key properties should be needed to get the resources.

[2015-05-29 00:19] tysonjhayes commented on #9
@TravisEz13 I've got a fix for this already and can copy/paste some of my tests from xNetworking to get this going pretty quickly. Should have something I can give back by tomorrow or so (assuming appveyor plays nice with me).

[2015-05-29 17:33] tysonjhayes commented on #9
OK so this is actually blocked on [xDSCResourceDesigner](https://github.com/PowerShell/xDSCResourceDesigner/issues/14) having a bug in the embedded classes.  This is fixed in the cDSCResourceDesigner. So I won't be able to test this until the bug in xDSCResourceDesigner is fixed. @TravisEz13 do we want to wait until xDSCResourceDesigner is fixed for me to submit this or should I go ahead?

[2015-05-30 20:27] TravisEz13 commented on #9
blocked because you cannot write proper tests?

How about we add placeholder tests for the resource designer tests and add a test that tries to calls a configuration without the parameter, and verify it throws.  Example with the Registry Resource, and the ValueName parameter missing:

[code]

[2015-05-31 09:19] hahndorf opened #21 "Proposing additional DscResources for the server level"
For a few years now I'm setting up my web server using PowerShell. When looking at the existing resources, a few things are missing (in addition to the new stuff in cWebAdministration) I propose the following new resources:

* IisFeatureDelegation
* IisMimeTypeMapping
* WebSiteDefaults
* AppPoolDefaults

these are all working against the server level rather than a site or AppPool.

I have already

[2015-06-01 10:09] hahndorf opened #22 "Question about testing and mocking"
I just started writing tests for my new resources which make server level changes. The first test has the following steps:

- Backup IIS Config
- Using the dsc resource to change a value
- Check that the value has actually been changed using IIS cmdlets.
- Restore the saved IIS config

Questions:
This actually makes changes to the ApplicationHost.config file, should I use some mocking instead, in

[2015-06-01 17:23] vors commented on #22
Very interesting question. It's always a compromise between what you can test and what you should mock. In the spirit of discussion https://github.com/PowerShell/DscResources/issues/9 I would recommend the following:

- Separate tests to Unit Tests and End-To-End tests.
- Mock all API calls that can harm user machine configuration in Unit Tests.
- Use `try { Setup ... } finally { Cleanup }` patter

[2015-06-09 06:54] hahndorf commented on #21
I'm working on this now, so I'm closing this issue.

[2015-06-09 06:54] #21 closed

[2015-06-16 21:31] #9 closed

[2015-06-17 22:06] tysonjhayes opened #25 "xWebsite will set bindings every time"
So in xWebsite if you specify the bindings as follows:
[code]
DSC will continously try to "fix" your web server as it'll never be able to match the CertificateStoreName. I have a lead on where the bug is and will be submitting a PR as soon as I've had time to write the tests.

[2015-06-24 14:00] lsprado opened #27 "Error for Stopping and Starting the Application Pool"
I'm trying to create the DSC script for deployment web applications.
The process is Stop the application pool, copy new files and Start the application pool
But, when I create the .mof file, return the following error

Add-NodeKeys : The key properties combination 'AppPoolLeandroPradoDSC' is duplicated for keys 'Name' of resource 'xWebAppPool' in node 'VSALM'. Please make sure key properties are u

[2015-06-24 17:05] tysonjhayes commented on #27
Short of renaming the application pool I'm not sure there really is a decent approach to this. I ran into the same problem with needing to stop and start a service a while back and never could figure out a good way to get it done.

[2015-06-24 17:34] lsprado commented on #27
@tysonjhayes In my case, the customer needs before the deplyment, stopping the application pool.
I research in the web about this error, and the problem is in the .mof file

[2015-06-24 18:42] tysonjhayes commented on #27
You are correct that the problem is in the DSC code itself. The issue is that Name is a key and you can't have duplicate keys in a dictionary (ultimately what is all "compiles" [used losely here] down to) hence the error. I honestly don't have any good ideas to get around it.

[2015-06-25 17:13] #19 closed

[2015-06-25 17:13] TravisEz13 commented on #19
This also added significant test coverage

[2015-06-28 00:56] xunilrj opened #29 "xWebfarm: New resource proposal"
Hi, I am planning (actually have already started) to create the resource to control ARR webfarm.

One can see the progress at:
https://github.com/xunilrj/xWebAdministration/network
https://github.com/xunilrj/xWebAdministration/tree/feature/MSFT_xWebfarm/DSCResources/MSFT_xWebfarm

Does someone thinks that would be useful?

[2015-06-28 19:58] tysonjhayes commented on #29
I'm of the opinion that if it can be configured in IIS then it should have some kind of resource for it.

Some quick suggestions I would make would be add some tests and documentation (examples) of how to use the code. Personally I'd never heard of a web farm in this regard before so I had to do some searching to figure out what it was you were doing.

As for if someone thinks it would be useful,

[2015-07-18 00:32] ScriptAutomate commented on #18
You would have to explicitly setup your DSC configuration to say Ensure: Absent for the specific websites and app pools that you do not wish to have present. There isn't a way to do a "Search for all sites that exist which don't match Site-A and Site-B" short of scripting it outside of DSC, or creating a custom catch-all DSC resource call (which should not be used, in my opinion).

In Chef I know

[2015-07-18 00:52] hahndorf commented on #18
@ScriptAutomate - I understand DSC much better now and agree with everything you said.

Yes it would be nice to have a very strictly managed environment where admin always follow the rules, but in the real world, that's not how it works.

On my servers as part of my monitoring scripts I check for the number of users, installed features running websites etc. and generate an alert if a non-desired n

[2015-07-19 04:26] #18 closed

[2015-07-20 19:11] tysonjhayes opened #31 "Require Server Name Indication"
Is there anyway to specify that I want to require Server Name Inidication on my SSL bindings?

Basically the setup is:
IP Address: All Unassigned
Port 443
Type: HTTPS
Hostname: somehostname
SNI: Checked
SSL Certificate: somehostname ssl thumbprint

Is there way to do this through DSC?

[2015-07-23 21:12] tysonjhayes commented on #31
So I have some code for this but it's doing some strange things in that Set-TargetResource is running every time I run this code. Kind of unclear as to why and I'm still working through it. I'll get a pull request up so everyone can see what I'm doing.

[2015-07-24 10:39] hahndorf commented on #22
I decided for myself to do mostly real testing rather than mocking, because that doesn't prove anything. In huge projects mocking can be a real time saver, but I think we should really test the resources we are writing.

[2015-07-24 10:39] #22 closed

[2015-07-24 16:50] tysonjhayes commented on #22
My only suggestion here would be that you place this in the integration folder. This way people can avoid running the tests if they are worried about something breaking on their own dev machine (I run all tests every time I publish a change for example).

[2015-07-30 18:37] #31 closed

[2015-08-07 18:24] #25 closed

[2015-08-07 18:24] tysonjhayes commented on #25
This was solved in some of my PRs that I've put out.

[2015-08-19 21:50] HemantMahawar opened #38 "Readme.md is missing new resources added in version 1.7.0.0"
Missing the property descriptions for the following new resources added in 1.7.0.0
◦xIisHandler
◦xIisFeatureDelegation
◦xIisMimeTypeMapping
◦xWebAppPoolDefaults
◦xWebSiteDefaults

[2015-08-21 16:05] tysonjhayes opened #41 "xWebsite should be able to specifiy Log Path"
Being able to change the default path for the website would be a nice to have.

Could be done by checking the properties "IIS:\Sites\$Name" -name logFile.directory and modifying accordingly.

[2015-08-21 16:36] tysonjhayes opened #42 "WebConfigKeyValue should be able to do more then just AppSettings"
Currently the config section hard codes to AppSettings, there are plently of other chunks of the web.config I'd love to be able to modify. It would be awesome to be able to modify any part of the file to be whatever I want, and add stuff as needed.

[2015-08-24 10:48] leshkinski opened #44 "xWebConfigKeyValue use of Key values in schema"
I think that it would make sense to remove 'key' attribute for ['ConfigSection' and 'WebsitePath'](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebConfigKeyValue/MSFT_xWebConfigKeyValue.schema.mof#L5-L6) properties to allow for multiple invocation of xWebConfigKeyValue resource against the same site or configuration section.

Leaving just the 'Key' property as the o

[2015-08-24 19:17] tysonjhayes commented on #44
Completely agree, would you want to submit a PR for this? I think we'd want to get some baseline testing in for the resource which could just be calling in Test-xDscResource/Test-xDscSchema so if you wanted to submit that change and include the pester tests we could get that pulled in.

[2015-08-25 08:41] lgramatikov commented on #42
In regard of modify, would you consider https://github.com/lgramatikov/kelleadsc/blob/master/Resources/klDeploy/DSCResources/klConfigFileKeyValue/klConfigFileKeyValue.psm1?
Sample is at: https://github.com/lgramatikov/kelleadsc/blob/master/Resources/klDeploy/Examples/Sample_klConfigFileKeyValue.ps1

Sorry for the shameless plug!

[2015-08-25 15:39] tysonjhayes commented on #42
I'd have to play with it but yeah I think that's more or less what I'm looking for. Basically just looking to be able to modify the entire web.config and make changes as needed.

At a quick glance I do wonder what ConfigId is used for? In the module the parameter is never actually called, but I also don't see a mof file, so is that being used as a key?  Also, do you have any tests for the resource

[2015-08-25 18:12] lgramatikov commented on #42
I'm sorry, but there are no tests for any of the resources. I do plan to add them at some point though. Current quality is pretty much "work for me, but won't bet my cat on it". ConfigId is indeed used as a key. I could not come up with less hacky way when needed to use it multiple times on one and the same file (as it is done in https://github.com/lgramatikov/kelleadsc/blob/master/DSC/Assert_AppI

[2015-08-27 01:17] TravisEz13 commented on #44
Does the same key mean the same value across different sites?
Does the same key mean the same value across different sections in the same site?

if not, these values should probably remain part of the key.

[2015-08-27 01:18] TravisEz13 opened #45 "The readme has a bad example for xWebConfigKeyValue"
The readme is currently invalid.  It has [an example](https://github.com/PowerShell/xWebAdministration/blob/dev/README.md#all-resources-end-to-end-scenario) which has an invalid property (KeyValuePair) for the xWebConfigKeyValue instance.

[2015-08-27 07:12] leshkinski commented on #44
@tysonjhayes as soon as I have some time to do this, I will :)

@TravisEz13 the issue is that this limits use of this resource within a foreach loop to add multiple sets of entries under the same site/server section. An example of this would be attempting to create a set of request handler mappings by defining an array or hashtable with desired values and then looping through them with this resour

[2015-08-27 17:39] TravisEz13 commented on #44
Can you give a code example of how the current key structure would lead to duplicate keys.  It seems to me if the proposed key would be unique then the current key would be unique as well since the proposed key is a subset of the current key.

[2015-08-28 09:41] leshkinski commented on #44
Sure, other than my earlier comment, this discussion demonstrates the issue perfectly: http://stackoverflow.com/questions/26715911/how-do-i-set-multiple-appsettings-values-using-xwebconfigkeyvalue

In my specific case, I was deploying a customer application and wanted to use a foreach loop, within which I planned to deploy configuration of 10 additional web handlers. Because all ten unique key pro

[2015-09-01 00:42] KarolKaczmarek opened #48 "xWebAdministration tests fail on local machine cause module isn't deployed"
xWebAdministration tests fail cause they expect the module to be deployed on a machine.
Tests are passing on appveyor builds because in appveyor.yml we modify PSModulePath so that development version is discovered:
[code]

We should be deploying the module during the test execution instead (similarily to: https://github.com/PowerShell/xTimeZone/pull/12/files ) so that we can run tests successfully

[2015-09-01 20:22] tysonjhayes commented on #48
Do we want to remove the appvoyer part where we modify the PSModulePath? If we're copying the files around there doesn't seem to be a need for the modification.

[2015-09-02 16:18] ETCIAC commented on #27
I believe this is best resolved by using a script resource to start the application pool and iis site at the end of the configuration.

[2015-09-11 22:56] KarolKaczmarek opened #52 "xWebAdministration tests are failing"
see https://github.com/PowerShell/xWebAdministration/pull/51

[2015-10-05 19:02] brantb opened #55 "xWebAppPool should be able to specify Managed Pipeline Mode"
I'd like to see a `ManagedPipelineMode` property on the xWebAppPool resource with values 'Classic' and 'Integrated'.

This could be done by checking the value of the 'managedPipelineMode' property of IIS:\AppPools\$Name and setting it accordingly.

[2015-10-12 19:01] KarolKaczmarek commented on #52
Hi @TravisEz13 ,
We are seeing many test failures in this module recently.
This is blocking acceptance of the outstanding PRs and new releases.
Could you please take a look at this?

[2015-10-12 20:21] tysonjhayes commented on #52
Is it possible this is related to the change I made in xDSCResources (https://github.com/PowerShell/xDSCResourceDesigner/pull/29) if so would publishing the fix so we can pull down the newer version actually fix the issue?

[2015-10-16 00:03] KarolKaczmarek commented on #52
After publishing xDSCResourceDesigner, we are still seeing these errors: https://ci.appveyor.com/project/PowerShell/xwebadministration/build/1.0.140

[2015-10-16 00:03] KarolKaczmarek commented on #52
[code]

[2015-10-16 00:06] tysonjhayes commented on #52
Well at least it's a slightly different error? :grin:

[2015-10-19 16:24] grubyrychu opened #57 "xWebVirtualDirectory WebApplication should not be mandatory"
WebApplication parameter in xWebVirtualDirectory should not be mandatory

[2015-10-19 18:21] KarolKaczmarek commented on #52
Actually, that's the one I've seen when opening this issue. There were some new issues introduced in the meantime which seem to be resolved with the XDscResourceDesigner update, but the original issue is still there.

The error indicates we have xWebAdministration deployed twice..

according to appveyor.yml, one is:
[code]

aware of any other place we may be deploying it/adding to PSModulePath?

[2015-10-22 23:19] craig-martin opened #59 "WebAppPool Credentials"
Would love to be able to set App Pool credentials with this DSC module.

[2015-10-22 23:23] craig-martin commented on #59
Oops, found it:
https://github.com/PowerShellOrg/cWebAdministration/tree/master/DSCResources/PSHOrg_cAppPool

[2015-10-23 03:05] tysonjhayes commented on #59
Actually I think this would be a pretty nice improvement if anyone wanted to improve upon xAppPool.

[2015-10-23 03:47] craig-martin opened #60 "Why is xWebConfigKeyValue Limited to AppSettings?"
Seems like a big restriction, wondering why this resource isn't able to act on more paths.  I would like to use it to set the authentication options for example (disable/enable anonymous).

[2015-10-23 19:14] tysonjhayes commented on #60
I'd thought I'd filed an issue on this previously but I can't find it, :+1: from me.

[2015-10-26 06:01] nebffa commented on #12
I, too, had comma separated bindings which is what I'd imagine most people expect as the norm for Powershell arrays - `@(1, 2, 3)` - having this documentation updated is a good idea

[2015-11-04 00:57] tysonjhayes opened #61 "Create SMTP Server Resource"
Having just stood up an SMTP Relay server in IIS it would have been super handy to have. If anyone wants to cobble something together I'd be greatful.

Ideally it would allow you to configure every property available to configure.

A full list would be found by running:
[code]

Some psudocode to get someone started would be:

Set Code:
[code]

Get Code
[code]

[2015-11-06 07:27] josemaparicio opened #62 "Issue creating site"
Hi,

I'm new with DSC so apologizes if there is something I'm doing wrong here. I have written a simple configuration, it is something like this:

[code]

I get this error saying "Cannot find path 'IIS:\Sites\secure2' because it does not exist.", obvious...

I took a quick look at the MSFT_xWebSite.psm1 module and I find line 404

[code]

This command returns all sites, for some reason the -Name p

[2015-11-06 17:19] tysonjhayes commented on #62
Hi @josemaparicio I think I've seen this before, but I'm spacing what was going on. What OS are you runnign this on?

[2015-11-06 21:56] josemaparicio commented on #62
Hi,

I'm running the script in a Windows Server 2008R2 with powershell 5. I've tested in a Windows Server 2012 R2 and it worked just fine without the where statement!

[2015-11-07 02:11] tysonjhayes commented on #62
What version of the resource are you using? I'm showing the dev version has those lines as:
    $Website = Get-Website | Where-Object -FilterScript {
        $_.Name -eq $Name
    }

Also I remember rewriting that to work with 2008R2 as I ran into that problem as well. Could you try updating to the dev version and see if the problem goes away?

[2015-11-08 13:46] josemaparicio commented on #62
Hi,

I downloaded 1.7.0.0 from the powershell gallery, should have cloned the repository but I thought the version from the gallery was good enough. I tried the repo version and it worked ok. I will use the github version from now on. Thanks for your help :)

Regards,
Jose.

[2015-11-09 15:44] tysonjhayes commented on #62
Ah, I think it's been a while since we've published (I have some PRs open that'll help with that) so the gallery might be a bit out of date. Glad to hear we've got you fixed up. I'm going to close this feel free to open a new issue if you run into another problem.

[2015-11-09 15:44] #62 closed

[2015-11-12 19:10] #48 closed

[2015-11-20 17:24] tysonjhayes commented on #52
This has been fixed up and all tests have been passing that have been submitted (that don't actually have something wrong with them. :grin: )

[2015-11-20 17:24] #52 closed

[2015-11-20 17:25] tysonjhayes commented on #57
Hi @grubyrychu sorry for not following up on this sooner, I'll take a look at this and get back to you.

[2015-11-20 18:20] tysonjhayes commented on #29
Hi @xunilrj did you want to submit a pull request on this?

[2015-11-20 18:22] tysonjhayes commented on #17
This is fixed though I'm not sure when.

[2015-11-20 18:22] #17 closed

[2015-11-23 04:52] nzspambot opened #64 "Binding are always updated (xWebsite) on every DSC execution"
Found an interesting issue, given this example:

[code]

You would expect that it test-target resource would correctly find the above bindings and not reset anything however it appears not to be the case that is it always run and set:

[code]

this also enters this in the event viewer:

```SSL Certificate Settings deleted for endpoint : 0.0.0.0:443 .```
followed by
```SSL Certificate Settings crea

[2015-11-23 17:03] tysonjhayes commented on #64
Hi @nzspambot - If you are using the xWebAdministration dev branch it should be generating a log file at $env:\tmp\xwebadministration.log - could you attach that so we can begin the debugging process? Might be easier to delete the file and rerun the invoke.

I ask for this as I'm not seeing much of the verbose messaging that should be in the resource around xWebsite.

[2015-11-25 16:23] tysonjhayes commented on #41
@nzspambot I think it would be, I was also thinking it would be of interest to control logging types, and location, what does your resource do exactly?

[2015-11-27 22:03] tysonjhayes commented on #64
Yes I would be open to reviewing a pull request mostly so I can understand the logic and flow of this better. Please also add pester tests around the change as well.

[2015-11-30 12:53] SNikalaichyk commented on #64
This issue is reproducible when a site has multiple bindings that targeting to the same port.

[2015-11-30 22:26] SNikalaichyk commented on #64
Tomorrow I am going to submit a pull request to address this issue. Currently working on updating Pester unit tests.

[2015-11-30 22:27] tysonjhayes commented on #64
Thanks everyone for looking at this I'll try to give it some attention once I get the PR.

[2015-12-03 02:15] tysonjhayes commented on #64
@nzspambot - @SNikalaichyk gave us a PR, it looks pretty good to me, do you want to take a pass to make sure it solves your issue?

[2015-12-04 00:15] tysonjhayes commented on #38
Currently see these in the README.MD so I'm closing this down.

[2015-12-04 00:15] #38 closed

[2015-12-04 00:45] #64 closed

[2015-12-07 17:09] CtrlC-Root commented on #12
+1 Just spent half a day trying to figure out how that parameter works until I found this issue.

[2015-12-07 21:51] #12 closed

[2015-12-18 01:49] RSabounds commented on #42
Making modifications to Web.config can readily be done in a script element, but if you're doing many of these in a script, you'd probably benefit from using a deployment utility to create this type of custom adjustment. Realize that on any run, if you're match-sourcing an app folder, then updating with an additional value, your web.config is being over-written and then updated, resulting in two po

[2015-12-21 07:37] RaYell opened #73 "xWebAppPool should be able to specify CLR version"
As an addition to #55 I'd be really useful to be able to specy CLR version (no managed code/2.0/4.0) with xWebAppPool resource.

[2015-12-21 22:52] tysonjhayes opened #74 "xWebAppPool's Tests Need to be Updated"
They don't currently test set-targetresource, should also look into how much coverage we get with the integration tests.

I'm currently working on this and am just filing an issue to reference when I submit the PR.

[2015-12-21 22:54] tysonjhayes opened #75 "MSFT_xIISFeatureDelegation fails Get-DSCResource"
Throws an error when you apply the config and try to reference it. I do not have the error in front of me to reference but if you uncomment the integration test it should throw an error.

[2015-12-22 12:32] aneillans opened #76 "Multiple SSL Bindings"
Multiple SSL bindings applied to the same site with different certificates; only the certificate specified on the LAST applied SSL binding is actually applied - to all of the bindings.

[2015-12-22 15:44] tysonjhayes commented on #76
Could you share the config you are using for this so we can begin tracking this down?

[2015-12-23 16:08] tysonjhayes commented on #55
Added in #77.

[2015-12-23 16:08] #55 closed

[2015-12-23 16:08] tysonjhayes commented on #73
Added in #77.

[2015-12-23 16:08] #73 closed

[2015-12-23 16:08] tysonjhayes commented on #74
Added in #77.

[2015-12-23 16:08] #74 closed

[2015-12-23 16:08] tysonjhayes commented on #59
Added.

[2015-12-23 16:08] #59 closed

[2015-12-23 19:42] tysonjhayes opened #79 "MSFT_xIISFeatureDelegation - Missing Set-TargetResource Tests"
Looks like I forgot to write them and didn't notice on the merge. We'll want to get those tested.

[2015-12-24 16:37] jwainwright commented on #76
Wouldn’t that be related to your SSLFlag settings? SNI requires one(and only one) default site(SSLFLag=0) per IP bound and the rest to be set to “SSLFlag=1” on the same IP. Assuming I am understanding the issue correctly.

[Think]

Jason Wainwright
Sr. Infrastructure Engineer
ThinkFinance.com<http://www.ThinkFinance.com>
4150 International Plaza, Suite 400, Ft Worth TX 76109

Privileged and Confid

[2016-01-04 13:38] aneillans commented on #76
Section of our config:
        xWebSite NewWebSite
        {
            Name   = $siteName
            Ensure = "Present"
			ApplicationPool = $appPoolName
            BindingInfo = @(
							@(MSFT_xWebBindingInformation
								{
									Port = 80
									IPAddress = '*'
									HostName = $siteName + '.' + $Stage + 'web.dom.com'
									Protocol = 'HTTP'
								});
							@(MSFT_xWebBindi

[2016-01-04 18:24] RSabounds commented on #76
2 recommendations:
1) make sure if you're on a forked repo, you update your fork from the parent branch.
Ensure the xWebsite module has the SSLFlags binding reference in your branch.
2) ensure you place the SSLFlags value to 1 for any secondary bindings.

Alan Bounds

[2016-01-05 08:58] SNikalaichyk commented on #76
Agree with @jwainwright and @RSabounds.
You should enable *Server Name Indication* by setting the **SSLFlags** property to **1**.

[2016-01-05 17:42] tysonjhayes commented on #76
@aneillans - are you running this on Server 2008 or 2012? While I agree with most of the thread the SSLFlags property would only be set if you are running 2012 and above.

[2016-01-05 20:22] RSabounds commented on #76
@tysonjhayes  - agreed. SNI support is only provided from 2012 forward. There is no way to implement this in 2008/r2. Thus you can use host-headers, but cannot share an IP/port with multiple certificates.

[2016-01-05 20:27] aneillans commented on #76
Confirmed; this is on 2012

[2016-01-07 18:42] randomchance opened #80 "MSFT_xWebAppPool Does not allow Manage Service Accounts"
I don't seem to be able to use MSFT_xWebAppPool to set an AppPool to Run as a gMSA.

I had hoped it would work using a credential with a blank password like so:
*Note that You have to set PSDscAllowPlainTextPassword = $true in the configuration data for this to work.*

[code]

*Note that You have to set `PSDscAllowPlainTextPassword = $true` in the configuration data for this to work (well, not wor

[2016-01-12 21:48] randomchance commented on #80
So it appears that you can't use a credential with an empty password anywhere in DSC, the Community resource gets around this by passing the username as a string and the password as a PSCredential object. Their approach does in fact allow me to use GMSAs so I have a path forward, however it would be nice if I could do the same using this resource.

[2016-01-13 08:24] Boxed01 opened #81 "MSFT_xWebsite support for FTP websites"
The MSFT_xWebsite currently lacks support for managing FTP websites. I would like to bring a vote for implementing this.

[2016-01-13 17:02] tysonjhayes commented on #80
Interesting, I'll take a look into this as soon as I have a chance.

[2016-01-14 18:46] tysonjhayes commented on #81
Seems like a good idea to me.

[2016-01-14 19:03] tysonjhayes commented on #80
Looking at this it appears to be an issue with DSC itself.  As I can run the specific command without issue.

[code]

Credentials in this case were username: test password: (null)
[code]

@TravisEz13 or @KarolKaczmarek - Do either of you know why we specific disallow blank passwords in credential objects in DSC?

I can modify this to match the community code but it would be inconsistent with how w

[2016-01-14 19:04] tysonjhayes commented on #76
@aneillans - As your running 2012 could you try setting the SSL flags as prescribed and let us know if that solves your problem?

[2016-01-15 13:11] SNikalaichyk commented on #81
I was planning to support FTP bindings in pull request #69 but decided to postpone it. It requires to rework the logic behind the site's Started/Stopped state.
For example if a site has both FTP and HTTP bindings, when you want the Website to be Stopped, the FTP site will be still Started. As soon as my PR is merged, I will be able to start working on it.

![websitewithftpstate](https://cloud.gith

[2016-01-15 15:20] Xainey commented on #57
I'm seeing the same behavior with xWebVirtualDirectory. The WebApplication variable used in the PS cmdlet New-WebVirtualDirectory is optional.

[2016-01-15 17:31] tysonjhayes commented on #57
Yeah I've been looking over the logic more recently, we should be able to change it. It may be some more time before I can cycle back to this, if anyone wants to submit a PR I would happily review it.

[2016-01-15 18:08] Xainey commented on #57
I'm not too confident with the proper DSC way to handle this item. Either set the parms to optional and include conditional logic or change all `$WebApplication` and `$Application` to allow nulls.

My quick fix looks like the following for each of the above parameters:
[code]

[2016-01-15 18:20] tysonjhayes commented on #57
IMO - we'd want to remove the mandatory = $true, as we're allowing empty strings, so why would I need to pass this at all?

It does mean it'd be a schema change (as it changes it from Key/Required to Write) - fortunately this isn't a breaking change.

We'd also need to change the logic where it tests for the existant of the application, as currently Test-ApplicationExists would return false (as an

[2016-01-21 02:18] randomchance commented on #80
Thanks for looking into it, I reached the same conclusion. I'm actually working on modifying several of the **MSFT_x...** resources to pass the user names separately (*Notably xService and xSqlServer* .) I'll admit it feels clunky, but it seems to be the best way to keep our deployment  on track for now....

[2016-01-26 22:31] TravisEz13 commented on #27
@tysonjhayes, @lsprado
Does the application need to be stopped before the file copy and started after the file copy?

[2016-01-26 22:42] TravisEz13 opened #83 "xWebsite: Resource should check if there's conflicting website running"
Per @KarolKaczmarek,

STEPS:

* run following config (it creates IIS which means there will be Default Web Site started)
[code]
* Call: `Start-DscOperation -path .\webconfig -wait -verbose`
(it will fail to start the new website because default web site is already running and there's conflict)

EXPECTED RESULT:
we should get error that we cannot start a new website because of bindings conflict whe

[2016-01-27 16:23] lsprado commented on #27
@TravisEz13 When I try to copy new files, some DLLs are in using, for this reason I need stop the AppPool before deployments

[2016-01-27 20:52] TravisEz13 opened #84 "Add a resource that verifies a website is running"
## Scenario
You want to verify a Web Site you deployed is basically functional

## Concept
Add a resource that only implements test, set always throws.  It pings a web page, if the web page passes, it skips set, if the web page fails, it cause set to be called.  Therefore your configuration will fail if your page isn't working.

[2016-01-27 21:18] tysonjhayes commented on #84
:+1: I like this idea.

[2016-01-28 09:34] SNikalaichyk commented on #83
Hello all,
I can implement it as I am already very familiar with xWebsite.

[2016-01-29 00:13] TravisEz13 commented on #83
@SNikalaichyk  Thanks

[2016-01-29 01:34] TravisEz13 commented on #84
Not completely my idea.  I was reading an internal issue @BerheAbrha created and the scenario seemed to be solved by this.

[2016-01-29 01:46] TravisEz13 commented on #27
I have some ideas.  Give me a week if I don't get back to you can you ping me?

[2016-02-02 22:11] tysonjhayes opened #86 "xSSLSettings - Add Integration Tests"
Add Integration Tests to xSSLSettings.

[2016-02-03 23:31] nanalakshmanan opened #89 "PSSA Errors"
Script Analyzer error in version 1.9.0.0

[code]

[2016-02-03 23:44] tysonjhayes commented on #89
That was probably my bad, thanks for pointing it out.

[2016-02-04 20:06] #89 closed

[2016-02-09 06:43] tysonjhayes commented on #76
Howdy - as we haven't heard anything in a while I wanted to give you a chance to chime in. If you don't get back to us I'll be closing this issue in 7 days. Thanks!

[2016-02-11 21:11] aneillans commented on #76
Hi Tyson, afraid its still an active issue, but I just havent had a chance to branch and test the SSL Flags suggestion.

[2016-02-22 05:00] AceHack opened #92 "xWebAppPool Get-TargetResource fails"
Below are my settings, and whenever I run Get-DscConfiguration I get the following error.

            xWebAppPool InstallWebAppPool {
                Ensure = 'Present'
                Name = 'MyAppPool"
                State = 'Started'
                autoStart = 'true'
                managedRuntimeVersion = 'v4.0'
                managedPipelineMode = 'Integrated'
            }

Get-DscConfig

[2016-02-22 15:47] Richiban opened #93 "xWebsite incorrectly validates that port is unique across site bindings"
This is a regression introduced in 1441fded306cdf652cdbcfacb6092a819f72b3e1.

The function Test-BindingInfo asserts for "standard" bindings (i.e. http and https) that the port number is unique across bindings; this is incorrect. It is perfectly valid (and what we are trying to do at the moment) to have multiple bindings on the same port that differ by host header.

What it should actually do is as

[2016-02-23 09:19] fredgate commented on #57
@tysonjhayes  I think this is actually the right way to go. The $WebApplication parameter is optional, so we should not need to pass it.

[2016-02-23 09:53] fredgate commented on #57
In fact I am not sure that is the right solution.
The keys of the resource are Website, WebApplication, Name. If we remove WebApplication, it will remain only WebSite and Name, which is not enough to uniquely identify instances of the resource.
We could have two directories with the same name in two different applications of a web site.
The idea of @Xainey looks better : allow WebApplication to ac

[2016-02-25 17:48] zaceverett opened #94 "xWebVirtualDirectory setting PhysicalPath to UNC"
Setting a PhysicalPath to UNC for a VirtualDirectory fails.

Perhaps we need to change

`New-WebVirtualDirectory -Site $Website -Application $WebApplication -Name $Name -PhysicalPath $PhysicalPath`

for

$virtualDirectory = Get-WebVirtualDirectoryInternal -Site $Website -Name $Name -Application $WebApplication

$virtualDirectoryPath = "IIS:\Sites\$Website\$Name"

New-Item $virtualDirectoryPath -Ty

[2016-02-25 18:27] tysonjhayes commented on #93
@SNikalaichyk - could you take a look?

[2016-02-25 19:47] CtrlC-Root commented on #57
I just ran into this and it's currently preventing me from properly configuring my IIS sites which is quite frustrating. @tysonjhayes are you currently looking at this? If you're not, would you accept a pull request to fix it?

[2016-02-25 19:50] tysonjhayes commented on #57
@CtrlC-Root - totally open to a PR on this! Thanks for offering!

[2016-02-25 19:51] SNikalaichyk commented on #93
@tysonjhayes This should be fixed in #88.

[2016-03-02 00:48] tysonjhayes commented on #93
Sorry about that, I've been pretty busy. #88 was merged, @Richiban could you merge to dev and see if the problem is resolved?

[2016-03-03 14:55] SNikalaichyk opened #96 "xWebAppPool InvalidCastToXmlDocument"
The **Get-TargetResource** and the **Test-TargetResource** functions in the **xWebAppPool** resource may fail on trying to cast **appcmd.exe** XML string output to an **XmlDocument**. For example if application pool user has "**<**" in its password.
I think this bug may be interrelated with #92 (**UPDATE:** it was not related).

Error:
[code]

Event Log Entry:
[code]

[2016-03-04 13:20] SNikalaichyk commented on #96
I'll take care of fixing this bug as well as fixing #92.

[2016-03-21 12:07] SNikalaichyk commented on #96
This issue should be fixed in #98.

[2016-03-21 12:11] SNikalaichyk commented on #92
This issue should be fixed in #98.
But please be aware that the type of the **autoStart** property was changed to **Boolean**.

[code]

[2016-03-21 23:43] PlagueHO opened #99 "Readme.md specifies State parameter for xWebVirtualDirectory resource"
This parameter does not exist.

- [ ] Readme.md needs to be updated.

I will submit a PR shortly.

[2016-03-22 22:48] #99 closed

[2016-03-29 10:43] xunilrj commented on #29
I would love to do the PR. I will just finish some adjustments and send it.

[2016-03-30 14:09] xunilrj commented on #29
I made the PR and it is ready for review:
https://github.com/PowerShell/xWebAdministration/pull/103

[2016-03-30 19:41] artisticcheese opened #105 "xWebAppPoolDefaults missing bunch of settings"
Is it expected or I'm missing something. Total number of parameters shall be the same as xWebAppPool since those are inherited for any knewly created apppool.

[2016-03-30 20:54] tysonjhayes commented on #105
What version of the module are you using? 1.8.0.0 added a bunch of parameters, if there are still more that are missing could you point out which ones you feel should be there?

[2016-03-30 21:04] artisticcheese commented on #105
All application pool settings are missing. Every single one of them. Below are the only one available.

xWebAppPoolDefaults [String] #ResourceName
{
    ApplyTo = [string]{ Machine }
    [DependsOn = [string[]]]
    [IdentityType = [string]{ ApplicationPoolIdentity | LocalService | LocalSystem | NetworkService }]
    [ManagedRuntimeVersion = [string]{  | v2.0 | v4.0 }]
    [PsDscRunAsCredential =

[2016-03-30 21:07] tysonjhayes commented on #105
Sorry that was my bad, I misread the resource name.

Yes it's expected at this time, though we are open to PRs on improving this!

[2016-03-30 21:08] artisticcheese commented on #105
Every application pool setting from xWebAppPool shall be part of this setting. So please consider adding them. Those values are inherited when new pools are created.

[2016-03-30 23:25] artisticcheese commented on #105
Also what property ApplyTo does for xWebAppDefaults?

[2016-04-05 19:22] bdanse opened #107 "xWebConfigKeyValue does not handle existing appsettings correctly"
Hi,
I am trying to use xWebConfigKeyValue to modify an existing set of appsettings.
The service is installed through a package and already has some existing appsettings in place.
But trying to alter these values results in the same value in all value attributes.

Looks like the Modify-Item function filters on value only. Resulting in changes on every setting with an empty value.
`$filter= "$defaul

[2016-04-07 01:29] tysonjhayes commented on #107
What version of the module are you using? I don't think I've run into this issue in particular, and I've been modifying existing keys. Though I believe mine already have values. I'll have to play with it to see if I can repro.

[2016-04-07 15:01] bdanse commented on #107
@tysonjhayes I am using version 1.9.0.0. But checked the 1.10.0.0 code is the same.
Indeed works fine with an appsetting with a default value already set.

[2016-04-10 00:22] PlagueHO opened #108 "Add Default PR and Issue template documents to Repository"
This repo is going to be used as a test for implementing default PR/Issue templates.

See [this issue](https://github.com/PowerShell/DscResources/issues/112) for more detail.

I will submit a PR with some suggested templates. Please make comments on the PR.

[2016-04-10 00:24] PlagueHO commented on #108
Sorry. This should be in xSharePoint. Disregard please.

[2016-04-10 00:24] #108 closed

[2016-04-16 01:32] TravisEz13 commented on #80
@tysonjhayes
No, I see no reason to disallow blank passwords, but I believe @randomchance  is correct.  Please file user

Please file a user voice issue that DSC should allow this:
https://windowsserver.uservoice.com/forums/301869-powershell?query=password

[2016-04-16 03:33] randomchance commented on #80
Done - [DSC: Should allow Credentials with Blank Passwords, so you can use GMSA accounts](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13447689-dsc-should-allow-credentials-with-blank-passwords)

[2016-04-16 21:17] TravisEz13 commented on #27
@lsprado  I think for now @tysonjhayes  idea to use a script is the best.  The solution I'm thinking of will take some design work (i.e. a long time.)

[2016-04-16 21:26] TravisEz13 commented on #44
@leshkinski @tysonjhayes I believe I understand the problem, but the suggested solutions goes in the wrong direction.  Removing keys will allow fewer resources to be specified.  I believe the correct solution is to change the property key from required to a key.

Which already done in [this commit](https://github.com/PowerShell/xWebAdministration/commit/45b92522d78b78743970d629c72fb13e2d4a8d7d)

[2016-04-19 08:20] schwaizi commented on #96
I still have similar issue. Tested using password contains letters and numbers.

Error:
This event indicates that a non-terminating error was thrown when DSCEngine was executing Test-TargetResource on MSFT_xWebAppPool DSC resource. FullyQualifiedErrorId is InvalidCastToXmlDocument. Error Message is Cannot convert value "System.Object[]" to type "System.Xml.XmlDocument". Error: "An error occurred w

[2016-04-19 08:32] SNikalaichyk commented on #96
@schwaizi,
The PR #98 hasn't been merged yet.

[2016-04-19 11:08] schwaizi commented on #96
true :)

well, i got rid of the message by specifying more values in case someone need workaround urgently

xWebAppPool ASM
{
	Name = "TestPool"
	Ensure = "Present"
	enable32BitAppOnWin64 = $true
	autoStart = $true
	managedRuntimeVersion = "v4.0"
	managedPipelineMode = "Integrated"
	startMode = "AlwaysRunning"
	LoadUserProfile = $false
	IdentityType = "SpecificUser"
	Credential = $WebCredentials

[2016-04-19 12:31] gigi81 commented on #81
Hello! Any update on this? Last comment is 3 months old. I wonder if @SNikalaichyk had the time to have a look into this. Thanks

[2016-04-19 13:30] SNikalaichyk commented on #81
Hi @gigi81,
Unfortunately no.

[2016-04-19 15:15] gigi81 opened #113 "Create a function to generate the BindingInfo"
I'm trying to create a function that returns the bindinginfo for a website. This is intended to reduce the complexity of my dsc resource file that will have 20/30 websites with similar bindinginfo based on the node name. Below is what I have at the moment but I'm getting an error and I don't know exactly how to sort it out. Any help on this would be really appreciated.

This is what I have at the

[2016-04-19 20:26] tysonjhayes commented on #113
I'll admit I'm kind of at a loss with this one, @TravisEz13 @PlagueHO any ideas?

[2016-04-19 20:36] BritishSteel opened #115 "xWebApplication test failing and attempting to redeploy"
I've got a webapplication that's deployed under a virtual directory

VirtualDir
----WebApplication

It's deploying fine with:
xWebApplication "$app Application"
                        {
                        Ensure = "Present"
                        Name = "WebApi"
                        PhysicalPath = $node.instances.$instance.confphysicalPath + "\$app" +"\WebApi"
                        Web

[2016-04-19 20:51] PlagueHO commented on #113
@tysonjhayes - actually I might have some ideas - I ran into some problems like this when implementing unit tests for the cFSRM resources (creating CIM instances and passing them around functions). I'll have a play around and see if I can see anything.

[2016-04-19 21:07] BritishSteel commented on #115
changed the name of the application to $website/$app and its picking it up now

[2016-04-19 21:07] #115 closed

[2016-04-19 21:44] PlagueHO commented on #113
I looked back through all my old cFSRM stuff and found that I had to do away with Embedded Instance arrays because the only way I could get them to work was to hard code them into the config. At the time I gave up and worked around the problem. I don't like mysteries so I decided to dig a bit further into it - this is a long read:

-Test 1: The following code works just fine:
[code]

- Test 2: Thi

[2016-04-20 13:18] gigi81 commented on #113
Hi guys,
Thanks very much for taking the time to have a look into this, particularly to @PlagueHO for the detailed answer.
As suggested I opened a UserVoice here:
https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13496448-bug-cim-instances-are-not-compiled-correctly-into
Feel free to upvote.

[2016-04-21 05:07] TravisEz13 commented on #113
I think this question was answered.  You filed a UserVoice for the desired language feature.  So, I'm closing the issue.

[2016-04-21 05:07] #113 closed

[2016-04-21 05:13] PlagueHO commented on #113
Cool! Thanks @gigi81 - have voted for it.

[2016-04-21 22:11] mbreakey3 opened #117 "Can't run tests unless in root module folder"
Right now you can only run pester tests if you are in the root folder of the module, but we want to be able to run tests while inside a folder (like 'Unit' for example).

[2016-04-21 22:45] KarolKaczmarek commented on #117
Agreed, we should be able to run it from any folder (root/tests/integration/unit)

[2016-04-21 22:45] KarolKaczmarek commented on #117
This is follow up to: https://github.com/PowerShell/xWebAdministration/pull/111

[2016-04-23 01:09] striker24JB opened #121 "xWebsite SSL Binding set certificate fails with "Value does not fall within the expected range.""
Using xWebsite to configure an SSL binding and set the certificate on a domain-joined web server running Windows 2012 R2 Standard.

When resource gets to the portion where it has to set the certificate it errors out with "Value does not fall within the expected range."

If I manually change the $Properties.certificateHash in the set-target to the certificate thumbprint or store it manually in a va

[2016-04-25 23:53] striker24JB commented on #121
After experimenting, I believe I've figured out what the culprit is (still don't know why it's being caused).

I'm using Powershell 5.0 RTM in the environment.

It seems that when ConvertTo-WebBinding parses the BindingInfo, for certificateThumbPrint it inserts a Unicode Left-To-Right character at the beginning (8206).  This causes the total length of the string to be 1 larger than intended (how I

[2016-04-26 23:06] #117 closed

[2016-04-27 07:08] mpalomas opened #122 "xWebAppPool missing SetProfileEnvironment property"
Hello,

Since IIS 8.0, a SetProfileEnvironment was introduced on processModel, but apparently it's missing from your xWebAppPool (I get error saying member SetProfileEnvironment is not valid)

http://www.iis.net/configreference/system.applicationhost/applicationpools/add/processmodel

So I would consider this as a bug.

[2016-04-28 16:22] SNikalaichyk commented on #122
Hi,
Not all the properties are currently supported.
Support for setting the **setProfileEnvironment** property has been recently added in #98. Pull request is currently Opened but hopefully we'll get it merged soon.

[2016-04-29 00:32] mpalomas commented on #122
Very nice to hear, thanks!

[2016-04-29 16:16] SNikalaichyk commented on #121
Hi,
Most probably the **Unicode**-encoded thumbprint was copied from the **Certificate** window.

![certgui](https://cloud.githubusercontent.com/assets/13381926/14921889/3581160a-0e3d-11e6-933d-5b019eb108b4.jpg)

In **Notepad++** convert you script to **ANSI**. You can use **Notepad** too, but the file must be reopened. You should see something like this:

![encoding](https://cloud.githubuserconte

[2016-05-02 23:50] tysonjhayes commented on #122
PR was merged. Can you please see if this resolves your issue?

[2016-05-03 01:00] Tiberriver256 opened #124 "Needs better documentation"
Hey guys,

I wanted to contribute to the documentation for the project because I think this is an awesome project but the lack of solid documentation is making it a bit difficult to pick up on usage.

I just wanted to start a conversation about what would be ideal as far as documentation goes. It seems right now we have:

1. General overview in **ReadMe.md** at the root
2. Various examples in the

[2016-05-03 02:26] tysonjhayes commented on #124
So I like the idea here and I totally want to support in getting better documentation in general. Could you give me an idea of what you are looking to cover here vs what we would find in [PowerShell/PowerShell-docs](https://github.com/PowerShell/PowerShell-Docs/tree/master/dsc)?

[2016-05-03 02:48] Tiberriver256 commented on #124
Nothing crazy different from what you have now. Just structured out with links to make it a bit easier to navigate.

i was thinking something close to the msdn documentation for production DSC Resources (Example: [FileResource](https://msdn.microsoft.com/en-us/powershell/dsc/fileresource)) would also benefit for each of the resources. Having the syntax, properties and an example instead of just th

[2016-05-03 03:11] tysonjhayes commented on #124
Seems pretty good. Why are you interested in using the wiki instead of a collection of markdown files? The markdown files may allow us to use similar build processes and publishing steps as the powershell docs script (ultimately allowing us to publish on msdn would be my goal here). Just kind of thinking out loud here, so grain of salt here.  Is the wiki just giving a better structure? Could we re

[2016-05-03 03:20] Tiberriver256 commented on #124
This is the magic of the wiki. It is a git repo of just MD files.

https://help.github.com/articles/adding-and-editing-wiki-pages-locally/

It is just the standard location for storing your collection of MD files I think.

[2016-05-03 04:04] PlagueHO commented on #124
Might be worth looking at how the [xSharePoint](https://github.com/PowerShell/xSharePoint/wiki) resource does it. I seem to recall that @BrianFarnhill mentioned something about how they have an automated process to build the wiki content from the Resource MOFs. Might be worth adopting the practice that repo is using?

[2016-05-03 04:12] BrianFarnhill commented on #124
Yea we do some stuff automatically at this point - here's the quick run down:

1. Comments to the schema.mof file for description and examples
2. Description property used on all properties in schema.mof file
3. Custom PS script grabs all of this and generates:
    * Custom help for the PowerShell module as "about_xSPResourceName"
    * Wiki pages that I then commit in to the wiki repo

An example

[2016-05-03 22:53] tysonjhayes commented on #124
Could you share the PS Script that does this automagic? This seems pretty awesome.

[2016-05-04 00:56] Tiberriver256 commented on #124
@BrianFarnhill -- *drool*

That sounds great. All I would be doing then is creating examples, reviewing the script output and enjoying the power of the xWebAdministration module.

[2016-05-04 01:15] BrianFarnhill commented on #124
@Tiberriver256 Glad you like the sound of it :)

@tysonjhayes There are a couple of scripts you need to look at:
* First is the cript that parses the MOF files - check out the [Get-MofSchemaObject](https://github.com/PowerShell/xSharePoint/blob/dev/Tests/xSharePoint/xSharePoint.TestHelpers.psm1) function in my Test helpers module to see how we read the MOF files in to manageable objects in scripts

[2016-05-04 01:45] PlagueHO commented on #124
Might I suggest that we see if we can integrate some of this process into the DSCResource repo? It seems like it might be pretty useful to many of the other resource modules that are starting to get pretty big (e.g. xActiveDirectory).

[2016-05-04 01:48] BrianFarnhill commented on #124
Worth discussing - @tysonjhayes can you ping me an email internally (look me up in the GAL) with the other relevant people/usual suspects cc'ed and we can get some agreement and set standards on this sort of stuff going forward?

[2016-05-05 00:35] BrianFarnhill opened #128 "xWebAppPool removes existing credentials if not specified"
**Issue Description:**

Consider the below configuration example:

    xWebAppPool AppPoolExample {
        Name = "My existing app pool name"
        restartSchedule = @("03:00:00")
    }

Here I am trying to only manage the time of the app pool schedule of an app pool that is created elsewhere (in this case SharePoint is creating the app pool). When I run the resource described above it sets the

[2016-05-05 00:40] tysonjhayes commented on #128
What version of the resource are you using? We've recently made osme changes to that resource in particular.

[2016-05-05 00:41] tysonjhayes commented on #128
Specifically we actually removed the default value for that in the dev version.

[2016-05-05 00:42] BrianFarnhill commented on #128
@tysonjhayes I knew I left something out - I'm running 1.9.0.0 that I think I pulled from the PSGallery

[2016-05-05 00:43] BrianFarnhill commented on #128
@tysonjhayes You're right, I can see the defaults in that build. Happy to close this one seeing as its been fixed in dev. Thanks dude

[2016-05-05 00:43] #128 closed

[2016-05-05 00:43] tysonjhayes commented on #128
Awesome, glad I could help. :grin:

[2016-05-05 00:45] tysonjhayes commented on #93
Howdy. I'm going to resolve this as we did make a change, please reopen if you are still seeing some issues.

[2016-05-05 00:45] #93 closed

[2016-05-05 00:46] tysonjhayes commented on #92
This has been merged, I'm going to close this out, please reopen if you are still seeing an issue.

[2016-05-05 00:46] #92 closed

[2016-05-05 00:46] tysonjhayes commented on #96
Closing this as the PR was merged. Please reopen if we are still having issues.

[2016-05-05 00:46] #96 closed

[2016-05-05 00:47] tysonjhayes commented on #76
Howdy - have you had a chance to test yet? I think that will resolve your issue.

[2016-05-05 00:49] tysonjhayes commented on #121
Hi @striker24JB  @SNikalaichyk has submitted a fix for this which we've merged. As noted you can remove the character manually or if you update to dev latest it will remove the character for you. As this looks to be resolved I'm going to go ahead and close this. Please reopen if you are still having issues or need more assistance.

[2016-05-05 00:49] #121 closed

[2016-05-06 04:41] mpalomas commented on #122
yes, issue solved, many thanks

[2016-05-06 06:01] tysonjhayes commented on #122
Thanks for letting us know!

[2016-05-06 06:01] #122 closed

[2016-05-06 17:36] tysonjhayes commented on #124
Sorry for the delay here I'll try to send out some communication today.

[2016-05-10 06:58] aravindabiswal commented on #41
@tysonjhayes ..are you going to add this feature to the module ? I am also using this by modifying the default module. It would be very nice if we get the new module with this update so that there will be no need of customization.

Right now my resource takes the logpath and creates separate log directory for each site in a shared environment.

[2016-05-10 21:44] tysonjhayes commented on #41
I've got no plans to implement this anytime soon, if anyone wants to get to it they may feel free to submit a PR.

[2016-05-10 23:35] tysonjhayes commented on #41
Sure, makes sense to me.

[2016-05-11 03:44] PlagueHO commented on #124
@BrianFarnhill - anything I can help with to get this stuff into the DSCResource core? There is some work being done on this at the moment and if we can at least get some templates in place it'll get things moving. I'm happy to help out if I can.

[2016-05-11 03:46] BrianFarnhill commented on #124
I was just sending @tysonjhayes an email about this - just wanted to make sure we all get on the same page in terms of how all the modules can use this first, then we can move forward on it. I'm more than happy to split the code out and show it in to the core DSCResource bit though

[2016-05-11 18:30] aneillans commented on #76
Hi @tysonjhayes, finally got to test this today.  Spot on - SNI resolves the issue :)

[2016-05-11 20:09] tysonjhayes commented on #76
Awesome. Thanks for letting us know. I'll go ahead and close this issue.

[2016-05-19 17:04] bswerdlen opened #133 "Remove Unnecessary Parameters in xWebApplication"
The Get-TargetResource cmdlet of xWebApplication provides a parameter [string[]]$SslFlags, but never actually uses the data contained within it. Instead, the script calls 'Get-SslFlags' and places the return value into $SslFlags. I have not tested all possible scenarios, but I have verified if no SSL flags are present on the system this will throw an error.

As a general rule, the Get-TargetResour

[2016-05-19 17:18] tysonjhayes commented on #86
I completely spaced on this. Please feel free.

[2016-05-19 17:23] tysonjhayes commented on #133
Your recommendation make sense, though I'm not sure I'd call it a bug. If you wanted to submit a PR for this I would happily take it.

[2016-05-19 17:25] bswerdlen commented on #133
Well, it produces an invalid error message to the console, so I don't know what else to call it but a bug :). The DSC resource never actually uses get-targetresource (as it probably should within set/test) so the 'bug' is not being surfaced or impacting the functionality used by the DSC engine.

[2016-05-19 17:27] bswerdlen commented on #133
btw, I figured I should probably post my suggested fix as a complete code snippit

function Get-TargetResource
{
    [CmdletBinding()]
    [OutputType([System.Collections.Hashtable])]
    param
    (
        [Parameter(Mandatory = $true)]
        [String]
        $Website,

        [Parameter(Mandatory = $true)]
        [String]
        $Name,

        [Parameter(Mandatory = $true)]
        [Strin

[2016-05-21 07:12] nzspambot opened #134 "xWebsite SSL Bindings behaviour"
@SNikalaichyk Can I get your feedback on this?

Writing some xWebsite Integration tests and have noticed this:

Works:

[code]

Does not work (no SNI on HTTPS bindings):

[code]

Running under DSC gives this error btw

[code]

Is this as intended ?

Also I've noticed that the test seems to now always return false

[code]

It is a simple config:

[code]

cheers

[2016-05-21 07:53] SNikalaichyk commented on #134
The "Value does not fall ..." error reminds me of the #121. Please make sure you have the latest version of the code.

[2016-05-21 09:20] SNikalaichyk commented on #134
Weird. Bindings are the trickiest part. :) I will try to reproduce this today and will let you know the result.
BTW when no SNI SslFlags should be equal to 0. In your second example it's set to 1.

[2016-05-23 12:30] SNikalaichyk commented on #134
Hi, I was able to reproduce this behavior but I wouldn't call it a bug.
It isn't possible to specify empty `HostName` and enable SNI (`SslFlags = 1`) via IIS Manager.
The resource should return an error in such cases.

[2016-05-24 16:46] bswerdlen opened #138 "xWebApplication SSLFlags - Results from Get do not match Set/Test parameters"
When running Get-TargetResource the SslFlags parameter returns an array which may contain up to 4 unique values:
Ssl, SslNegotiateCert, SslRequireCert, Ssl128

However, the Set/Test methods for SslFlags will only allow the following due to 'ValidateSet' restrictions:
 Ssl, SslNegotiateCert, SslRequireCert

This creates an error when trying to use the output of Get for the input of Set/Test. It als

[2016-05-25 10:08] nzspambot opened #139 "MSFT_xIISFeatureDelegation.tests.ps1 has a outdated link"
@PlagueHO  ( and/or  @tysonjhayes  ) this is the issue from appveyor:

[code]

Happy to provide a PR to try and resolve this?

[2016-05-25 10:29] SNikalaichyk commented on #134
This check should be implemented in the `ConvertTo-WebBinding` helper function. I will do it and submit a PR for this change.

I was not able to reproduce the problem. Will try digging deeper.

[2016-05-25 10:37] #134 closed

[2016-05-25 11:41] SNikalaichyk commented on #134
@nzspambot ,
Please take a look at PR #140 .

[2016-05-25 15:15] tysonjhayes commented on #84
I personally would like to see the 200 code or the content return in order to validate that what was being returned was expected.  That way we can validate that the correct content is being returned.

[2016-05-27 18:28] tysonjhayes commented on #61
Yes please. I have an SMTP server that I haven't had time to wrangle under control that I would definitely like to do.

[2016-05-27 18:49] SNikalaichyk commented on #81
@nzspambot ,
No. Please feel free to implement it.

[2016-05-28 02:52] Tiberriver256 commented on #124
Just checking back in. Let me know when you guys come to a consensus and I'll lend a hand where I can.

[2016-06-01 10:26] SNikalaichyk opened #142 "xDSCWebService fails on first run"
Deleted.

[2016-06-01 10:27] #142 closed

[2016-06-06 23:39] mbreakey3 opened #144 "PSSA rule violations in MSFT_xIisFeatureDelegation"
There are no calls to Write-Verbose in Get-TargetResource or Test-TargetResource
There should be at least one call to Write-Verbose

See rule description here:
(https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideVerboseMessage.md)

[2016-06-07 01:55] BrianFarnhill commented on #124
Hey @Tiberriver256 - so I've been rolling around some changes I wanna make to the xSharePoint resource's approach to documentation generation before we try to look at how we can make it a more widespread thing (I captured an [issue for it](https://github.com/PowerShell/xSharePoint/issues/315) in my repo this morning). I want to better structure my examples to be 'per resource' rather than just in

[2016-06-07 16:51] rs38 opened #145 "feature request: xWebApplication.EnabledProtocols"
it was already included on website level (see this Pullreq. [xWebsite - Implemented support for non-HTTP bindings](https://github.com/PowerShell/xWebAdministration/pull/69)) for `xWebSite.EnabledProtocols`, but still missing on application level, like `xWebApplication.EnabledProtocols='net.tcp'`

It would be possible implicitly by sth. like Site.ApplicationDefaults Property, but that is also not i

[2016-06-07 17:22] rs38 commented on #145
without DSC it's done like this:
`Set-ItemProperty "IIS:\Sites\Default Web Site\MyWebApp1" -name EnabledProtocols -Value 'net.Tcp'`

and the mentioned AppDefaults:
` Set-ItemProperty "IIS:\Sites\Default Web Site" -name applicationDefaults.EnabledProtocols -Value 'net.Tcp'`

I would like to include it in a PR but I doubt I will be able to satisfy you quality standards with testing and pester in the

[2016-06-07 17:56] mbreakey3 opened #146 "PSSA rule violations in MSFT_xIisHandler"
There are no calls to Write-Verbose in Get-TargetResource.
There should be at least one call to Write-Verbose

See rule description here:
(https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideVerboseMessage.md)

[2016-06-07 17:57] mbreakey3 opened #147 "PSSA rule violations in MSFT_xIisMimeTypeMap"
Ther are no calls to Write-Verbose in Get-TargetResource
There should be at least one call to Write-Verbose

See rule description here:
(https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideVerboseMessage.md)

[2016-06-07 17:58] mbreakey3 opened #148 "PSSA rule violations in MSFT_xIisModule"
-No calls to Write-Verbose in Get-TargetResource, Set-TargetResource, or Test-TargetResource (See PSProvideCommentHelp in https://github.com/PowerShell/FeatureSamples/blob/master/DSC/HighQualityResourceKitPSSARuleSeverities.md)

[2016-06-07 20:36] mbreakey3 opened #149 "PSSA rule violations in MSFT_xWebApplication"
There are no calls to Write-Verbose in Get-TargetResource
There should be at least one call to Write-Verbose

See rule description here:
(https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideVerboseMessage.md)

[2016-06-07 21:41] mbreakey3 commented on #148
closed - Write-Verbose used in helper function

[2016-06-07 21:41] #148 closed

[2016-06-07 22:40] mbreakey3 opened #150 "PSSA rule violations in MSFT_xWebAppPoolDefaults"
There are no calls to Write-Verbose in Get-TargetResource
There should be at least one call to Write-Verbose

See rule description here:
(https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideVerboseMessage.md)

[2016-06-07 22:42] mbreakey3 opened #151 "PSSA rule violations in MSFT_xWebConfigKeyValue"
There are no calls to Write-Verbose in Get-TargetResource, Set-TargetResource, or Test-TargetResource
There should be at least one call to Write-Verbose

See rule description here:
(https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideVerboseMessage.md)

[2016-06-07 22:54] mbreakey3 opened #152 "PSSA rule violations in MSFT_xWebsite"
There are no calls to Write-Verbose in Get-TargetResource
There should be at least one call to Write-Verbose

See rule description here:
(https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideVerboseMessage.md)

[2016-06-07 22:57] mbreakey3 opened #153 "PSSA rule violations in MSFT_xWebSiteDefaults"
There are no calls to Write-Verbose in Get-TargetResource
There should be at least one call to Write-Verbose

See rule description here:
(https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideVerboseMessage.md)

[2016-06-07 23:45] tysonjhayes commented on #149
Your links are 404ing, and I can't find a project called FeatureSamples. Curious why it was decided why we shouldn't have write-verbose in Get-TargetResource?

[2016-06-08 00:12] mbreakey3 commented on #149
Sorry, for the confusion, I meant there are no calls, and there should be. Also, I'll change the links, it's directing to a private file right now

[2016-06-08 09:09] PlagueHO commented on #139
@nzspambot - my question on this is: Why is the Unit test header for MSFT_xIISFeatureDelegation.tests.ps1 so different to the standard template? @mbreakey3 - is this an experimental header for use with the changes you're making to the DSCResource.Tests module layout?

[2016-06-08 17:29] mbreakey3 commented on #139
@PlagueHO - Yeah, this was our original plan to ensure that users could run the tests without having to install git on their machine, however, we've come across a larger problem that we're trying to figure out how to solve. See https://github.com/PowerShell/DscResources/issues/138

[2016-06-08 22:29] mbreakey3 opened #154 "Invoke-Expression used in xWebAppPool"
Invoke-Expression is used 3 times in this resource. Since this command is vulnerable to PS injection attacks, it shouldn't be used. The code where Invoke-Expression is used needs to be re-worked to not use this command.
Where it's used:
line 153: $returnValue.Add($_.Name, (Invoke-Expression -Command ('$appPool.{0}' -f $_.Path)))
line 361: $PSBoundParameters[$propertyName] -ne

[2016-06-09 06:09] PlagueHO commented on #139
Cool. Thanks @mbreakey3 - @nzspambot - maybe we just leave the MSFTies with it for now.

[2016-06-09 06:28] #139 closed

[2016-06-09 22:00] mbreakey3 opened #155 "Clean-up code in xIISFeatureDelegation integration tests"
There's a lot of commented out code as well as messy comments that prevent this file from being polished. Either file issues if the commented out code isn't working, uncomment the code, or delete it altogether.

[2016-06-09 22:03] mbreakey3 commented on #155
Also, the Invoke-Expression on line 84 needs to be replaced with something else as it is an unsafe command.

[2016-06-09 22:05] mbreakey3 commented on #155
@tysonjhayes - could you take a look at this?

[2016-06-09 22:07] mbreakey3 commented on #154
@SNikalaichyk  - could you take a look at these? I'm having trouble figuring out an alternative way to write these pieces of code without invoke-expression

[2016-06-09 22:11] mbreakey3 opened #156 "Get rid of Invoke-Expression commands in Integration tests"
Since Invoke-Expression is vulnerable to PS injection attacks, it shouldn't be used. The code where Invoke-Expression is used needs to be re-worked to not use this command.

Where it's used:

**xIISFeatureDelegation.Integration.Tests:**
line 84: Invoke-Expression -Command "$($script:DSCResourceName)_DenyDelegation -OutputPath `$TestEnvironment.WorkingFolder"

**xIISHandler.Integration.Tests:**
lin

[2016-06-09 22:22] mbreakey3 commented on #156
@tysonjhayes and @SNikalaichyk would you mind taking a look at these?

[2016-06-09 22:42] tysonjhayes commented on #156
Are we really that worried about an injection attack on our integration tests? Also are there any suggestions on what we should be using instead?

[2016-06-09 22:44] tysonjhayes commented on #155
It will honestly be a while before I get around to this, so if anyone else wants to clean this up they may feel free.

[2016-06-09 22:46] tysonjhayes commented on #154
Do we have a broader discussion going about not using Invoke-Expression?

[2016-06-09 23:04] mbreakey3 commented on #156
Just had a discussion about this. So for now, we're not going to worry about the invoke-expressions in the tests, so I'm going to close this issue for now. Sorry for the confusion

[2016-06-09 23:04] #156 closed

[2016-06-09 23:07] mbreakey3 commented on #154
So, for the actual resources we've decided that Invoke-Expression cannot be used due to the security risks. I'm working on figuring out some of the workarounds as the fix varies depending on the context, but it's difficult in some of these cases since I'm not as familiar with what the code does

[2016-06-09 23:09] mbreakey3 commented on #155
No problem, Is the chunk of commented out code a test that we ideally want?

[2016-06-09 23:45] mbreakey3 commented on #152
That would be great if you could just add it in with that PR

[2016-06-09 23:58] mbreakey3 commented on #152
Yeah, it doesn't have to be anything super detailed, just something to give the user feedback on what's going on. Since Get-TargetResource isn't very complex, a short/simple explanation is fine.

[2016-06-10 06:45] SNikalaichyk commented on #154
DSC resources are not even signed. It means you cannot ensure code integrity and anyone can inject anything into .PSM1 files without even using Invoke-Expression. In my opinion it's completely fine to use it.

[2016-06-10 17:06] tysonjhayes commented on #61
Not really sure which ones we would need first, I opened this as I needed to stand up an SMTP server and wanted to put it under DSC if possible.

I'm sure whatever you have would be fine, if you want to get the PR up we can start running it on our own machines and start picking it apart, good part of working in the open IMO. :grin:

[2016-06-10 17:52] mbreakey3 commented on #152
Maybe something in both the if statement and the elseif stating basically what the comments say:
"there is no website with this name" and "one website found with this name" or something like that

[2016-06-10 18:18] mbreakey3 commented on #154
In order to ensure that this code is secure and reliable, we have to remove Invoke-Expressions in all of the resources before xWebAdministration can be considered a high quality resource and not just an experimental one.

Here are a couple links describing more in detail why we shouldn't use it:
https://powershellstation.com/2015/12/09/code-smell-invoke-expression/
https://blogs.msdn.microsoft.com

[2016-06-10 19:06] SNikalaichyk commented on #154
There is no easy way to get rid of it in xWebAppPool. It works really well in this specific scenario.

[2016-06-10 19:09] mbreakey3 commented on #154
We're looking into some possible alternatives

[2016-06-10 19:15] mbreakey3 opened #157 "todo comments/commented out code in xIisModule.psm1"
-Any updates on this 'bug' in both Get and Set TargetResource. can we delete this comment?
       " # bug(TBD) deal with this better, maybe a seperate resource...."

-As well as this line of commented out code in Get-TargetResource:
"#-and $Module -ieq $handler.Module"

[2016-06-10 21:07] mbreakey3 opened #158 "Get rid of TODO in xWebAppPoolDefaults.psm1"
There is a TODO comment on line 49 of this file. It should either be added as an issue on github or taken out.

"# TODO: we currently don't allow a custom identity"

[2016-06-11 00:28] tysonjhayes commented on #154
So again, I ask do we have a broader discussion around this? Seems kind of arbitrary to decide that we don't want invoke-expression in DSC resources without discussing it broadly amongst all of our resources, furthermore it would invite discussions around what some more secure alternatives could be.

[2016-06-11 20:01] tysonjhayes commented on #157
Probably, to be entirely honest I'm not 100% sure what that module is for...

[2016-06-11 20:04] tysonjhayes commented on #133
This has been merged and is now fixed.

[2016-06-11 20:04] #133 closed

[2016-06-11 20:04] tysonjhayes commented on #41
This has been merged and is now fixed. Thanks @nzspambot

[2016-06-11 20:04] #41 closed

[2016-06-11 20:06] tysonjhayes commented on #60
Actually this is a dupe of #42 (more or less). So I'm going to close this one.

[2016-06-11 20:06] #60 closed

[2016-06-11 20:06] tysonjhayes commented on #83
Closing as this code was merged.

[2016-06-11 20:06] #83 closed

[2016-06-12 06:32] tysonjhayes commented on #149
Code has been merged. Closing issue.

[2016-06-12 06:32] tysonjhayes commented on #152
Code has been merged closing issue.

[2016-06-12 06:32] #152 closed

[2016-06-12 06:33] tysonjhayes commented on #138
Code has been merged. resolving issue.

[2016-06-12 06:33] #138 closed

[2016-06-13 02:43] mbreakey3 commented on #154
Yeah, @KarolKaczmarek @TravisEz13 any input on this?

[2016-06-13 02:49] mbreakey3 commented on #157
@KarolKaczmarek Do you have any background on this? It looks like it was transferred over when this resource was moved to gitHub

[2016-06-13 23:36] mbreakey3 commented on #154
Also, the fix for this has been implemented in PR #161

[2016-06-14 22:48] mbreakey3 commented on #149
It looks like this hasn't been updated yet

[2016-06-15 00:46] #86 closed

[2016-06-15 00:48] tysonjhayes commented on #81
So to show a bit of ignorance, how does this differ from changing a binding/port on a website (something that could be added to xWebsite) and needing to spawn its own resource? I'm good with either one as long as it makes sense.

[2016-06-15 09:41] rs38 commented on #145
yes, that would be nice!
How about a generic DSC XWebsite Resource that can configure an arbitrary part of the IIS like
`Set-ItemProperty "IIS:\Sites\XYZ" -name XYTProperty -Value 'XYZValue'`?

or did I miss it?

[2016-06-15 14:43] rs38 opened #164 "Authenticationinfo setting does not work on xWebSite level"
setting:

    xWebSite IISWebSite
    {
    AuthenticationInfo =  MSFT_xWebAuthenticationInformation
            {
            Anonymous = $true
            Basic = $false
            Windows = $true
            Digest = $false
            }}

throws:
VERBOSE: [WEBIE00056]: LCM:  [ Start  Test     ]  [[xWebsite]IISWebSite]
_Error: Unrecognized configuration path 'MACHINE/WEBROOT/APPHOST/Microsoft.

[2016-06-15 14:56] rs38 commented on #164
also I do not quite understand the mixed occurance of MSFT_xWeb**Application**AuthenticationInformation
and MSFT_xWebAuthenticationInformation in this test:
https://github.com/PowerShell/xWebAdministration/blob/master/Tests/Unit/MSFT_xWebsite.Tests.ps1

[2016-06-15 15:24] rs38 commented on #164
retested it with MSFT_xWebsite.psm1 from the DEV branch and the error is fixed.
probably this one:
https://github.com/PowerShell/xWebAdministration/pull/131

[2016-06-15 15:24] #164 closed

[2016-06-15 17:56] #154 closed

[2016-06-15 18:35] mbreakey3 commented on #155
@nzspambot Yep! Sounds good, this issue is already listed under that PR

[2016-06-15 20:00] tysonjhayes commented on #81
Wouldn't it be a bit of both though? I'm thinking the former sounds pretty good though.

[2016-06-17 17:33] #57 closed

[2016-06-18 00:21] mbreakey3 opened #166 "Add and Improve help-comments for all functions"
They should use the type of format found here:

https://technet.microsoft.com/en-us/magazine/hh500719.aspx

Also, we can use this issue to discuss whether the help-comment should be placed above the function entirely or at the top of the function, inside the curly braces. Right now we don't have an official standard for DSC resources but the DSC team as a whole mostly leans towards putting them ab

[2016-06-21 21:21] mbreakey3 commented on #166
Mainly because that's a pretty universal placement across most languages and it de-clutters the function. You should be able to collapse the help-comments whether they're above or inside the function. If that's the main issue, then that's something that we should bring up with the ISE

[2016-06-22 01:06] tysonjhayes commented on #166
For me it's about collapsing the help comments with the function, put it within the function I have to click once and everything relating to it is now collapsed out of the way. Where above means I have to click twice for every function.

Just my thoughts.

[2016-06-22 23:31] mbreakey3 commented on #166
@TravisEz13 @KarolKaczmarek @kwirkykat - do you have anything to add to this discussion?

[2016-06-23 01:04] kwirkykat commented on #166
Help comments should always go above the function.

That way you can keep the function collapsed while you open up the help comment separately to see what the function does, how you should use it, what parameters you should put in, etc.
That way it also doesn't add extra lines to the function and its much easier to see how long the actual function is.

Generally, all comments should go *above* the

[2016-06-24 12:57] guitarrapc commented on #164
I also met this problem. Thanks you tracking.

[2016-06-25 04:41] guitarrapc opened #169 "Is there Milestone to release 1.12.0.0?"
Hi, I've complete test with 1.11.0.0 for my environment and find xWebSite and other have to be update to unreleased version.

Is there any plan date to release next xWebAdministration module?

[2016-06-26 19:41] rs38 commented on #145
@nzspambot appreciate it!

[2016-06-28 21:19] KarolKaczmarek commented on #157
I'm not the author, but the second comment can be removed.
Regarding the first one... it was created before open sourcing, you may want to follow up with @grayzu, @TravisEz13 or Arun (don't know his GitHub handle) since they have been originally working on xWebAdministration.

[2016-06-28 23:43] #144 closed

[2016-06-28 23:43] #146 closed

[2016-06-28 23:43] #147 closed

[2016-06-28 23:43] #149 closed

[2016-06-28 23:43] #75 closed

[2016-06-28 23:43] #150 closed

[2016-06-28 23:43] #151 closed

[2016-06-28 23:43] #153 closed

[2016-06-28 23:43] #155 closed

[2016-06-28 23:43] #157 closed

[2016-06-28 23:43] #158 closed

[2016-06-29 17:49] guitarrapc opened #170 "[Feature Request] xApplicationHostConfig to cover general purpose applicationhost.config configuration"
Hi, appreciate for this super cool DSC resources. It greatly save my time.

BTW, current resources are very nice with specific usages but it doesn't cover other settings like "advancedLogging", "applicationRequestRouting", "proxy", "fileExtensions", "requestFiltering" and others. I believe specific usage works very nice and improve development efficiency, however if I need to create Script Resourc

[2016-07-02 16:38] TravisEz13 commented on #169
@kwirkykat ?

[2016-07-03 15:38] guitarrapc commented on #169
Already released and close.

[2016-07-03 15:38] #169 closed

[2016-07-03 18:22] TravisEz13 commented on #169
@guitarrapc Thanks

[2016-07-04 03:08] guitarrapc opened #172 "[Feature Request] xHttpErrors resource to handle httpErrors"
Hi, it is required to handle IIS Errors when  when you are using ASP.NET MVC in almost cases. IIS Errors can be handle with httpErrors element.

I believe there are many users who wants this resource to manage their error responses.

[2016-07-05 21:09] mbreakey3 commented on #6
Should this issue be closed?

[2016-07-05 21:10] mbreakey3 commented on #29
Can this issue be closed?

[2016-07-06 02:17] kwirkykat opened #174 "BLOCKER: xSSLSettings mof Needs ASCII Encoding"
Test failure can be seen [here](https://ci.appveyor.com/project/PowerShell/xwebadministration/build/1.12.590.0).

The xSSLSettings mof needs to be encoded using ASCII.

This module cannot be released until this issue is fixed.

[2016-07-06 07:06] BrianFarnhill commented on #124
OK so breathing back on the embers of this one - I've actually now got the documentation model that I would rather put forward as a work in progress in [my fork of SharePointDsc](https://github.com/BrianFarnhill/SharePointDsc/tree/feature-updatedexamples)

Basically in the current model there are a few things we do:
1. Keep "description.md" in each resource folder with the description of each reso

[2016-07-06 10:12] fredgate opened #175 "Where is xTokenize resource ?"
Where is the repository xReleaseManagment ? It contains the xTokenize resource that we need to evolve, to take into account the encoding of tokenized files.

[2016-07-06 19:34] kwirkykat commented on #124
@BrianFarnhill Love the DocoHelper scripts. Love the idea of setting up the wiki for every resource. :+1:
I think the 'comment at the top' method for example (and test) documentation works well.
For tests, we can also include a comment at the top for how to run the test properly (what WMF should be installed, other programs that need to be installed, any other dependencies).

The extra 'Resources'

[2016-07-06 22:44] BrianFarnhill commented on #124
@kwirkykat Awesome, so a couple of things there. Firstly I have that resources folder inside the examples because I still want to provide some other examples (which don't exist yet) that are complete examples rather than resource by resource, so I figured I would separate them based on folders like "resources" and "full examples" or something like that.

Also I decided to rename the description.md

[2016-07-07 18:38] bswerdlen opened #176 "How to set SSL Flags for xWebSite"
There is an SSL Flags parameter for xWebApplication which configures "IIS\SSL Settings" for an application, but there does not seem to be a counterpart for xWebSite. Is there some other methodology which is recommended for configuring that property on a web site?

Thank you

[2016-07-07 22:29] kwirkykat commented on #124
@BrianFarnhill I do really like that GitHub displays the readme.md for each resource when you open it up. That's cool. I don't think it really matters much what those md files are named, so making them readme.md works fine since it adds the cool GitHub display.

"MyResourceModule.md" probably is just the homepage of the wiki, so we could take that out and then just put a link to the wiki in the RE

[2016-07-08 02:12] BrianFarnhill commented on #124
@kwirkykat Should the tests folder still have both "Unit" and "Integration" inside of it to group the unit and integration tests?

[2016-07-08 19:11] kwirkykat commented on #174
Fixed in #177

[2016-07-08 19:11] #174 closed

[2016-07-11 09:34] iainbrighton opened #179 "xWebConfigKeyValue throws error updating key in v1.12.0.0"
In the latest release to the gallery, xWebConfigKeyValue now throws a `Cannot add duplicate collection entry of type 'add' with unique key attribute 'key' set` error when attempting to update an existing app setting:
[code]
There is a logic error in Set-TargetResource after the refactor between v1.11.0.0 and v1.12.0.0 that tries to add a key - rather than updating it. v1.11.0.0 had the following l

[2016-07-12 21:51] mbreakey3 opened #181 "No unit tests for XIisMimeTypeMapping"
Need to create unit tests for this module.

[2016-07-12 21:52] mbreakey3 opened #182 "No unit tests for xIisModule"
Need to create unit tests for this module

[2016-07-12 21:53] mbreakey3 opened #183 "No unit tests for xWebAppPoolDefaults"
Need to add unit tests for this module

[2016-07-12 21:53] mbreakey3 opened #184 "No unit tests for xWebConfigKeyValue"
Need unit tests for this module.

[2016-07-12 21:54] mbreakey3 opened #185 "No unit tests for xWebSiteDefaults"
Need unit tests for this module.

[2016-07-12 22:39] mbreakey3 opened #186 "No integration tests for xIisModule"
Integration tests need to be added for this module.

[2016-07-12 22:41] mbreakey3 opened #187 "No integration tests for xWebConfigKeyValue"
Integration tests need to be added for this resource.

[2016-07-12 22:42] mbreakey3 opened #188 "No integration tests for xWebVirtualDirectory"
Integration tests need to be added for this resource

[2016-07-12 22:46] mbreakey3 opened #189 "No examples for xIisModule"
At least one example file needs to be added to show how to use this resource.

[2016-07-12 22:48] mbreakey3 opened #190 "No examples for xWebApplication"
At least one example file needs to be added to show how to use this resource.

[2016-07-12 22:53] mbreakey3 opened #191 "README.md needs to be updated"
There are a lot of resources that aren't included in the README.md:
-xIisFeatureDelegation
-xIisHandler
-xIisMimeTypeMapping
-xWebAppPoolDefaults
-xWebSiteDefaults

[2016-07-12 23:03] mbreakey3 opened #192 "No examples for xWebAppPoolDefaults"
At least one example file needs to be added to show how to use this resource.

[2016-07-12 23:04] mbreakey3 opened #193 "No examples for xWebConfigKeyValue"
At least one example file needs to be added to show how to use this resource.

[2016-07-12 23:04] mbreakey3 opened #194 "No examples for xWebSiteDefaults"
At least one example file needs to be added to show how to use this resource.

[2016-07-12 23:05] mbreakey3 opened #195 "No examples for xWebVirtualDirectory"
At least one example file needs to be added to show how to use this resource.

[2016-07-12 23:14] #6 closed

[2016-07-13 08:44] iremolmezses opened #196 "adding xWebApplication fails at second run"
Hi,

I have used xWebApplication resource for dozens of times before, without virtual path and without problem.

This time, I need to add a web application to default website "under a virtual path" and my second configuration creates it successfully (see 2nd screenshot). However, it fails at second run (see 3rd screenshot).

I need this web application to be recreated if a newer version exists as

[2016-07-13 19:02] mbreakey3 commented on #196
@tysonjhayes or @nzspambot, do you know what could be going on here?

[2016-07-13 22:54] mbreakey3 commented on #196
Thanks!

[2016-07-20 18:07] TomasKT opened #199 "How to enable Central Certificate store and not to get an error that Certificate thumbprint is invalid"
Hi Support,

I am getting this error:
Unable to validate BindingInfo: "The CertificateThumbprint property is required for bindings of type "https
".".

Using latest xWebAdministration package.

Values that I am passing:
@{
				  Protocol = "https"
				  IPAddress = "*"
				  Port = "443"
				  HostName = "superweb.com"
				  CertificateThumbprint = $null
				  SslFlags = "3"
				}

[2016-07-22 23:31] raks-patel commented on #196
@iremolmezses i had a similar issue but i realised that in the name it should be a forward slash, not a backslash.  So in your screenshot 2 where you're using xWebApplication, instead of :

     Name = "virtualpath\$WebAppName"

it should be

     Name = "virtualpath/$WebAppName"

[2016-07-23 16:22] guitarrapc commented on #179
Hi, this is actually mess up as White Paper introduce it to use for Windows Server 2012 R2, but will fail every time.

https://github.com/PowerShell/Whitepapers/blob/master/PullServerCPIG/PullServerCPIG.md#advanced-configuration-for-windows-server-2012-r2

[code]

Anyone check this issue? Or should I send PR?

[2016-07-25 16:33] zjalexander commented on #179
cc @mgreenegit for the whitepaper issue

[2016-07-25 22:16] garrathleeds opened #201 "[Feature Request] xWebsite dynamic certificate"
Hi,

It would be useful to be able to choose the certificate for a https binding dynamically from the certificate store (i.e. lookup on the hostname) to apply a new certificate automatically when renewed / replaced.

I don't think Adding the thumbprint as a static value is very practice for certificates that have to renew regularly.

Thanks

[2016-07-25 23:21] PlagueHO commented on #201
I second this request :smile:

[2016-07-28 06:28] garrathleeds commented on #201
Hmmm, yeah good question. In the environment's I look after, getting a match on hostname and furthest expiration is perfect. But if you were to add, say a self signed certificate with a crazy long expiration, it would cause an issue here. But you could also test for this.

I think there will be a certain amount of understanding required to use this option.

[2016-07-28 07:40] PlagueHO commented on #201
@nzspambot , @garrathleeds - I'm working on something similar for the xCertificate module at the moment. I also did something fairly similar in my WsManDsc resource for creating HTTPS listeners.

But I'm thinking that several options could be specified that would form a query to identify the certificate to use. The options I'd want to use (at the company I work for) would be:
Issuer
Subject
KU
EKU

[2016-07-28 09:05] TomasKT commented on #199
Hi James,

The code is written in a way, that it does requires to have Thumbprint value for HTTPS and it can’t be a NULL.

If I put $NULL as a value, it gives me an error, that Thumbprint value is null.

So, code is not written to use a Central Certificate store.

I put a fix in place, by adding extra check in the if statement.

Starting with a line 1427 in the MSFT_xWebsite.psm1:
# SSL-related pr

[2016-07-28 10:39] raks-patel commented on #196
@nzspambot : I ran into this issue running against version 1.12.0.0.  Are you saying this fix should be in this version or the codebase yet to be release?

[2016-07-28 13:39] guitarrapc commented on #172
Sure. Here's what I should do with ScriptResource.

[code]

[2016-07-28 13:45] guitarrapc commented on #201
If there are xLetsEncrypt Resource, that's one of the choice.

[2016-07-28 21:25] #181 closed

[2016-07-29 05:00] PlagueHO commented on #199
I'd agree here. You need to specify a Thumbprint to use SSL. IIS will then look in the central store (defaults to using Certs:\LocalMachine\My if not otherwise specified) for a certificate with that thumbprint. So agree with @nzspambot  - it all looks to be working correctly. You do need to create an SSL Certificate, add it to your LocalMachine\MY certificate store and then specify the Thumbprint

[2016-07-29 08:14] PlagueHO commented on #201
@guitarrapc - As long as an Issuer and Subject could be selected in the config then a certificate issued by LetsEncrypt should be identified just fine. Do you know if there is an xLetsEncrypt resource available for getting certificates issued?

@nzspambot - Sounds pretty reasonable to me! So the list of parameters might be:
- Issuer
- Subject
- KU
- EKU
- ExpiresNotBefore
- ExpiresNotAfter

But to

[2016-07-29 08:17] TomasKT commented on #199
PlagueHO. you missing a  point of Central Certificate store... The idea is to avoid putting Thumbprint in the config and identify correct one using by the name of actual certificate.

Check this website, section "File Naming Convention":
https://blogs.msdn.microsoft.com/kaushal/2012/10/11/central-certificate-store-ccs-with-iis-8-windows-server-2012/

T.

[2016-07-29 08:18] PlagueHO commented on #201
Also, I'm currently working on the xCertificate to improve the methods that can be used for requesting certificates (plus bringing it up to standards). So I can imagine the xCertificate resources would commonly be used with this resource to get internal CA certificates issued and then this resource would identify the cert and bind it - at least that is how I'd like to use it :smile:

[2016-07-29 08:25] PlagueHO commented on #199
@TomasKT - you are quite right! Sorry about that. I wasn't even aware this feature existed - that is actually really useful to know. :smile:

I didn't read your title correctly. So this is a new feature/resource request. I think this would require more than just changes to xWebSite. I expect it would also require changes to other resources to configure the location of the CCS.

[2016-07-29 14:21] guitarrapc commented on #201
Sorry, Let's Enctrypt is just an idea of recent days trend. It's not yet perfectly automated within Windows Platform, thus should wait more brush-up.

[2016-08-01 22:58] mbreakey3 commented on #184
Fixed

[2016-08-01 22:58] #184 closed

[2016-08-03 00:21] BrianFarnhill commented on #124
My doco helper module is almost complete, I did have to raise [another discussion](https://github.com/PowerShell/DscResources/issues/167) with regard to taking the doco out of the readme file - linking it here as its related

[2016-08-04 22:48] mbreakey3 opened #204 "Broken Link in Example/README.md file?"
The link to the zip file doesn't appear to be working. What is this [README.md](https://github.com/PowerShell/xWebAdministration/blob/dev/Examples/README.md) file for? There's no clear documentation on it.

[2016-08-05 01:15] tysonjhayes commented on #204
Pretty sure that's cruft left over from when we first released.

However the bits they may be referring to may be found here: [DSC-Windows Server 2012 R2-Preview Demos](https://msdnshared.blob.core.windows.net/media/MSDNBlogsFS/prod.evol.blogs.msdn.com/CommunityServer.Blogs.Components.WeblogFiles/00/00/00/63/74/metablogapi/3124.Demo_WindowServer2012R2-Preview_4677B514.zip) and when extracted locat

[2016-08-05 17:59] mbreakey3 opened #207 "README.md missing info on resources"
Currently information on these resources is not included in the readme file:
-xIisFeatureDelegation
-xIisHandler
-xIisMimeTypeMapping
-xWebAppPoolDefaults
-xWebSiteDefaults

[2016-08-05 22:59] mbreakey3 opened #208 "Create unit test for testing Invoke-AppCmd in xWebAppPool"

[2016-08-11 23:17] mbreakey3 opened #211 "Examples need brief overview"
All of the examples (especially from xWebsite, xIisLogging, and xSslSettings) need to have a brief description of when to use the example, what the expected outcome is, etc. Some general comments throughout explaining each part would also be helpful.

[2016-08-11 23:57] mbreakey3 opened #212 "Create a short pre-run script for Examples"
There should be a script that ensures the machine is set up and ready to run any/all of the examples. i.e. making sure IIS is installed.

[2016-08-15 22:06] mbreakey3 opened #213 "Rename this resource module to WebAdministrationDsc"
Looking for any and all feedback on the first release of [WebAdministrationDsc](https://github.com/PowerShell/xWebAdministration/tree/WebAdministrationDsc)!

[2016-08-17 16:15] vercellone opened #215 "xIisModule: Write-Verbose runtime errors"
### A parameter cannot be found that matches parameter name 'f'..

[code]
### A positional parameter cannot be found that accepts argument 'S'.

[code]

[2016-08-18 13:40] raks-patel opened #216 "EnabledProtocols for xWebApplication missing?"
Hi there, i noticed that xWebsite has EnabledProtocols but xWebApplication hasn't.  Is there a reason for this as i have a wcf service off the default website which uses Azure Service Bus to allow it to be called from a worker role in Azure and needs the net.tcp protocol enabled on it.

[2016-08-18 21:54] mbreakey3 commented on #208
closing issue - there's not a good way to test this function since its main purpose is to invokes an .exe file

[2016-08-18 21:54] #208 closed

[2016-08-19 00:44] #27 closed

[2016-08-19 00:51] kwirkykat commented on #175
@fredgate No one seems to know. I'm still trying to find it...

[2016-08-19 00:51] #175 closed

[2016-08-19 00:55] #196 closed

[2016-08-19 15:01] BarnumD opened #217 "AuthenticationInfo property of xWebsite fails."
Given example DSC code:

{
  Import-DscResource -Module xWebAdministration
  Node mynode
  {
    xWebsite example.domain.com
    {
      Ensure          = "Present"
      Name            = "example.domain.com"
      State           = "Started"
      PhysicalPath    = "C:\inetpub\example.domain.com\webroot"
	  AuthenticationInfo     = @(
                MSFT_xWebAuthenticationInformation

[2016-08-21 04:03] kevinsea commented on #190
I just wanted to point out that this [DSC generator](https://github.com/kevinsea/dsc-generator) can quickly give you some good, ready-to-run examples based on your current IIS configuration.

![dsc-gen2](https://cloud.githubusercontent.com/assets/3883668/17835220/f5fc5868-672f-11e6-814c-dd1354f7ac5e.PNG)

[2016-08-22 15:58] sameer-kumar opened #218 "Module not found error"
I have installed **xWebAdministration** v 1.13.0.0 on my source server using Install-Module command. Then I copied the folder 1.13.0.0 folder from my source server to target node under C:\Program Files\WindowsPowerShell\Modules\xWebAdministration folder.
When I try to run a DSC configuration which is referencing resources from this module, I get not found error,`Unable to load module 'xWebAdminist

[2016-08-22 20:32] mbreakey3 commented on #190
Great, thank you for bringing this to my attention.

[2016-08-22 21:57] mbreakey3 commented on #215
Working on cleaning up this module - should be fixed in PR #219

[2016-08-22 23:38] kwirkykat commented on #218
@sameer-kumar WMF/PowerShell 4.0 doesn't like the version folder. Copy the contents of the 1.13.0.0 folder one level up into the C:\Program Files\WindowsPowerShell\Modules\xWebAdministration folder and then delete the 1.13.0.0 folder.

[2016-08-23 21:10] BarnumD commented on #217
MSFT_xWebAuthenticationInformation
                 {
                      Anonymous = $true
                      Basic = $false
                      Digest = $false
                      Windows = $false
                 }

Using AuthenticationInfo without the @() seems to work.  Perhaps the issue here is that both binding info and authentication info are documented as needing to be " in the f

[2016-08-25 02:00] tysonjhayes opened #221 "Inconsistent Logic in Test-TargetResource for xWebsite"
In Test-TargetResource we see two different ways of saying the desired state is false.

[L852](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebsite/MSFT_xWebsite.psm1#L852)

[code]

and [L993](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebsite/MSFT_xWebsite.psm1#L993)

[code]

Nothing is logically wrong with these, as the $inDesired

[2016-08-25 16:56] randomchance commented on #80
I believe DSC stops the credential from ever being delivered, preventing you from being able to check the username - but I could be mistaken

[2016-08-25 20:12] TravisEz13 commented on #80
@MarvTheRobot not all accounts ending in `$` are managed service accounts.  Machine accounts in a domain also end in `$`, but I don't think they could be used in this way...

[2016-08-26 11:51] SNikalaichyk opened #222 "xWebApplication: regression in #220. PhysicalPath issue."
Hi @gigi81,
#220 does not seem to work as expected: WebAppPool is now being updated, PhysicalPath is no more.
Change on line 157 breaks setting of the PhysicalPath property.

In #30 I fixed setting PhysicalPath, WebAppPool was working as expected too. It seems that both issues were reintroduced since then.

[2016-08-26 12:37] SNikalaichyk commented on #221
@tysonjhayes ,
I personally prefer the first approach. Checking all the properties is useful for troubleshooting, verbose logging, and scenarios where the **Invoke-DscResource** cmdlet is used.

[code]

[2016-08-26 13:11] gigi81 commented on #222
Hi @SNikalaichyk
Correct me if I'm wrong, but it seems from #30 that while settings the PhysicalPath, the Filter parameters needs to be:
[code]
While for the apppool it needs to be just:
[code]

I changed both because the webapppool was wrong and not working (someone add the virtualDirectory[@path='/'] to it as well) and assumed PhysicalPath needed the same fix. I also checked the documentation of

[2016-08-26 13:17] SNikalaichyk commented on #222
@gigi81 ,
I confirm. Let's do it.

[2016-08-26 13:58] gigi81 commented on #222
@SNikalaichyk Great! I'm busy right now. You can go ahead if you have time now or I can do it later today or tomorrow.

[2016-08-26 17:40] SNikalaichyk commented on #222
@gigi81 ,
Please do it when you have time. It's not urgent.

[2016-08-28 19:10] kevinsea opened #223 "xWebsite AuthenticationInformation documentation error"
The xWebAdministration ReadMe.md says xWebSite has an AuthenticationInformation property that is an array of MSFT_xWebAuthenticationInformation:

 Only a single instance would seem to be needed and checking the [mof](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebsite/MSFT_xWebsite.schema.mof) I see

To avoid confusion, the documentation should be revised.

It also

[2016-08-28 21:45] kevinsea commented on #217
I was trying to get @BarnumD on stackoverflow, see #223 for my notes on the documentation issue.

[2016-08-29 12:41] BarnumD commented on #217
Thanks for letting me know and raising the issue.

On Sun, Aug 28, 2016 at 5:45 PM, Kevin Callahan <notifications@github.com>
wrote:

[2016-08-31 12:24] gigi81 commented on #222
@SNikalaichyk
done! sorry for the delay

[2016-08-31 17:32] jrudley commented on #212
Sounds like a good case for DSC:)

[2016-09-03 16:03] #222 closed

[2016-09-06 21:34] fredgate opened #225 "Can not remove ServiceAutoStartProvider property with xWebApplication resource"
With the xWebApplication  resource, I can configure the auto start provider of the application :
[code]
But after, I can not use this resource to remove the auto start provider of the the web application. If I use the following configuration, the autostart provider will be simply skipped :
[code]

This can lead to a blocking position.
It seems normal to not configure a property (such as self auto

[2016-09-07 07:22] rfresow opened #226 "xWebsite MOF error on Windows 7"
xWebsite 1.13.0.0 returns an error on Windows 7:

_The command Test-TargetResource of the PS module MSFT_xwebsite does not implement the write property LogPath mentioned in the corresponding MOF schema file C:\Program Files\WindowsPowerShell\Modules\xWebAdministration\DscResources\MSFT_xWebsite\MSFT_xWebsite.schema.mof. All write parameters mentioned in the schema file must be implemented by the c

[2016-09-07 17:59] kwirkykat commented on #226
@mbreakey3 or @tysonjhayes Any idea what's happening here?

[2016-09-07 18:04] tysonjhayes commented on #226
@rfresow - did you upgrade from an older version of xWebAdministration? Have you rebooted the system since this error? When I've run into this before it was an issue with WMI having a cached older version which was fixed by either stopping WMI or a reboot. Not the best answer I know but I've never been able to figure out exactly what's going on. :/

[2016-09-07 20:05] fredgate commented on #225
I can start to work on this bug/feature.
Actually, the operation of the ServiceAutoStartEnabled is as follow :
* if the property is not specified, nothing is done
* if a value is specified, the property is updated
This seems correct but not sufficient. It would be necessary to remove the property : for that I suggest to allow null value. It is currently authorized by the DSC resource but produces

[2016-09-08 08:22] rfresow commented on #226
@tysonjhayes I didn't do a reboot after installing. Just tested with installing the latest version and rebooting and it seems that it is working now. On an other machine we have a similar problem with a mof mismatch and probably rebooting that machine will resolve that problem also. Too bad it needs a reboot because we want to be able to install a resource on the fly.

[2016-09-08 08:22] #226 closed

[2016-09-08 12:06] fredgate commented on #225
I started to work on this issue.
It is not terminated, but I opened a pull request to get feedback and help.

[2016-09-08 19:05] tysonjhayes commented on #226
I've gotten away with just crashing WMI and not needing to do a full reboot. I think the bug is in WMF 4.0 as I've never heard of a complaint on 5.0 with the upgrade process...

[2016-09-12 19:35] DaveFranks opened #230 "xWebAppPool failures when changing identity and credential"
Scenario: Staged sites and pools were created on an IIS web farm with a test domain account and needed to change them to the production account. This is on Windows 2012 R2. Using xWebAdministration -ModuleVersion 1.11.0.0

Changing credentials on a 6 node farm containing 7 app pools failed and locked out the production ID it was trying to set.  This was done simultaneously across the farm when upd

[2016-09-13 08:20] TomasKT opened #231 "Adding bindings takes ages then Central Certificate store is enabled"
Hi Devs!

So here is a thing...

We have like ~300 bindings attached to the IIS website.

Every time we push DSC it takes 15min to do the job.

However, If I change Central Certificate store path to something that it's not valid, it adds bindings in a less than a minute.

Question would be why it takes so long to add bindings then Central Certificate store is "enabled"?

Would it be possible to ma

[2016-09-13 17:14] kwirkykat commented on #231
@tysonjhayes Any idea here?

[2016-09-13 19:58] tysonjhayes commented on #231
@TomasKT - Couple of quick questions.

1) Which version of the module are you using?
2) Does it take 15 mins when there is no change to make? ie: It's just running test with no set? Or is it making changes and takes 15 minutes to apply to all of this.  This would just change what code it would be executing.
3) Could you give us a sample of the config so we are trying to repro a similar problem? I

[2016-09-15 09:19] TomasKT commented on #231
1) 1.12.0.0
2) It takes 15min regardless if there are changes or not. Also I did some more testing and discovered that Central cred store doesn't make any difference, it still takes 15min. Apologies for miss guiding.
We could change case in to "Deployment takes the same amount of time with or without changes in the configuration".
3) I have added two files, deployment and data. I have left just II

[2016-09-15 18:23] tysonjhayes commented on #231
So what I'm understanding is you have ~300 bindings and its taking about 15 mins, which you feel is to long? In the original issue you indicated you could make it go faster, is that no longer the case?  Is the issue you are discussing boiling down to its taking to long?

[2016-09-15 21:51] bswerdlen opened #232 "xWebApplication SSL Flags produce an error"
In my testing, whenever I try to apply SSL Flags to a web application I receive the following error:
Flags must be some combination of None, Ssl, SslNegotiateCert, SslRequireCert, Ssl128
    + CategoryInfo          : NotSpecified: (:) [], CimException

When I run the code manually I can pinpoint the error at
Set-WebConfigurationProperty : Flags must be some combination of None, Ssl, SslNegotiateCe

[2016-09-15 21:54] bswerdlen commented on #232
whoops, the fix didn't copy across correctly
Write-Verbose -Message ($LocalizedData.VerboseSetTargetSslFlags -f $Name)
$params = @{
	PSPath   = 'MACHINE/WEBROOT/APPHOST'
	Location = "${Website}/${Name}"
	Filter   = 'system.webServer/security/access'
	Name     = 'sslFlags'
	Value    = ($sslflags -join ',')
}

Set-WebConfigurationProperty @params

[2016-09-16 09:40] TomasKT commented on #231
I don't mind that it takes 15min for a very first time than it's being deployed on new server. But for other next deployments it should take less time, since all bindings are there. So, it feels that it doesn't check if binding is there or not...
It could  not make it run faster, I was confused with other stuff that i was working. As I said, I did more testing and all test took 15min.
Ideally we w

[2016-09-16 14:25] tristanlane commented on #175
@kwirkykat
xReleaseManagement was included in DSC wave 10 and contained the xTokenize resource. [ferventcoder/dsc-resource-kit](https://github.com/ferventcoder/dsc-resource-kit/tree/master/xReleaseManagement) contains the same module you can install from [PowerShellGallery](https://www.powershellgallery.com/packages/xReleaseManagement/1.0.0.0)

[2016-09-16 20:55] tysonjhayes commented on #231
I'm a bit confused by the above statement [L879](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebsite/MSFT_xWebsite.psm1#L879) shows the following code:

[code]

Which shows we test that changes are needed every time in the test-targetresource function.

On [L536](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebsite/MSFT_xWebsite.psm1

[2016-09-19 08:29] TomasKT commented on #231
Is it possible that binding check takes the same amount of time as adding a change?

That would explain why it's takes same amount of time.

[2016-09-20 16:05] kwhickey opened #233 "Comparing identical xWebAppPool resources with different keys fails due to bad array comparison of restartSchedule"
## Description

PowerShell can't simply compare two arrays for equality with `-eq` or `.Equals()`. See http://stackoverflow.com/questions/9598173/comparing-array-variables-in-powershell. However, this seems to be how the xWebAppPool's `restartSchedule` array non-key property is compared, when comparing resources that share class name and key property values. When all things, including this value,

[2016-09-24 09:12] hahndorf commented on #207
I checked my logs and found some information I wrote when I created some of those resource, due to some merging conflicts they never made it into the pull request:

### xIisFeatureDelegation
* **SectionName**: relative path of the section to delegate such as **security/authentication**
* **OverrideMode**: Mode of that section { **Allow** | **Deny** }

### xIisMimeTypeMapping
* **Extension**: The f

[2016-09-24 09:29] hahndorf opened #235 "New resource X509-Certificate?"
I am thinking about creating a DSC resource for a SSL/TLS server certificate, it would ensure that for a certain https binding of a certain web site a valid certificate would always be present.

Right now I'm using a PowerShell script which in turn uses the [AcmeSharp PowerShell module](https://github.com/ebekker/ACMESharp) to request a new Let's Encrypt certificate if the existing one expires in

[2016-09-24 09:40] hahndorf commented on #213
Hi Mariah,
maybe you could first explain what this is. Is it the first step of moving xWebAdministration to WebAdministration which will eventually become a part of WMF 5.x rather than a downloadable resource kit? Why did you pick those three resources over the others?

If you want some feedback, please explain what you are trying to do first.

[2016-09-24 09:44] PlagueHO commented on #235
Hi @hahndorf - if you need to request an SSL certificate from a CA using DSC, why not use xCertReq from [xCertificate](https://github.com/PowerShell/xCertificate)? That is the one we use.

However, getting the certificate issued is one thing, binding it to the site is something else - because you won't know the thumbprint of the certificate up front. [This issue](https://github.com/PowerShell/xWeb

[2016-09-24 09:50] PlagueHO commented on #213
Hi @hahndorf  - this relates to the DSC [HQRM programme](https://github.com/PowerShell/DscResources/blob/master/HighQualityModuleGuidelines.md). All resources in the xWebAdministration kit are going to be reworked so that the meet the HQRM guidelines.

Also, there was some discussion around this in the community calls:
https://github.com/PowerShell/DscResources/blob/master/CommunityCalls/06-30-16/

[2016-09-24 09:54] hahndorf commented on #235
Hi PlagueHO, I just saw the open issue about this after submit this one. I was under the impression xCertReq would only work with a local Windows CA, but not with something like Let's Encrypt or possible other automated providers.
What I was thinking of is requesting a new certificate from Let's Encrypt, installing it and then assigning it to the correct web binding where it is needed. So it plays

[2016-09-24 09:55] hahndorf commented on #213
@PlagueHO - Thanks, that's helpful information.

[2016-09-24 10:12] PlagueHO commented on #235
Hi @hahndorf  - You are correct, xCertReq only supports requesting from a Windows CA. I'm not familiar with Let's Encrypt. Does it produce an x.509 certificate that can then be imported into the Windows Certificate Store? xCertificate does have a resource for importing x.509 or PFX files into the Windows Certificate Store where they can then be bound to IIS. So I guess missing piece of the puzzle

[2016-09-24 10:24] hahndorf commented on #235
This is what my current [script](https://github.com/hahndorf/hacops/blob/master/Update-LECertificate.ps1) does:
- Looping through all SSLBindings in IIS and finding the associated X509 certificate, check for expiry date, if the cert is about to expire in x days, it requests a new certificate from the Let's encrypt CA, it waits for one being issued, it then imports it into the Windows certificate s

[2016-09-24 17:35] guitarrapc opened #236 "Plan to move API to IIS.Administration"
There are brand new Microsoft IIS Administration API.

I believe these API's will bring flexibility and next generation management.

[There is PowerShell samples](https://github.com/Microsoft/IIS.Administration/tree/dev/scripts) for reference.

[2016-09-26 21:21] mbreakey3 commented on #213
Thank you responding @PlagueHO!  @hahndorf - the reason we chose these resources for the first release is simply because they required the least amount of work to get them to High Quality and we wanted to get a preview out as soon as possible. The rest of the resources in xWebAdministration will be updated as soon as I and the other maintainers have time. Currently [xPSDesiredStateConfiguration](h

[2016-09-26 21:22] mbreakey3 commented on #213
But any feedback on these resources is of course still welcomed and encouraged

[2016-09-26 21:26] mbreakey3 commented on #207
Great! Thank you for re-providing this information. Yeah, we recently updated the way that we merge PRs, we've had a few issues in the past about changes being overwritten.

[2016-09-26 21:27] mbreakey3 commented on #207
If you have time, could you open a PR for this with these changes and I can get it merged?

[2016-09-27 08:25] hahndorf commented on #207
Hi Maria,

I think I tried that before and I just tried again now. I merged my fork with the latest dev branch, updated the readme.md and committed back into my fork. After creating a Pull Request, I have three tests failing in appveyor. I expected using the lastest dev and not changing any code, the tests should pass. I'm not sure what I'm doing wrong. This is PR #237

[2016-09-27 17:51] kwirkykat commented on #235
@hahndorf I agree with @PlagueHO. If a new resource if needed here, it should go in xCertificate.

[2016-09-27 18:21] mbreakey3 commented on #207
@hahndorf - Yes, it looks like you also changed the mof for xWebApplication - AuthenticationInfo used to be a String, but now it's an array of Strings so there's a mismatch between the mof and the .psm1

[2016-09-28 09:27] svenschelfaut opened #238 "Offline install of module"
I want to use the xWebAdministration module offline, I placed it in the correct Powershell modules folder but when executing my script I keep receiving  "Unable to load module 'xWebAdministration': module not found."

[2016-10-04 02:37] PlagueHO opened #241 "Add Support for Editing Anonymous Authentication Credentials"
This should be available in xWebApplication and xWebSite. It should allow setting the username/password or setting them to blank which forces it to use the Application Pool credentials.

![capture](https://cloud.githubusercontent.com/assets/7589164/19060874/679eeaf4-8a48-11e6-858d-4fae3125f78a.PNG)

[2016-10-04 02:48] PlagueHO opened #242 "Readme.md Parameters for AuthenticationInfo are incorrect"
Readme.md for xWebsite and xWebApplication refer to AuthenticationInformation parameter. It is actually AuthenticationInfo. I'll submit a PR tonight for this.

[2016-10-04 17:29] #242 closed

[2016-10-07 16:45] jdhitsolutions opened #244 "Error Converting Boolean to String"
I'm importing version 1.14.0.0 into my config and have a setting like this

[code]

Which as far as I can tell is the correct syntax. But when I try to run it I get this error:

[code]

Any suggestions or should I roll back to a previous version when Autostart was a string?

[2016-10-07 18:05] jdhitsolutions commented on #244
Well I sort of resolved this but it might point to a larger bug in DSC. My configuration was explicitly importing the latest version even though I also had 2 previous versions installed. I uninstalled the older versions and then my config ran as expected. PowerShell appeared to be using the older schemas which was causing a problem.

[2016-10-10 19:49] sameer-kumar opened #245 "use of dynamic variables fails the script"
I am trying to use dynamic values for xWebsite DSC resource but it fails.

[code]
In the above sample, I get an error for Physical path stating that -

Here I have custom logic to construct the physical path. This sample above is just to showcase the flow but not the logic.

Is it something broken?

[2016-10-10 20:15] sameer-kumar commented on #245
Changed my approach to use private helper function and it is working. Thanks!

[2016-10-10 20:15] #245 closed

[2016-10-11 21:47] #190 closed

[2016-10-12 20:34] #45 closed

[2016-10-12 20:34] #217 closed

[2016-10-12 20:34] #223 closed

[2016-10-17 14:15] huwparker commented on #238
Where have you placed it?  I've experienced similar when I've inadvertently placed it in "C:\Program Files (x86)\WindowsPowerShell" rather than  "C:\Program Files\WindowsPowerShell".  The other gotcha seems to be to have a version number folder underneath xWebAdministration (eg C:\Program Files\WindowsPowerShell\Modules\xWebAdministration\1.13.0.0).  Moving the files and folders from 1.13.0.0 to t

[2016-10-17 14:20] svenschelfaut commented on #238
Already found it myself: it was indeed the version number folder that caused the problem.

[2016-10-17 14:20] #238 closed

[2016-10-17 23:27] kwirkykat commented on #244
@jdhitsolutions What WMF/PowerShell version are you using?

[2016-10-18 12:24] jdhitsolutions commented on #244
I was authoring on a Windows 10 box with some build of 5.1. I think Windows updated since I posted this.

[2016-10-24 11:44] VeitSanner opened #249 "Add Support for additional configuration sections in xWebConfigKeyValue"
As per the description xWebConfigKeyValue currently only supports to set configuration values in the AppSettings sections. I would like to have the possibility to verify and set the configuration in other sections as well, e.g. connections strings.

Are there any plans to provide this feature?

[2016-10-24 20:32] mbreakey3 commented on #249
I believe that setting the configuration values in AppSettings was the simplest to implement. Adding functionality to set other sections would certainly be a great improvement, and you're welcome to open a PR for that if you would like. Otherwise, I'm not sure what the timeline is for extending this resource on our end.

[2016-10-25 20:30] mbreakey3 commented on #191
duplicate of #207

[2016-10-25 20:30] #191 closed

[2016-10-25 23:40] aulvi commented on #176
@nzspambot Could you suggest a work-around until this feature is implemented?

[2016-10-26 13:55] getysc opened #250 "xWebAppPool does not implement the write property autoStart mentioned in the corresponding MOF schema file MSFT_xWebAppPool.schema.mof"
I suddenly started seeing below issue in one of our environments. We did couple of deployments and we never had any issues. This is the first time.

**we are using xWebAdministration ModuleVersion = '1.12.0.0'**

The command Test-TargetResource of the PS module MSFT_xWebAppPool does not implement the write property autoStart mentioned in the corresponding MOF schema file C:\Program Files\WindowsPo

[2016-10-26 13:56] getysc commented on #250
I suddenly started seeing this issue in one of our environments. We did couple of deployments and we never had any issues. This is the first time.

[2016-10-26 15:44] bswerdlen commented on #176
I used a script resource with DependsOn the xWebsite resource to be
modified. I do not have my code handy atm

On Oct 25, 2016 4:40 PM, "Adam Ulvi" <notifications@github.com> wrote:

[2016-10-30 14:12] gmatusko opened #251 "xWebApplication AuthenticationInfo = MSFT_xWebApplicationAuthenticationInformation not setting authentication methods correctly"
We are attempting to set the authentication method for a web app using the following:

[code]

            AuthenticationInfo = MSFT_xWebApplicationAuthenticationInformation
                                {
                                    Anonymous = $false
                                    Windows   = $true
                                }
            DependsOn = '[WindowsFeature]Web-Serv

[2016-10-31 14:00] mgreenegit opened #252 "xWebAppPoolIdentity resource available but needs community assistance"
Additions have been made to this module in a separate repo:
[https://github.com/robwi/xWebAdministration](https://github.com/robwi/xWebAdministration)

HELP WANTED

If someone would like to review this work and incorporate changes back to the resource kit as a new PR, that would be a great project.

[2016-11-01 17:29] #251 closed

[2016-11-01 17:32] gmatusko commented on #251
I'm closing this now as I think this was due to the site having the override mode being set previously.  Once I wiped everything out and started from scratch the DSC resources are working as expected.  I should have tried this first before entering a bug, apologies for that.

[2016-11-04 11:18] paveldokov opened #254 "Binding not working on custom port"

[2016-11-04 11:22] paveldokov commented on #254
There was error in my code. Sorry

[2016-11-04 11:22] #254 closed

[2016-11-10 16:32] haidouks opened #255 "Convert property 'Port' value from type 'STRING' to type 'UINT16' failed"
When i try to execute Sample_EndToEndxWebAdministration, i receive this error.

![image](https://cloud.githubusercontent.com/assets/23384662/20185214/39256cd8-a77c-11e6-8aa7-508beefbe2d1.png)
My powershell info is:

Name             : Windows PowerShell ISE Host
Version          : 5.1.14393.206
InstanceId       : e92ca0fa-a9c0-46ec-a533-188e421a0d65
UI               : System.Management.Automation.

[2016-11-11 16:42] lalanc01 opened #256 "LogPath does not match and will be updated on Website "Default Web Site"."
Hi, while trying to use the xWebsite resource to set the log path for the Default Website, it tells me that the log path is correctly set, but then right after tells me that it's not and that it'll update it.

The log path gets updated correctly if I ever change it to something else, to verify that the resource works, but this breaks my validation has it always returns false because of this, Here

[2016-11-13 21:27] remcoeissing commented on #256
I looked at this and it's caused by an incorrect check on `$website.logfile.logPath`. This should be changed to `$website.logfile.directory`. I will add some extra tests and change the incorrect statements and offer a pull request to fix this.

[2016-11-14 14:35] jwainwright commented on #230
We have the same issue across our environments. It is seemingly random of when the issue occurs, but it appears to focus on the same websites\application pools when it does. The quick solution (for us) has been to delete the site and application pools and let DSC recreate them. The irony of all that is that DSC seems to creating the issue we are using DSC to correct. Alternately, we have plugged i

[2016-11-15 19:36] #256 closed

[2016-11-17 08:32] richardhauer opened #260 "LogTruncateSize validation issue"
It appears that validation on the xIisLogging resource's LogTruncateSize parameter is being handled incorrectly.  The parameter (and its accompanying validation) is typed as a string.  Consequently, the value `536,870,912` (passed as an int, but coerced into a string) fails validation as it is outside the range `'1,048,576'` to `'4,294,967,295'`.  This is clearly not the case, were the values bein

[2016-11-17 22:00] remcoeissing commented on #260
I looked at this issue and indeed the current validation will prevent values starting with 5 till 9 from being configured. This issue also applies to xWebsite, which has the same validation logic for LogTruncateSize.

I made a change in my local repository that resolves the validation issue. I'm considering how best to handle the mof schema. Changing the type from `String` to `UInt64` will break a

[2016-11-19 05:22] richardhauer commented on #260
I think you could do this by moving the validation into a function of your own making, then parse the strings back into ints for the purpose of comparison.

But yes, switching the data type is certainly a breaking change.

[2016-11-28 21:26] #260 closed

[2016-11-29 23:00] richardhauer opened #262 "xIisMimeTypeMapping throws an error if mime type extension exists"
In cases where the mime type extension is already defined, but with a different type value, the resource will fail with the error:  `Cannot add duplicate collection entry of type "mimeMap" with unique key attribute "fileExtension" set to ".woff"` (in my case I'm trying to change the type-spec of the `.woff` extension).

[2016-11-30 19:55] hansmelin opened #264 "PhysicalPath should be optional in xWebSite"
The feature in https://github.com/PowerShell/xWebAdministration/pull/91 is not working anymore.

Create a test and re implement it.

[2016-12-01 13:57] SNikalaichyk commented on #252
Hi @mgreenegit ,
This seems unnecessary, because **xWebAppPool** already supports setting Application Pool Identity:
* **identityType** : Indicates the account identity under which the application pool runs.
    The values that are allowed for this property are: `ApplicationPoolIdentity`, `LocalService`, `LocalSystem`, `NetworkService`, and `SpecificUser`.
* **Credential** : Indicates the custom a

[2016-12-05 18:30] tysonjhayes commented on #255
Hello @haidouks - I'm not seeing that sample in our repo, could you provide the data so we could investigate further?

[2016-12-05 18:33] tysonjhayes commented on #250
Hello, when I've run into this type of issue before a restart of the node tends to fix the issue, unfortunately I've yet to be able to pinpoint the issue but as the code does work otherwise it tends to be an issue on the machine. Please let us know if you are still seeing the issue.

[2016-12-07 19:33] tysonjhayes commented on #218
Hey @sameer-kumar - as we haven't heard from you in a while I'm going to close this issue, if you are still having an issue please feel free to reopen this.

[2016-12-07 19:33] #218 closed

[2016-12-13 08:47] olljanat commented on #216
There is already pull request about this on #168 but it still need some corrections.

[2016-12-13 09:19] olljanat opened #267 "Support for custom field(s) logging"
We should have support to enable custom field(s) to IIS logging.

I can probably create that feature but how you think that it should be implemented?

Example "X-Forwarded-For" header can be included to logging using this PowerShell command:
`Add-WebConfigurationProperty -pspath 'MACHINE/WEBROOT/APPHOST'  -filter "system.applicationHost/sites/siteDefaults/logFile/customFields" -name "." -value @{l

[2016-12-13 23:35] #107 closed

[2016-12-14 18:53] tysonjhayes commented on #264
Closing this as a fix has been merged.

[2016-12-14 18:53] #264 closed

[2016-12-14 19:04] tysonjhayes commented on #250
Are you still experiencing this issue? I haven't heard from you in a while. If we don't hear back from you in 7 days, I'll be resolving this issue.

[2016-12-15 08:06] subbunori opened #269 "xWebsite bindings fail in pull mode"
Hi,
I am using xWebsite with Azure Automation DSC to setup a server and I see the below error.

"ErrorRecord":  "Failure to add certificate to web binding. Please make sure that the certificate thumbprint \"<thumbprint of the cert>\" is valid. Error: \"Value does not fall within the expected range.\".",

It works fine if I use it in push mode though.
Am I missing anything?

[code]

When I used dsc

[2016-12-15 22:10] kittholland commented on #267
Thinking about how this would be implemented in this module, for consistency I feel like it would be another CIM class array under xWebsite (like bindings are today) for per-site logging rules, and a modification to xIisLogging for server-wide config.

[2016-12-16 18:35] JonosGit commented on #269
Pretty sure you need to include the Certificate Store Name? At least in the version I am using.             BindingInfo     = @(
                MSFT_xWebBindingInformation
                {
                    Protocol              = "HTTPS"
                    Port                  = 8443
                    CertificateThumbprint = "71AD93562316F21F74606F1096B85D66289ED60F"
                    C

[2016-12-16 19:13] subbunori commented on #269
@JonosGit Thanks for responding.
MY is a default value as mentioned in Convert-To-WebBinding method.
I do have my cert in MY.
And yes, I did try explicitly mentioning MY but it is the same error.

[code]

[2016-12-17 11:58] remcoeissing commented on #94
I ran a few tests using a UNC directory for the virtual directory and this all works fine for me. For example the bellow example resulted in a virtual directory being created and serving files from the UNC directory.

[code]
Could you share what you used?

[2016-12-31 14:21] remcoeissing opened #276 "xWebsite integration tests leaves certificate in the store"
On running the xWebsite integration tests a self signed certificate is generated and stored in Cert:\LocalMachine\My.

[code]

When the integration tests complete this certificate will remain on the system. The integration test should remove the certificate when done.

[2017-01-03 21:51] ccsandrew commented on #235
I would be in need of this feature in the near future - but I'm a DSC newbie so this is a bit of a shot in the dark:

Does it make sense to optionally allow xWebsites' bindinginfo managed object to optionally accept a xCertReq object?  It seems that all the details you would need to intelligently select the desired cert are there, and you could kill two birds with one configuration (e.g. your cert

[2017-01-05 00:09] nzspambot opened #278 "Desire for a RemoteManagement resource"
Hi, I found a resource I have which can enable remote IIS management.

Is this something that people would like?

It needs some tests and some lemon pledge on it.

[2017-01-05 06:44] olljanat commented on #267
Let's agree first how configuration should looks like.

First example for xIisLogging:
[code]
and first example for xWebsite:
[code]

Did I understand syntax correctly?
Are you happy with naming these settings, etc?

[2017-01-05 22:44] kittholland commented on #267
@olljanat That makes sense to me.

I implemented this internally as a class based resource, doesn't translate straight over but might be helpful if someone else wants to try to implement. The logic is almost identical for website based vs. server level, just change the xpath filterstring.

https://gist.github.com/kittholland/730666229ec9cb7be915768e7d5c9be8

[2017-01-09 19:58] artisticcheese opened #279 "xWebApplication shall fail with missing Application Pool"
Hello,

Currently DSC succeeds if non-existent application pool is specified for xWebApplication. It shall fail since this deployment will result in non-functioning web application with non obvious error messages when trying to access it.

[2017-01-10 22:14] #276 closed

[2017-01-11 18:54] remcoeissing commented on #278
Sounds useful. I have some scripts for enabling this, but these are a long way from being a proper resource.

[2017-01-12 04:21] subbunori commented on #269
Any help here?
I used debugging to narrow down to exactly which statement is giving this error.
The thumbprint is fine and when I take this statement and run it myself, it works fine.
It only fails when running in pull mode (with Azure Automation DSC). It runs under system account with both push and pull mode, so what are some other differences I need to know here?

Function : Update-WebsiteBindin

[2017-01-24 16:04] liquorc opened #282 "xWebsite PhysicalPath not accepting network path"
Hello,

I am having a hard time pointing the physical path of the website to a network path. Can this be done? Or does the physical path have to point to a local path?

Thanks for you help.

[2017-01-25 06:29] tysonjhayes commented on #145
Thanks for following up!

[2017-01-25 06:29] #145 closed

[2017-01-25 12:47] liquorc commented on #282
VERBOSE: [ComputerName]: LCM:  [ End    Set      ]  [[xWebsite]WebsiteName]  in 0.1090 seconds.
PowerShell DSC resource MSFT_xWebsite  failed to execute Set-TargetResource functionality with error message: Failure to successfully create the
website "WebsiteName". Error: "Parameter 'PhysicalPath' should point to existing path.".
    + CategoryInfo          : InvalidOperation: (:) [], CimException

[2017-01-25 17:14] kwhickey commented on #233
... Probably "unable to compare restartSchedule"
The error coming back states:

'System.Object[]' don't match values 'System.Object[]'.

But, if you look at the resources defined above, the values (array values) of `restartSchedule` for each one are the same. (Both set to: `@('00:00:00', '08:00:00', '16:00:00')`)

This boils down to it inaccurately doing an equality comparison on the two arrays. S

[2017-01-25 18:50] kwirkykat commented on #279
@nzspambot I can't assign the issue to anyone who doesn't have write access to the repository (permission to merge pull requests) which is very annoying. The best I can do is switch this issue from 'help wanted' to 'in progress'.

[2017-01-25 21:27] #232 closed

[2017-01-25 23:00] #193 closed

[2017-01-25 23:00] #187 closed

[2017-01-25 23:00] #192 closed

[2017-01-25 23:00] #194 closed

[2017-01-25 23:01] tysonjhayes commented on #255
Hello, as we haven't heard from you and can't take further action I'm resolving this issue. Please feel free to reopen it.

[2017-02-02 12:05] #282 closed

[2017-02-05 19:56] wasabii opened #287 "IIS Shared Configuration?"
Any interest in this? I have a module as part of my own DSC pack I could contribute. It uses the Enable-IisSharedConfig PowerShell cmdlets to set it up and keep it up to date.

[2017-02-09 13:13] liquorc opened #288 "Parameter 'PhysicalPath' must point to an existing path"
Hello,

When I try to run a dsc creating website and webapplications with physical paths that point to a network path. I receive the following error:

PowerShell DSC resource MSFT_xWebsite  failed to execute Set-TargetResource functionality with error message: Failure to successfully create the website "website". Error: "Parameter 'PhysicalPath' should point to existing path.".
    + CategoryInfo

[2017-02-09 14:44] liquorc commented on #288
In testing, if I manually create the website with any physical path and run the dsc, it does modify the physical path field in the desired state using the UNC path. It seems like when it is creating a new website this parameter fails. The same happens with xWebApplication as well.

[2017-02-10 05:05] mcassar commented on #279
Any update on this?

[2017-02-10 06:29] tysonjhayes commented on #279
@mcassar the pr looks good. We need to kick our build again to get a clean run before merge. I'll try to get a request in to do so.

[2017-02-13 07:44] haidouks commented on #255
Sorry for late reply,

My script is as below.

[code]

Still i am getting same error.
![image](https://cloud.githubusercontent.com/assets/23384662/22874853/6f6eee0c-f1d9-11e6-969b-e61c1c6dadf9.png)

I am using 1.17.0.0 version
![image](https://cloud.githubusercontent.com/assets/23384662/22874827/546330b4-f1d9-11e6-8112-b26423000b77.png)

[2017-02-13 07:47] haidouks commented on #255
Also, for the all int value parameters, i have the same issue.
Thank you!

[2017-02-13 20:56] beaudryj opened #289 "No examples for AuthenticationInfo"
I tried setting it up as

[code]

[2017-02-13 21:56] tysonjhayes commented on #289
I believe what its looking for will be similar to WebApplication:

https://github.com/PowerShell/xWebAdministration/blob/dev/Examples/Sample_xWebApplication.ps1#L30

Specifically:
[code]

Though it does look like we need to update the examples. I have a branch that is doing some of this so I'll assign the issue to myself.

[2017-02-17 14:36] holden-marc opened #291 "Error: The configuration section 'standardEndpoints' cannot be read because it is missing a section declaration"
Hello,

I am trying to install a WCF web application on a windows 2008R2 System and keep getting the error in the title.  The error occurs during the test phase of xWebApplication.  The Application Pool for the WebApplication is succesfully created with CLR 4.0.  I can see the directory from IIS Manager and can manually convert to a web application.  I have also verified that all the required modu

[2017-02-21 23:17] plraustin opened #292 "How to Set Forms Authentication on xWebApplication?"
MSFT_xWebAuthenticationInformation does not seem to have an option for Forms.

[2017-02-22 22:11] artisticcheese commented on #278
Please include option to deal with following properties, not only management service itself
![image](https://cloud.githubusercontent.com/assets/13176884/23234983/7df2dcda-f919-11e6-8b73-62de8d6066ef.png)

[2017-02-22 23:38] artisticcheese commented on #278
I believe it's just registry setting. Presence of this setting and value of 1 or lack of the registry key means only Windows credentials are allowed, value set below means both Windows and IIS Manager credentials are allowed. WMSVC service needs to be restarted for settings to take effect.

[code]

[2017-02-23 15:16] artisticcheese opened #293 "xWebSite shall have "Enable WebDav" option"
xWebSite resource is missing switch to Enable/Disable WebDav. And all relevant WebDav parameters

![image](https://cloud.githubusercontent.com/assets/13176884/23264951/be90d154-f9a8-11e6-997b-d1cfca354ce2.png)

[2017-02-24 14:04] #288 closed

[2017-02-27 08:01] VilleSalonen opened #294 "Creating xWebApplication under a subdirectory of a website works but causes errors"
I'd like to create multiple web applications under a subdirectory under a website. My DSC script creates web applications as expected but it prints following errors:

    PS C:\Users\Administrator\Desktop> Start-DscConfiguration -Wait .\Example
    Cannot bind argument to parameter 'Filter' because it is null.
    	+ CategoryInfo          : InvalidData: (:) [], CimException
    	+ FullyQualifiedEr

[2017-02-27 08:12] VilleSalonen commented on #294
The problem ended up being me and not the script. Subdirectory should be specified at the start of xWebApplication's Name property instead of at the end of the Website property. Here is the fixed version of the script:

    Configuration Example
    {
        Import-DscResource -ModuleName "PSDesiredStateConfiguration"

        WindowsFeature IIS
        {
            Ensure = "Present"

[2017-02-27 08:12] #294 closed

[2017-02-27 18:29] csharmath commented on #252
Except gMSA. Is anyone working on adding support for gMSA identity ?

[2017-02-28 15:18] artisticcheese commented on #278
I have no idea how to test this functionality. I downloaded your branch. How do I use modules/DSC resources in your branch instead of the ones which are already installed on my system

[2017-03-09 13:58] emitodiaz commented on #222
Hi!

I think that the code inside "Update Physical Path" and "Update AppPool" it's not working very well when you have a Web Application inside a WebApplication, example:

WepAppPrincipal
  - WebChild1
  - WebChild2

I was trying and watching the code inside and looks like that a checking for NULL it's missing??? (what do you think???)

if (($PSBoundParameters.ContainsKey('PhysicalPath') -and `

[2017-03-09 14:10] WilliamSaxton commented on #287
Hi wasabii I'm currently working on a project that requires this functionality. Id be extremely interested in see this added :)

[2017-03-09 15:42] liquorc commented on #287
I would also be interested in seeing this. We recently deployed our first shared config. Pulling this and centralized cert store into the DSC would be pretty cool.

[2017-03-09 16:13] emitodiaz opened #296 "xWebApplication problem"
Hi!
Related with xWebApplication regression in #220. PhysicalPath issue. #222 , I think that the code inside "Update Physical Path" (and "Update AppPool" ) it's not working very well when you have a Web Application inside a WebApplication, example:

WepAppPrincipal

- WebChild1
- WebChild2

I was testing and modifying the code inside and looks like that a checking for NULL it's missing???
(what do

[2017-03-13 05:35] thomppg opened #297 "xWebApplication EnabledProtocols"
I have downloaded version 1.17.0.0. And when trying to apply multiple protocols EnabledProtocols = @('http','net.tcp'), it just doesn't work.  If I just include net.tcp. DSC doesn't apply this change to the webapplicationWith verbose logging turned on, I see that it detects that the web application is not in the desired state and tries to update it, but the protocol stays as http and is not update

[2017-03-13 15:55] virtrixke opened #298 "xWebsite throws error using net.tcp/net.pipe"
Hi everybody,

I'm currently using the following code (where servicetype and environment are Test and DVLP for example):

xWebsite "Create-Site${ServiceType}${Environment}"
        {
            PhysicalPath = "C:\inetpub\${ServiceType}.${Environment}"
            State = "Started"
            Ensure = "Present"
            ApplicationPool = "${ServiceType}.${Environment}"
            Name = "${Se

[2017-03-13 16:02] virtrixke commented on #297
Same here. I'm using EnabledProtocols = @('net.tcp','net.pipe'). Only the first one is applied

[2017-03-14 16:28] SpeedySquid commented on #297
I believe it is a string:
EnabledProtocols = "http,net.tcp"
This is working for me.

[2017-03-14 19:34] Duffney commented on #297
When I attempted to use a single string I get the following error. I submitted a pull request that fixes this. There are two issues. 1.) it's looking for spaces not commas and 2.) it needs to replace the space with commas in the resource see pull request for more details. https://github.com/PowerShell/xWebAdministration/pull/295

xWebAdministration\xWebApplication : At least one of the values 'htt

[2017-03-26 19:54] wasabii commented on #287
`
[DscResource()]
class cIISSharedConfig
{

	[DscProperty(Key)]
	[string]$Name

	[DscProperty(Mandatory)]
	[Ensure]$Ensure

	[DscProperty(Mandatory)]
	[string]$PhysicalPath

	[DscProperty()]
	[PSCredential]$UserCredential

	[DscProperty(Mandatory)]
	[string]$KeyEncryptionPassword

	[DscProperty()]
	[bool]$DontCopyRemoteKeys = $false

	<#
		This method returns a hashtable with the current IIS share

[2017-03-28 13:00] wasabii commented on #287
So, the above worked. But, I'm going to change it up. I'm using Get-IISSharedConfig, Enable-IISSharedCOnfig, etc. These commands are available only on 2016, apparently.

[2017-03-29 20:18] rosberglinhares opened #299 "xWebSite: bug when setting log properties"
Hello everybody,

I am getting an error setting the log file rollover schedule for a web site in IIS 7.5. The following script

[code]
gives me the error:

_Hourly is not a valid value for Int32_

I don't get the error when the target setting is already _Hourly_.

I realized that even when the command `Get-ItemProperty -Path "IIS:\Sites\Default Web Site" -Name LogFile.period` gives me _Hourly_, th

[2017-03-31 07:46] jhenders1973 opened #301 "xWebAppPool & Secure MOF credentials"
I have an issue where the App Pool fails to start due to "bad password". I know my config/code is good as the .mof shows an encrypted password and then i see on the node that the password is decrypted but trying to start the pools gives me bad username/password error. If i then manually enter the same password the pool starts....this only happens for pools that currently exist, not if i create a n

[2017-04-01 19:38] rosberglinhares commented on #299
The error also occours when setting the LogFlags field.

[2017-04-03 14:13] rosberglinhares commented on #299
In 2008R2 version, LogFlags only supports setting by index. In later versions, setting LogFlags has no effect.

[2017-04-05 01:13] madmikep opened #302 "xWebsite module problem"
If you run a Get-DscConfiguration you will get the following error if have xWebsite in your Confiuration

Get-DscConfiguration : A general error occurred that is not covered by a more specific error code.
At line:1 char:1
+ Get-DscConfiguration -CimSession ldvwa00a0022 -Verbose
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (MSFT_DSCLocalConfig

[2017-04-05 23:04] madmikep commented on #302
I have narrowed it down to the AuthenticationInfo in the Hash table.  If it is rem out the Get-DscConfiguration returns the hash table

     return @{
        Ensure                   = $ensureResult
        Name                     = $Name
        PhysicalPath             = $website.PhysicalPath
        State                    = $website.State
        ApplicationPool          = $website.Applicat

[2017-04-05 23:05] madmikep commented on #302
I have narrowed it down to the AuthenticationInfo in the Hash table.  If it is rem out the Get-DscConfiguration returns the hash table

     return @{
        Ensure                   = $ensureResult
        Name                     = $Name
        PhysicalPath             = $website.PhysicalPath
        State                    = $website.State
        ApplicationPool          = $website.Applicat

[2017-04-05 23:06] madmikep commented on #302
I have narrowed it down to the AuthenticationInfo in the Hash table.  If it is rem out the Get-DscConfiguration returns the hash table

     return @{
        Ensure                   = $ensureResult
        Name                     = $Name
        PhysicalPath             = $website.PhysicalPath
        State                    = $website.State
        ApplicationPool          = $website.Applicat

[2017-04-05 23:11] madmikep commented on #302
II have narrowed it down to the AuthenticationInfo in the Hashtable in the MSFT_xWebsite.psm1 file.  If it is rem out the Get-DscConfiguration returns the hashtable

     return @{
        Ensure                   = $ensureResult
        Name                     = $Name
        PhysicalPath             = $website.PhysicalPath
        State                    = $website.State
        ApplicationPoo

[2017-04-05 23:12] madmikep commented on #302
I have narrowed it down to the AuthenticationInfo in the Hashtable in the MSFT_xWebsite.psm1 file.  If it is rem out the Get-DscConfiguration returns the hashtable

     return @{
        Ensure                   = $ensureResult
        Name                     = $Name
        PhysicalPath             = $website.PhysicalPath
        State                    = $website.State
        ApplicationPool

[2017-04-06 00:47] madmikep commented on #302
$cimAuthentication = Get-AuthenticationInfo -Site $Name

The function Get-AuthenticationInfo is returning
Anonymous      : True
Digest         : False
Basic          : True
Windows        : True
PSComputerName :

PSComputerNmae is not a value that should be returned I believe this is causing the error

[2017-04-06 00:48] madmikep commented on #302
$cimAuthentication = Get-AuthenticationInfo -Site $Name

The function Get-AuthenticationInfo is returning
 Anonymous : True
 Digest : False
 Basic : True
 Windows : True
 PSComputerName :

PSComputerNmae is not something that should be returned I believe this is causing the error

[2017-04-06 11:06] Zuldan commented on #297
@Duffney I just came across this exact issue and was about to send a pull request when I came across this issue. Doh!

I'm surprised the fix hasn't been merged yet.

[2017-04-06 11:25] jfitch11 commented on #302
I'm able to reproduce this as described above.

[2017-04-06 16:20] madmikep commented on #302
If you call the function Get-TargetResource it will return the hashtable and all data.

[2017-04-08 23:21] rosberglinhares commented on #179
This issue was fixed by #160 and doesn't occour anymore in version 1.17.0.0. Shouldn't it be closed?

[2017-04-09 01:54] rosberglinhares commented on #215
This issue is fixed in v1.17.0.0. Shouldn't it be closed?

[2017-04-10 06:54] #215 closed

[2017-04-10 14:13] jwainwright commented on #301
My systems are seeing the same exact issue. It happens at first I thought I was reaching the MaxEnvelopeSizekb (defaults to 500), but even after increasing that  10000, I still see the same behaviors. In many cases, I have 10 plus application pools on servers that experience this, but only a small handful of the application pools will experience this issue on the same server. It has been debilitat

[2017-04-11 03:12] rosberglinhares commented on #204
The license in [this](https://msdn.microsoft.com/en-us/cc300389) link says:

What would be the correct way to license the embedded site?

[2017-04-12 12:02] jhenders1973 commented on #301
It´s seems like the Protect/Unprotect-CMS Message is not working correctly....it´s very confusing! If i run **Get-CimInstance -Namespace root/MicrosoftIISv2 -ClassName IIsApplicationPoolSetting -Property WAMUserName, WAMUserPass | select  name, WAMUserName, WAMUserPass** i see all my IIS AppPool Username/Passwords in plaintext. I see the password as the encrypted key - -----BEGIN CMS------ but i k

[2017-04-12 13:13] agarstang opened #303 "xWebAppPool: Cannot convert 'System.Object[]' to the type 'System.String' required by parameter 'Message'. Specified method is not supported.""
I get the below error when using module version `1.17.0.0` on Windows Server 2016.

`Cannot convert 'System.Object[]' to the type 'System.String' required by parameter 'Message'. Specified method is not supported."`

Resource: **xWebAppPool**
Module Version: `1.17.0.0`
PowerShell Version: `5.1.14393.953`
IIS: `10.0.14393.0`
Windows 2016 Version 1607 Build 14393.953

When commenting out [this line]

[2017-04-19 12:30] andy1547 opened #305 "xlisModule Uses wrong configuration key/value pairs when adding handler config"
I noticed that after the first successful run of the resource I was getting this error:
[[xIisModule]PHPModuleMapping] Adding fastCgi.
Filename:
Error: Cannot add duplicate collection entry of type 'application' with combined key attributes 'fullPath, arguments'
respectively set to 'C:\PHP\php-cgi.exe, '
    + CategoryInfo          : NotSpecified: (:) [], CimException
    + FullyQualifiedErrorId :

[2017-04-19 14:49] mlanderos opened #306 "CIM Class does not resolve correctly when specifying DSC resources in Import-DSCResource"
Hi,

I am not sure if this is an issue or not as this is my first time reporting anything, so my apologies upfront if I a reporting something incorrectly. If there is a document on how to correctly report issues, please send the link my way.

Anyhow, in my example below the CIM class "MSFT_xWebAuthenticationInformation" does not resolve correctly if I specify the name of individual DSC resource(s)

[2017-04-19 15:36] jwainwright commented on #301
I am opening a ticket with MS to find a solution. I have experienced the exact same issue. My assumption is that you are running a pull configuration as well. Did you know about exhausting the MaxEnvelopeSize?
Get-Item WSMan:\Localhost\MaxEnvelopeSizeKB.
If you grab the MOF  from the pull server, rename it to the destination servers name, and run it on the destination server:
Start-DSCConfiguratio

[2017-04-19 16:06] jhenders1973 commented on #301
I opened a ticket with Microsoft.... They do not support it...these modules
are open source 'experimental'.

You have to speak to the person that wrote the module or open a case on
github....which is what we have done.

John

El 19/4/2017 5:36 p. m., "Jason Wainwright" <notifications@github.com>
escribió:

[2017-04-19 22:02] jwainwright commented on #301
Yea... you have to get them to escalate to the right group. Spent today getting them to understand why they need to escalate. Hoping when they call me back tomorrow they will get me to the right group.

[2017-04-22 19:52] dchristian3188 commented on #301
What version of PowerShell are you guys running on the machines seeing the issue and generating the mof? We saw similar behavior when there was a mismatch between the two.

[2017-04-28 13:58] danstuken commented on #201
Is there any movement on this? It would be incredibly helpful to us to have the ability to request a cert through `xCertReq` and then use that cert in a binding info in `xWebAdministration`.

Appreciate there's many interested parties with different takes on this, would a simple first version that searches against `cert:/LocalMachine/My` for `Subject` and `-not(Archived)` with a date-based tie-bre

[2017-04-28 14:33] ChrisLGardner commented on #201
I'd like this too and I've got a similar fix in another resource that I can port across if @danstuken doesn't want to do the PR.

[2017-04-28 15:09] jwainwright commented on #301
Source
5      1      14393  1066
Destination
4      0      -1     -1
Will try your suggestion and let you know what I get from it.

[2017-04-28 20:16] artisticcheese commented on #299
LogFlags is not working on IIS 10. Test method detects incosistency but it's not actually being applied.

[code]

[code]

[2017-04-28 20:26] PlagueHO commented on #201
I was intending to get to this one once I'd completed the xExportPfx in xCert. There was a helper function I created in xCert called `Find-Certificate` (https://github.com/PowerShell/xCertificate/blob/dev/Modules/CertificateDsc.Common/CertificateDSc.Common.psm1#L205) that was used to select certificates based on defined criteria. The function has full unit test coverage and could be copied across

[2017-05-02 21:42] ChrisLGardner commented on #201
I've done some initial work on porting this over. I've got a bit more testing to do and then I'll put in a PR. Comments welcome on [my fork](https://github.com/ChrisLGardner/xWebAdministration/tree/issue-201-certs) or the PR once it's in (probably some time in the next day or so).

[2017-05-04 22:00] tysonjhayes commented on #301
Hi all. Could I get some example configs that are failing? Could I also get some log samples of where the credentials are being set? I'm just trying to narrow down where in the code we are potentially seeing some problems.

My current theory is that [L402](https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebAppPool/MSFT_xWebAppPool.psm1#L402) is what's failing but I'll

[2017-05-05 13:23] jwainwright commented on #301
Hey @tysonjhayes Thanks for taking a look. Would love to send you the configs(MOF? or something else?), but not sure how to. As for the logs, are you speaking of the DSC operational event log, or the -verbose from apply the MOF directly? The $appPool.processModel.password shows the encrypted string after run on effected pools. Which is why my theory is that we are over running some buffer/max leve

[2017-05-05 23:02] tysonjhayes commented on #301
@jwainwright - The -Verbose log I find to be more useful and easier to cut and paste. 😁 Honestly putting in the issue is the easiest way to go, you can snip it down to the relevant parts. This way everyone who wants to jump in can try to troubleshoot along from home. If you are uncomfortable with that let me know and we'll figure out some way for you to get it to me.

How big is the mof file we're

[2017-05-10 16:18] jwainwright commented on #301
@tysonjhayes - So to answer the second paragraph 1st. The MOF files sizes are large as 1 mb and go down to around 400 kb.(At least the ones I can confirm have seen the issue) As for the MaxEnvelopeSize change, yes we saw a difference. initially, it seemed 30% would fail, but after changing the MaxEnvelopeSize it appeared closer to 50-70%. I have not successfully been able to get debug to record wh

[2017-05-11 22:47] rosberglinhares commented on #299
Hello @artisticcheese,

It is strange. For me it works:

[code]

Why your log is showing a xWebAppPool resource?

[2017-05-12 18:22] rosberglinhares commented on #299
After revision of all six xWebsite log properties the conclusion is:

- LogPeriod is not working in IIS 7.5.
- LogFormat, LogFlags and LoglocalTimeRollover are not working in any platform.

[2017-05-14 11:04] Sjark commented on #303
I just ran into the same issue with 1.17.0.0. on Windows Server 2012 R2.

[2017-05-15 14:20] agarstang commented on #303
@Sjark It was exactly the same thing for me :) - as long as you're not getting an error it shouldn't be a problem however it's not very useful in it's current form as it then suppresses the _**real**_ error message.

[2017-05-15 21:46] tysonjhayes commented on #303
Unfortunately I'm not in a good place to repo this.  Could someone change the line to the following, and let me know if it fixes the problem?

[code]

[2017-05-16 21:10] TopperKain commented on #241
+1, this is an issue for us.

[2017-05-17 02:40] AviHack commented on #292
Have you figured out how to set forms authentication?

[2017-05-17 15:33] richardgavel commented on #296
I get the same issue, though it's for a WebApplication being created inside a VirtualDirectory.

[2017-05-19 13:28] rosberglinhares commented on #233
This error is related to the Powershell DSC core, when generating the MOF file. It is possible to fix the MOF generation changing the line 1489 in the PSDesiredStateConfiguration.psm1 file from this

[code]

to this

[code]

But now another error arises:

[code]

This error is now in the `Start-DscConfiguration` cmdlet which AFAIK is not open source.

[2017-05-24 10:44] jhenders1973 commented on #301
Hi, sorry for not commenting for a while...death in the family! :( Have we got any further in understanding this issue? I am having a real battle my Security team about storing plain txt passwords in my MOF files.

[2017-05-25 04:05] rosberglinhares commented on #44
This issue was already fixed by the commit said by @TravisEz13. Shouldn't it be closed?

[2017-05-26 04:21] rosberglinhares commented on #79
These tests were already written in this commit: 5a5f05de1f7e0077d66b32397f4299b970ed727a. Could we close this issue?

[2017-05-27 09:04] rosberglinhares commented on #81
Waiting for PR https://github.com/PowerShell/xWebAdministration/pull/202.

[2017-05-29 11:46] rsawer commented on #297
I have that issue too with following EnabledProtocols array:
EnabledProtocols = @('http','net.pipe')
it seems to be totally ignored

[2017-06-02 15:16] agarstang commented on #303
@tysonjhayes this achieves the same result and I think casting at output rather than when storing the result is better idea. I have update #304 :)

[2017-06-05 05:56] rosberglinhares commented on #84
I built a initial version of this resource here: 13c4edeb37a514e4f94fbcc88781095f1768c326. Any suggestions?
Once I have time I will submit a PR with tests, examples, read-me, etc.

[2017-06-14 13:36] MakwaWes commented on #302
Hi,
I confirm the issue on my side as well. I can't use the cmdlet "Get-DscConfiguration" since it fails at the parsing of the results.

If I invoke the DSC resource directly, it will fail with the following message :
- Invoke-DscResource -Name xwebsite -Method Get -Property @{Name = '_Website Name_'} -ModuleName xWebAdministration
[code]
Regards,
Wesley

[2017-06-20 13:18] andy1547 commented on #299
Having the same issue with LogFlags and LogFormat on IIS 8.5.9600.16384 Windows Server 2012 R2 Foundation.

[2017-06-20 14:05] virtrixke opened #310 "xWebAdministration and ApplicationHost.config"
We have an IIS with 30+ apppools and 30+website/webapps hosting WCF services.
When I run a DSC config for this server it results in sporadic errors and afterwards a number of settings are missing in the ApplicationHost.config.

Run the DSC again (and again) and every time some more settings are applied until it applies them all.
I'm under the impression that IIS/DSC can't handle the number of appl

[2017-06-22 18:04] jfitch11 commented on #299
I'm running into the same issue with LogFlags, what's the status of getting [this](https://github.com/PowerShell/xWebAdministration/pull/300) fix merged in?

[2017-06-22 20:23] tysonjhayes commented on #299
I've made comments on the merge, once I get those answered I can merge the request.

[2017-06-26 23:44] #303 closed

[2017-06-26 23:47] #188 closed

[2017-06-26 23:47] #195 closed

[2017-07-06 17:57] tehsuk opened #311 "xWebAppPoolDefaults - Get-TargetResource returns bad data"
[code]

Removing the braces on lines 198 & 209 of https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebAppPoolDefaults/MSFT_xWebAppPoolDefaults.psm1 fixes it.

PR Submitted.

[2017-07-10 13:55] jfitch11 commented on #299
Any update? Looks like that PR has been updated.

[2017-07-10 17:27] #299 closed

[2017-07-10 17:27] tysonjhayes commented on #299
It's now merged.

[2017-07-12 22:41] rosberglinhares commented on #94
In my case, the error occurs with the following configuration:

[code]

If I am logged as _rosberg_ and my computer name is _WinServer2016_, the result is:

[code]

The log for the resource _[Script]ScriptUserName_ shows that DSC runs under the _LocalSystem_ account. So, the error is probably because you do not have the drive mapped for this user.
The solution then is map your drive before using t

[2017-07-12 22:51] rosberglinhares commented on #81
The PR #202 was closed. Shouldn't we close this issue too?

[2017-07-21 10:39] sbrp commented on #302
I'm able to reproduce this. Commenting out the line mentioned avoids the issue. As per:
        #AuthenticationInfo       = $cimAuthentication

[2017-07-21 10:48] sbrp opened #314 "xWebApplication module problem when calling get-dscconfiguration"
As per #302 - same issue with xWebApplication - when calling get-dscconfiguration you get:

This is avoided in the same manner. If you comment out the line in MSFT_xWebApplication.psm1 as below:
`        #AuthenticationInfo       = $cimAuthentication`
Once this has been done, you can run get-dscconfiguration without issues.

[2017-07-28 19:04] kinwolfqc commented on #314
Had a similar error with the xSqlserverSetup resource,  and after some digging, @johlju suggested something.  I applied his suggestion to the problem here too and it worked.  So, changing the line to this: <pre>AuthenticationInfo  = [System.String[]] $cimAuthentication</pre>

solve the problem.  Si I take it the value returned to $cimAuthentication might not be the one expected in some case.(that

[2017-08-01 21:34] rosberglinhares commented on #233
I have opened a bug on UserVoice related to this error: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/20364481-bug-comparing-identical-dsc-resources-with-complex

[2017-08-09 07:09] NickShapovalov commented on #61
Hello Guys,
Was it successful story?

[2017-08-20 20:16] rosberglinhares opened #315 "xIisMimeTypeMapping: allow to add MIME type mapping for nested paths"
I want to add a MIME type mapping for a virtual directory, but currently is only possible to add to the server level. I am wondering if would be a great idea to allow passing a desired configuration path, like this:

[code]

This is a breaking change because a new mandatory parameter would be added. I already have the code fix.
Does it make sense?

[2017-08-25 04:48] turkeys-united commented on #249
We have a need to ensure a range of config settings are maintained in a desired state as part of our IIS hardening policy, so a resource that lets us maintain more than just appSettings would be highly desirable! Before I start working on implementing this myself, I just wanted to check in to see if any progress had been made on this front since these comments close to a year ago?

[2017-08-25 17:18] mbreakey3 commented on #249
We haven't been able to put much focus on this module lately, so no - as far as I know, there hasn't been any work on implementing this feature yet.

[2017-08-29 14:45] bhmahler commented on #241
+1

[2017-09-02 01:57] rosberglinhares commented on #249
I already have code for the _connectionStrings_ and _machineKey_ sections. Should these configurations be in this resource? Or does it make more sense to have new xWebConfigConnectionString and xWebConfigMachineKey resources?

[2017-09-06 09:49] Devvox93 commented on #305
Pull request for this is reviewed and approved.

[2017-09-10 23:48] turkeys-united commented on #249
I've created 2 new resources that I've named cWebConfigProperty & cWebConfigPropertyCollection respectively. The cWebConfigProperty resource focuses on ensuring the value of an attribute of a non-repeating element in config files. The cWebConfigPropertyCollection resource on the other hand is intended for ensuring the value of an attribute of a potentially repeating element that is keyed. I've cre

[2017-09-12 20:34] scott1138 opened #316 "New Resource - xApplicationRequestRouting"
A resource to create and manage configurations for the ARR IIS module.

I am planning on writing this as a MOF resource based on the other resources that exist in the xWebAdministration module.

[2017-09-15 20:18] devbot920 opened #317 "Group Managed Service Account"
I am attempting to configure IIS using a Group Managed Service Account.  I attempting using the configuration:
IdentityType = "SpecificUser"
Credential = $Cred
But I am getting an error stating:
The password supplied to the Desired State Configuration resource MSFT_xWebAppPool is not valid. The password cannot be null or empty.
    + CategoryInfo          : InvalidResult: (:) [], CimException

[2017-09-18 09:16] Tom-Gray commented on #301
I am seeing the exact issue described in the original post.

Encrypting some domain credentials to use for the App Pool identity. The usernames are applied but whatever gets applied as a password does not work.

[2017-09-18 11:15] jhenders1973 commented on #301
Hi....i gave up in the end and just worked out a compromise with my Security team. It´s a really odd issue and must have something to do with how the password is being decrypted.

[2017-09-19 02:22] Tom-Gray commented on #301
I went ahead and echoed the plaintext password variable as suggested by @tysonjhayes and the $clearTextPassword variable reports the correct password that I'm giving it.

`$clearTextPassword = $Credential.GetNetworkCredential().Password
                    write-verbose "decrypted password reporting as: $clearTextPassword"

                    if ($appPool.processModel.password -cne $clearTextPass

[2017-09-23 00:57] madmikep commented on #301
I have two servers configured the same way DEV and QA  both have 3 appPools with the same name using a process ID.   The Dev server works fine.  But the QA server dose not the AppPool stops when you try to access the websites.  I added the Write-Verbose lines and ran the Start-DSCConfiguration and it reported back the encrypted has that's in the MOF file not the password.  I then ran appcmd.exe li

[2017-09-23 00:59] madmikep commented on #301
Verbose reports the certificate :"-----BEGIN CMS-----
HASH
-----END CMS-----"

[2017-09-23 19:32] jhenders1973 commented on #301
Hey Mike....that is exactly the same situation as mine. It´s confusing as hell....as i said in an earlier post maybe this is a lower level IIS issue or maybe macine policy??? Not sure of your set up but certainly on mine i have alot more control Security wise on my QA environment that DEV so maysome sort sort of policy. I gave up looking and just used a work around.....not ideal but Production is

[2017-09-25 13:31] jwainwright commented on #301
My issues were resolved by going to WMF 5.1 in the end. I have had no issues since completing the upgrade. However, I did have to change my certificate to a DocumentEncryptionCert certificate for WMF 5.1, but if you have one server that works already I would assume you have done that already.
Your issue sounds as though you are not decrypting the encrypted password string(which was my original iss

[2017-09-26 00:37] madmikep commented on #301
I have been on WMF 5.1 since it came out, it fix a lot of my problems.     Now back to the problemt I have done some more testing on the QA system.   If I configure the LCM to only apply the ConfigurationNames = QA_IntranetMgmt_AppPool.  It will decrypt the password and apply it. If I add more PartialConfiguration to the LCM it goes back to applying the certificate encode as the password.   VERBOS

[2017-09-26 13:29] jwainwright commented on #301
Interesting. I wonder does the additional partial configs use different encryption certificates? or no certificate for encryption at all?

[2017-09-26 17:47] madmikep commented on #301
The only configuration that uses the encryption is the AppPool one.

[2017-09-26 20:12] jwainwright commented on #301
I wonder if you had all of the configuration in one MOF if it would have the same issue or if you add the decryption to the other partial configs if it would work.

[2017-09-27 21:03] madmikep commented on #301
I tried it on another test server that I have and the results are the same.  I open the MSFT_xWebAppPool.psm1 and copied the Test-TargetResource Function  I am trying to see where it reads in the credential information from the MOF and where it takes that information and decrypts it and what the result is.

[2017-09-29 18:44] madmikep commented on #301
@jwainwright After work on the Test-TargetResource it would not test the credentials and just did not have the time to figure out how it reads in the data from the MOF file.  So I combined all 8 Configurations in to one and combined the 6 HashTables in to one file.  It is now working it creates the 3 AppPools and applies the password correctly and not the certificate encoding.    The only problem

[2017-10-02 16:33] jwainwright commented on #301
@madmikep You said "So I combined all 8 Configurations in to one and combined the 6 HashTables in to one file". What Hashtables are you refering to? Are you referring to the encrypted passwords that start with "-----BEGIN CMS-----". Also, how did you combine them.... did you write a new script to join them or just add them all to the same MOF file manually?

[2017-10-22 01:45] Hossman58 opened #318 "Please Add support for DoAppIntAfterRestart"
Currently I have to run a separate PS script to make sure this is set on all of our PROD websites, but it would be nice to be able to set this in xWebsite and xWebApplication:

<code>
Set-WebConfigurationProperty -pspath 'MACHINE/WEBROOT/APPHOST' -location 'Default Web Site' -filter "system.webServer/applicationInitialization" -name "doAppInitAfterRestart" -value "True"
</code>

[2017-10-22 02:41] Hossman58 commented on #317
How are you creating the _$Cred_ variable?

[2017-11-06 18:45] #183 closed

[2017-11-06 18:45] #311 closed

[2017-11-09 15:47] robs24 opened #320 "IP address and Domain Restrictions"
Is there much in the way of interest for this? I currently use a script resource to import an array of IP addresses/ranges which works well, but could look at integrating this into the module if enough people want?

[2017-11-15 12:51] rsawer commented on #297
are you planning to correct this issue or it will be left that way ?

[2017-11-15 21:53] remcoeissing commented on #297
Seems that I fixed this as part of #319 . There was a unit test that failed an I changed it to `$EnabledProtocols -join ','`. So this should be in release 1.19.0.0.

However I noticed that the Get never returns the proper result. I've put that on my list and will create a pull request for this.

[2017-11-16 07:20] toomuchmunsch commented on #302
I can confirm as well commenting out Authentication Info does the trick.

[2017-11-21 07:19] matt6697 opened #322 "Windows integrated authentification - useAppPoolCredentials=true"
Kerberos authentification on a web application running under a service account (Application Pool Identity / SpecificUser) requires to setup the following variables under system.webServer/security/authentication/windowsAuthentication

useAppPoolCredentials = true
useKernelMode=false

xWebAppPool allowed me to configure the Application Pool Identity service account on my application pool but how can

[2017-11-22 07:28] rsawer commented on #297
thanks for feedback, can't wait for new release!

[2017-11-22 21:39] remcoeissing commented on #297
@rsawer Version 1.19.0.0 was released on November 15th. So you should be able to set multiple protocols now.

[2017-11-23 11:50] remcoeissing commented on #322
That can currently not be done with a builtin DSC Resource. You could use the Script resource to achieve this.

`
Configuration WindowsAuthenticationExample
{
    param(
        [Parameter(Mandatory = $true)]
        [String]
        $Site,

        [Parameter(Mandatory = $true)]
        [Boolean]
        $AppPoolValue
    )

    Import-DscResource –ModuleName 'PSDesiredStateConfiguration'

    Sc

[2017-11-23 21:28] matt6697 commented on #322
Works like a charm ;-) Tks

[2017-12-04 16:18] duk3ofed commented on #241
+1

[2017-12-12 17:49] tbearok opened #323 "When using xiismodule, test does not recognize that the module is already present."
The following config works the first time, but subsequent times, always returns an error because it doesn't recognize that the setting is already there.  It's a non-terminating error, but does cause the overall config to report a failure.

xIisModule phpHandler
        {
            Name = "phpFastCgi"
            Path = "c:\tools\php72\php-cgi.exe"
            RequestPath = "*.php"
            Ve

[2017-12-13 22:14] tbearok commented on #323
Example of the output:
[phpmodulelog.txt](https://github.com/PowerShell/xWebAdministration/files/1557302/phpmodulelog.txt)

[2017-12-18 14:06] andikrueger commented on #323
I'm facing the very same error with this configuration:

[code]

[2017-12-18 14:20] andikrueger commented on #323
I tried to debug the resource. Even though the module configuration is fine, the function Test-TargetResourceImpl will return $false.

Eventually line 393 is causing this issue:
[code]
Variable | Value
------ | ------
$moduleConfigured | $true
$ModuleType | FastCgiModule
resourceStatus.EndPointSetup | $false

[2017-12-19 17:48] matt6697 commented on #322
Would be great to integrate this as a DSC resource. Any plan to add this to a next sprint ?

[2017-12-20 13:38] remcoeissing commented on #314
I started investigating this issue. I tried it on several machines and with WMF 4.0 and 5.0 it seems to work just fine. The problem occurs only on machines where I have WMF 5.1 installed.

[2017-12-20 21:50] leovic0101 commented on #301
I have the same issue with partial configuration when using an encrypted password. However, it works when not using partial configurations.

[2017-12-29 12:26] mivica opened #325 "Stopped Default web site starts after reboot"
Hi, I am using the below resource to ensure default web site is stopped on Win 2012 R2 server. It works fine initially, but after reboot, I am finding default website started and running making DSC configuration not complaint. I tried several combinations but they all work the same. Any ideas anyone?

xWebsite StopDefaultWebSite {
	Name = "Default Web Site"; Ensure = "Present"; State = "Stopped";

[2018-01-03 22:09] DaveFranks opened #326 "Failure & Fix to Get-AuthenticationInfo function within xWebApplication module"
Windows 10; PowerShell V5.1

Calling function Get-TargetResource within the xWebApplication module using the ISE:
[code]
I've seen a lot of different threads in here where the workaround was to comment out the AuthenticationInfo return value within the Get-TargetResource function, but all that is doing is ignoring the actual error.

What I found (for v5.1 at least) is the function Get-Authenticati

[2018-01-10 11:28] cezarypiatek commented on #241
+1

[2018-01-13 21:01] rsganta opened #327 "Question: Enable IIS for sharepoint installation"
I am trying to enable IIS logging for sharepoint product on a VM.

Any examples for xIISModule of DSC ?

[2018-01-15 06:51] remcoeissing commented on #327
I don't think you are looking for an example of xIISModule, instead you probably want examples of xIISLogging.

Examples:
- Logging rollover: https://github.com/PowerShell/xWebAdministration/blob/dev/Examples/Sample_xIisLogging_Rollover.ps1
- Truncate logs: https://github.com/PowerShell/xWebAdministration/blob/dev/Examples/Sample_xIisLogging_Truncate.ps1

Not sure what you want to log, but we have

[2018-01-15 23:24] turkeys-united commented on #249
Hi @mbreakey3, I noted in the contribution guidelines that I need to ask permission before starting work on an issue without the "help wanted" label... I have code & tests ready to contribute for this issue, can I please pick this one up?

[2018-01-16 00:01] PlagueHO commented on #249
Hi @turkeys-united - the help is always gratefully accepted! One of the [maintainers](https://github.com/PowerShell/DscResources/blob/master/Maintainers.md) for this repo can mark this issue as in progress so that the community knows you are working on it. The maintainer for this repo is @tysonjhayes - Tyson, are you able to mark this as in progress for @turkeys-united?

[2018-01-16 02:32] rsganta commented on #327
thanks @remcoeissing . Hope we can use both log period and log truncate size in the same block.

xIisLogging IISLogging

        {

            LogPath = $ConfigurationData.NonNodeData.IISLogpath
            Logflags = @('Date','Time','ClientIP','UserName','ServerIP')
            LoglocalTimeRollover = $true
            LogPeriod = 'Hourly'
            LogTruncateSize = '2097152'
            LogFo

[2018-01-17 22:10] rsganta commented on #327
@remcoeissing , can we use both log period and log truncate size in the same block?

[2018-01-22 11:03] bulentozkir opened #328 "Disable Debugging for ASP.NET Applications"
Is there any example for setting debug value to false using this module?

https://support.microsoft.com/en-us/help/815157/how-to-disable-debugging-for-asp-net-applications

[2018-01-22 12:28] onurbiyik commented on #328
I think it can be done via xWebConfigKeyValue. Just pass in "compilation" and "debug" as parameters.

[2018-01-23 03:28] #327 closed

[2018-01-24 13:02] Flybersite opened #329 "Cannot bind argument to parameter 'Filter' because it is null"
Hi,

When using the xWebApplication resource I get the following error:

**Cannot bind argument to parameter 'Filter' because it is null**

When looking at the errors in the Event Viewer, I can find the following:

The DSC configuration block I built looks like the following:

[code]

[2018-02-07 07:46] ykuijs commented on #314
Raised the issue with the PowerShell Product Group. They were able to reproduce the issue in WMF 5.1 and are looking for a solution.

[2018-02-07 07:47] ykuijs commented on #302
Updates for this problem are in issue #314

[2018-02-08 02:00] regedit32 commented on #249
Could this be as simple as removing the current validateSet of 'AppSettings' on the $ConfigSection parameter?  This would allow a user to specify any Configuration Section path they wanted and should work as-is.

[2018-02-08 19:04] PraveenKalavai opened #331 "xWebVirtualDirectory Fails to create a virtual directory if it already exists"
xWebVirtualDirectory Services
           {
                Name =  "Services"
                Website = $Node.WebsiteName
                WebApplication = $WebApplication
                PhysicalPath = "F:\docs\tfs\"
                Ensure =  "Present"
                DependsOn       = '[xWebsite]NewWebSite'
            }

Desired Behavior : The resource should detect the virtual directory exists,

[2018-02-08 22:03] konste opened #332 "BUG in SSL certificates assignment to bindings"
Repro:
[code]
Despite different CertificateThumbprint specified for the first and second binding BOTH get the same (first) certificate assigned!

[2018-02-08 22:50] konste commented on #332
I have found the bug. Would it help if I work on PR? I have noticed very little activity on that project and don't want to waste time if it is not needed.

[2018-02-09 16:57] rvf148 commented on #298
Any progress on this issue? Same over here...

[2018-02-12 09:36] FabianHubX opened #333 "Returns wrong thumbprint when using "Subject" as certificate identifier"
Config:

[code]
If multiple certificates with the same subject are found, the returned thumbprint is a merge of all found certificates.

Error message:

"0F26652D3DB7152F6B575E53D85B8B80BBDD3603 BC80F9BF4E861EA972F0B88644AFA5ECD90B4C2D" is valid. Error: "Value does not fall within the expected range.".
    + CategoryInfo          : InvalidOperation: (:) [], CimException
    + FullyQualifiedErrorId

[2018-02-27 21:33] nathanyeung opened #336 "Adding a Sub Virtual Directory Under a Virtual Directory"
I'm trying to use the xWebAdministration to add a sub virtual directory under a virtual directory and I'm unable to create the sub virtual directory within the virtual directory.

                if($_.Name -match "Images" -and $_.Website -match "Website") {
                    $AdminImagesVirtualDirectory = xWebVirtualDirectory "$($_.Website)_$($_.Name)_$($_.WebApplication)_Virt".Replace(" ","").

[2018-02-27 21:35] turkeys-united commented on #249
I submitted https://github.com/PowerShell/xWebAdministration/pull/330 a while back to address this, just wondering if anyone's had / will have a chance to review any time soon? Thanks!

[2018-02-28 19:06] nathanyeung commented on #336
I was able to create a sub virtual directory by using images/common for the Name

[2018-03-01 06:44] rsawer commented on #332
I have the same issue here, seems that it appeared after version 1.17.0.0 or I've missed that somehow

[2018-03-07 16:36] mavratar commented on #249
Initial testing of xWebConfigProperty_Add resource has allowed me to to set certain configuration settings outside of AppSettings.  I am having an issue setting configuration settings that have their section locked.  I would think that during the Get/Set/Test phase locked sections would become unlocked to make changes and then locked again.

[2018-03-07 22:05] turkeys-united commented on #249
@mavratar Thanks for taking a look.
Your suggestion certainly sounds like it could be a useful feature, although I don't have any plans to introduce it at this stage. Have you found that other resources in the xWebAdministration module that result in changes to config files _do_ perform this for you? I'm wary of extending these new resources in a way that's inconsistent with how other resources be

[2018-03-13 20:12] regedit32 commented on #315
@rosberglinhares I used the updated resource in your fork and it works great.  Are you going to submit a PR for this?

[2018-03-14 15:32] mavratar commented on #249
Hello, I have found that xIisFeatureDelegation allows write access to sections that normally don’t have it.  The problem I’m running into is that once I re-lock the section using xIisFeatureDelegation, my Get-DscConfiguration and Test-DscConfiguration fail because the section is locked again.  I understand the concerns you have about introducing side-effects and do appreciate the work you’ve done

[2018-03-14 20:57] nehrua opened #337 "Refactor xIisHandler to eliminate the need for hard coding handler data"
Please reference the proposed schema below.  The idea is to allow the new resource to accept parameterized input that will be leveraged to create web handlers that include those hard coded in the current resource, as well as those not hard coded.  I'm working on this update, but wanted to get feedback on the proposed schema.

[code]

[2018-03-15 14:31] tehaon opened #338 "Enable/Disable directory browsing for website"
This could be just me, but based on the docs/examples I was unable to find a way to manage the directory browsing for a website. If I'm wrong, could someone provide me with an example how. If it's accurate, can I request this feature?

[2018-03-16 16:17] bozho commented on #325
To prevent website autostart, site's property ServerAutoStart needs to be set to $false, which xWebsite currently does not support.

I plan to submit a PR with the fix soon.

[2018-03-20 23:35] zacharyshupp commented on #230
I am having the same issue. We have brand new servers and I created a basic app pool and receive the below errors. The application pool is created but its disabled, the DSC job fails. I'm only trying to set the application pool to NetworkService

I'm using v1.19.0.0
Windows Server 2012 r2

[code]

Below is the what i have for the command.

[code]

[2018-03-21 01:35] #293 closed

[2018-03-21 01:37] #279 closed

[2018-03-23 08:21] onurbiyik commented on #105
Now that this issue is closed, Is this feature not going to be implemented at all? or is there a different approach?

[2018-03-23 12:04] artisticcheese commented on #105
Nobody worked on it for last 2 years, what's the point of having it open? Hence I closed it.

[2018-04-09 23:32] konste commented on #332
@remcoeissing Any chances to see recent fixes released soon?

[2018-04-10 15:35] zcla opened #343 "managedRuntimeVersion = 'v1.1'"
This is a question, not an issue, but I don't know how to apply the "question" label.

I tried to find this answer, but I didn't succeed, so I try to ask here:

I have an IIS server that needs to host old ASP 1.1 applications, but xWebAdministration will not let me put `managedRuntimeVersion = 'v1.1'`. I always get this error: `At least one of the values 'v1.1' is not supported or valid for proper

[2018-04-12 11:19] rhys-intelliflo opened #344 "Extend xWebConfigKeyValue Support"
https://github.com/PowerShell/xWebAdministration/blob/d022234030fb71a5c1d293aac9a1ee1ccaeac867/DSCResources/MSFT_xWebConfigKeyValue/MSFT_xWebConfigKeyValue.psm1#L98

Why is this configured to only allow 'AppSettings'?

Is it better to remove the validateset ?

[2018-04-12 18:01] whytoe commented on #287
Any updated on this one?

[2018-04-19 19:08] DaveFranks opened #345 "xWebApplication enhancement - specific user credentials for physical path"
When adding an application there is no way to supply a specific user to the physical path.  The default of "Application User (pass-through authentication)" will not work if alternate credentials are required to the location. This is especially true when using UNC paths to other devices.

This is a request to enhance the module to accept a specific user credential for the physical path that the app

[2018-04-23 09:08] Davidsod opened #346 "xWebSite - multiple HTTPS bindings use the same certificate"
Hello,

I'm using the following configuration:
[code]

and this code:
[code]

And for some reason, the result I'm getting is two https bindings but instead of having a different thumbprint as configured in the configuration, both of them have the SNI checked and same **Thumbprint1** instead of different thumbprint for each binding.

I've managed to reproduce this issue as a part of DSC configurati

[2018-04-23 09:15] Davidsod commented on #346
It seems like there's already an open issue on this matter #332, closing my issue.

[2018-04-23 09:15] #346 closed

[2018-04-23 10:30] johlju commented on #332
Not sure there are a PR for this? I label this as help wanted so that someone in the community can run with it.

[2018-04-23 10:36] johlju commented on #305
@Devvox93 I can't you find a PR from you, either open or closed. You never sent in a PR? 🙂

[2018-04-23 10:49] johlju commented on #105
@onurbiyik @artisticcheese Reopening this issue since there are PR that has been proposed for this.

[2018-04-23 11:11] Devvox93 commented on #305
@johlju I actually meant PR #308. But seeing your latest comment there I will be implementing what I suggested. So no PR yet as I've been busy with other work, but in a few days I'll be able to implement as I suggested in #308 and create a new PR with a mention of this issue. :)

[2018-04-23 13:42] konste commented on #332
I plan to work on it today and hopefully have a PR soon. I’m also tired of working around this issue every time.

[2018-04-23 13:52] johlju commented on #332
@konste awesome! Then I label this as in progress, let me know if that changes (you get other prioritize) .

[2018-04-23 17:29] konste commented on #332
@johlju , @Davidsod , PR created: https://github.com/PowerShell/xWebAdministration/pull/347

[2018-04-23 20:44] rosberglinhares commented on #315
Yes @regedit32, for sure! Once I have time I will do it ok?

[2018-04-24 07:04] johlju commented on #315
@rosberglinhares It is a breaking change if we add another mandatory parameter. I labeled this issue as such, just prefix the PR title with 'BREAKING CHANGE:' and the change log entry the same. Looking forward to your PR! 🙂

[2018-04-24 11:40] Davidsod commented on #332
@konste , Just patched my servers and it works like MAGIC! really appreciate it!

[2018-04-24 11:42] Davidsod commented on #332
Obviously, it would be nice to have this fixed through xWebAdministration package of course :)

[2018-04-24 12:36] johlju commented on #314
@ykuijs Have you heard of a solution to this yet?

[2018-04-24 12:37] johlju commented on #302
As @madmikep mentioned above, the following.

[code]

Returns
[code]

And `PSComputerName` does not exist in the schema.mof

https://github.com/PowerShell/xWebAdministration/blob/d022234030fb71a5c1d293aac9a1ee1ccaeac867/DSCResources/MSFT_xWebsite/MSFT_xWebsite.schema.mof#L15-L22

Would a workaround be to add PSComputerName to the schema? Although, if this is a bug in WMF 5.1 as mention here https:

[2018-04-24 12:41] johlju commented on #314
@ykuijs Added a comment to the other issue https://github.com/PowerShell/xWebAdministration/issues/302#issuecomment-383914623. Was it the conclusion, that it was the extra field `PSComputerName` that generates this error?

[2018-04-25 11:54] johlju commented on #29
I have marked the PR #13 as abandoned so that someone else can continue the work.

[2018-04-25 12:01] johlju commented on #44
I'm closing this issue as resolved. Please reopen or comment if this isn't true.

[2018-04-25 12:01] #44 closed

[2018-04-25 12:08] johlju commented on #42
Maybe https://github.com/PlagueHO/FileContentDsc could be extended to solve this manipulation instead?

[2018-04-25 12:45] johlju commented on #61
I labeled PR #162 as abandoned so that someone else can continue the work.

[2018-04-25 12:48] johlju commented on #79
Closing this issue as solved.

[2018-04-25 12:48] #79 closed

[2018-04-25 13:26] johlju commented on #80
I think @MarvTheRobot did something like this [Install and Configure a Group Managed Service Account with PowerShell](https://blogs.technet.microsoft.com/pstips/2017/08/24/install-and-configure-group-managed-service-account/)

It doesn't seem to been work done on this yet. The resource still expect to set a password. No check is made to see if it is a managed account (as proposed above). To see if

[2018-04-25 13:50] johlju commented on #81
I have reopen the PR and labeled it abandoned and hopefully the author wish to continue the work on it, otherwise I hope another contributor want to continue the work.

[2018-04-25 14:08] johlju commented on #325
This is being worked on in PR #339

[2018-04-25 15:37] ykuijs commented on #314
@BerheAbrha is the engineer that troubleshooted this issue and submitted PR #335 to fix this issue. As it turns out there is an issue with the specified type of the instance, where WMF 5.1 has an additional check which resulted in this issue. The PR should fix this issue.

Unfortunately tests for this PR are failing. I have asked him to update the PR.

[2018-04-25 15:40] ykuijs commented on #302
The proposed fix in PR #335 should also be implemented in xWebsite

[2018-04-25 15:49] johlju commented on #314
@ykuijs Thanks for the clarification!

[2018-04-25 16:17] johlju commented on #94
@rosberglinhares Maybe the resource should have an option to connect to the UNC path prior setting up the virtual directory? Maybe there could be an credential parameter that triggers this `New-PSDrive`?
But will the virtual directory reconnect automatically once created if the `PSDrive` ould be disconnected?

[2018-04-25 16:40] johlju commented on #124
This is being worked on in https://github.com/PowerShell/xWebAdministration/pull/290.

[2018-04-26 04:17] regedit32 opened #348 "Set-WebConfigurationProperty/Set-ItemProperty inconsistency under LCM context"
There seems to be an issue with the Set-WebConfigurationProperty and Set-ItemProperty cmdlet when using it to set certain IIS settings under certain conditions.  This was discovered while addressing Issue #267 to manage log custom fields.  It was a niche scenario, but running the same Set-WebConfigurationProperty twice consecutively always ensured the expected setting was applied.  This also only

[2018-04-26 07:12] ykuijs commented on #302
PR #335 is updated to also include a fix for this issue.

[2018-04-26 07:38] johlju commented on #170
@guitarrapc Thanks for the detailed issue description, with this information it is hopefully simpler for someone to run with this. It would be good to get a proposed schema.mof for the proposed general purpose xApplicationHostConfig resource. Would this replace any existing resource?

[2018-04-26 07:42] PlagueHO commented on #42
Definitely - this was going to be one of the targets for this once I get the XML support in there. It is on the backlog.

You can still use it for changing some XML values by using the ReplaceText resource.

[2018-04-26 08:16] johlju commented on #176
There is a xSSLSettings resource that seems to set SSL for a Website. I'm closing this issue, since it seems there is a solution, if that is not the case, and the resource does not support your scenario, then please reopen this issue, or if someone else know this will not support this issue, then please commetn and I will reopen the issue. Thanks!

[2018-04-26 08:16] #176 closed

[2018-04-26 08:38] guitarrapc commented on #170
Yes, I do believe so.
mof would require Schema's several infos.

* filter
* location
* name
* value

Also Operator would be required.

* Ensure (Present = SET, Absent = REMOVE)

so the mof schema will be... similar to the following.

string Ensure : Key
string Filter : Required
string Location : Required
string Name : Required
string Value : Write